[2017-08-14 11:45] stuclem opened #568 "Improve "Deploy a VCH" heading in Getting Started page"
I'm not sure that the difference between the **Deploy a VCH** and **Deploy a Demo VCH** headings is sufficiently clear.

![deploy_vch](https://user-images.githubusercontent.com/16718369/29270206-e8d585c0-80f5-11e7-9e55-ec10d8703fab.png)

Could we change **Deploy a VCH** to **Deploy Production VCHs**, or something similar, just to make it 100% apparent that we're talking about two different things?

[2017-08-14 11:52] stuclem commented on #567
Related to https://github.com/vmware/vic-product/issues/554, but not exactly the same.

[2017-08-14 11:57] stuclem opened #569 "Management Portal still says "Admiral" in browser tab"
In chin-vic-c2506807-dev-upgrade.ova the main title bar of the Management Portal now correctly includes **vSphere Integrated Containers**, but the text in the browser tab is still **Admiral**. Also, the favicon is the Clarity logo, rather than the VIC logo:

![admiral](https://user-images.githubusercontent.com/16718369/29270663-29eab89e-80f8-11e7-84a6-c6bc3546f10e.png)

[2017-08-14 14:10] stuclem commented on #483
@alextopuzov and I are seeing the same issue with our setup, and @andrewtchin asked that I report our experience here.

 After deploying `chin-vic-c2506807-dev-upgrade.ova` this morning, I was able to use SSO credentials to successfully log in to the Management Portal at port 8282. After a certain time (cannot say for sure how long, maybe 45 minutes, maybe less) the UI seemed to become unresponsiv

[2017-08-14 14:29] stuclem commented on #557
https://github.com/vmware/vic/pull/5993 is merged

[2017-08-14 14:40] stuclem opened #571 "Document that default VCH is added to default project"
Per https://github.com/vmware/vic/issues/4732 and https://github.com/vmware/vic-product/issues/542, which is implemented in PR https://github.com/vmware/vic-product/pull/545.

[2017-08-14 14:46] mdubya66 commented on #556
Putting this in the 1.3 release for now

[2017-08-14 15:03] andrewtchin commented on #569
@stuclem can you reopen this is the Admiral repo and close this one?

[2017-08-14 15:06] andrewtchin commented on #556
@morris-jason implemented the redirect from 80 -> 9443 and this feature will be in the next build

[2017-08-14 15:06] #556 closed

[2017-08-14 15:20] andrewtchin commented on #568
Please also comment on #551  as it is related

[2017-08-14 15:28] morris-jason commented on #483
Saw this again last week in my test environment. Same behavior that @stuclem reported.

[2017-08-14 15:36] stuclem opened #572 "Remove 9443 from appliance URLs in docs"
Per https://github.com/vmware/vic-product/issues/556, users can specify http://ova-address without specifying https or port 9443, and they will be redirected to the appropriate URL.

Remove https/9443 from the docs, for simplicity.

[2017-08-14 15:37] andrewtchin commented on #483
@sergiosagu will be triaging this issue tomorrow

[2017-08-14 16:12] #132 closed

[2017-08-14 16:12] #283 closed

[2017-08-14 16:12] #302 closed

[2017-08-14 16:12] #307 closed

[2017-08-14 16:12] #314 closed

[2017-08-14 16:12] #317 closed

[2017-08-14 16:12] #529 closed

[2017-08-14 16:23] andrewtchin commented on #567
@ali5ter @lweitzman Could you comment? We were thinking of putting a spinner to the left of the login button

[2017-08-14 16:26] andrewtchin commented on #554
@ali5ter @lweitzman Could you comment on where the success message should appear on the Getting Started page?
@karthik-narayan There aren't really logs for this and error messages should be displayed within the login modal

[2017-08-14 16:34] andrewtchin commented on #564
@lgayatri please do not test images that don't start with `vic` as other images are private dev builds.
I verified this exists on a build from master. Closing and moving to Harbor.

[2017-08-14 16:34] #564 closed

[2017-08-14 16:35] #76 closed

[2017-08-14 16:39] stuclem commented on #306
Closed in https://github.com/vmware/vic-product/pull/532

[2017-08-14 16:39] #306 closed

[2017-08-14 16:39] stuclem commented on #128
Closed in https://github.com/vmware/vic-product/pull/532

[2017-08-14 16:39] #128 closed

[2017-08-14 16:39] stuclem commented on #530
Closed in https://github.com/vmware/vic-product/pull/532

[2017-08-14 16:39] #530 closed

[2017-08-14 16:40] stuclem commented on #95
Epic completed in https://github.com/vmware/vic-product/pull/532

[2017-08-14 16:40] #95 closed

[2017-08-14 16:43] stuclem commented on #327
Not in 1.2

[2017-08-14 16:43] stuclem commented on #382
Not in 1.2

[2017-08-14 16:52] #572 closed

[2017-08-14 17:27] karthik-narayan commented on #554
If there are no logs that's fine, but I was thinking that there'd be a status icon on the top right or something that shows "Installation successful" or "Installation failed" with a "Retry" button.

[2017-08-14 18:02] ali5ter commented on #568
@stuclem I'm not completely opposed to this idea and very much agree with using consistent language for the demo VCH installer mentioned in #551.

Regarding the 2nd point: Out of the list that @morris-jason mentions, my vote is 'Demo VCH installer wizard' but I submit to @stuclem wordsmith'ing.

As to the first point: The vic-machine method (and the vSphere Plugin VCH wizard) do indeed allow you t

[2017-08-14 19:00] ali5ter commented on #567
The original mocks I delivered used a Clarity spinner in the dialog (see image)
![screen shot 2017-08-14 at 2 56 45 pm](https://user-images.githubusercontent.com/265869/29286706-f4f13c90-8100-11e7-8c7b-3d39bbfb13b6.png)

InVision link to specific mockups: https://vmware.invisionapp.com/d/main#/projects/boards/5321651/162480836

Link to the InVision project that contains these mocks: https://vmware

[2017-08-14 19:27] ali5ter commented on #554
So right now, when you go to the 'getting started' page (hosted on port 9443 of the appliance), you will get a login prompt to continue the installation.

After the user provides the vSphere credentials,  the last part of the installation can be done (tagging the appliance VM from what I remember). If there is a problem with this last step, then a Clarity notification should appear in the dialog i

[2017-08-14 19:31] andrewtchin commented on #554
Initialization is complete after the appliance is tagged and PSC is initialized. Both of these happen after the correct vSphere creds are entered. Jason just put up a change to only show the login modal the first time

[2017-08-14 19:39] ali5ter commented on #554
Which is the way it should work.

I'm thinking that a Clarity success notification can be used (see image)
![screen shot 2017-08-14 at 3 38 25 pm](https://user-images.githubusercontent.com/265869/29288439-bfc549de-8106-11e7-9c31-f1de1c0bd1e4.png)

[2017-08-14 20:23] #484 closed

[2017-08-14 20:42] karthik-narayan commented on #554
@ali5ter The clarity success notification fits the bill.

[2017-08-15 07:20] stuclem commented on #103
Confirmed with @sflxn that this is not in 1.2.

[2017-08-15 07:20] stuclem commented on #316
Confirmed with @sflxn that this is definitely in 1.2.

[2017-08-15 07:49] stuclem opened #575 "Document that default trust level for container networks is published"
Per comment from @willsherwood in https://github.com/vmware/vic/issues/6010, this means that if you want to access a port group's "80" port, you need to supply `-p 80` to the docker create/run command.

[2017-08-15 08:49] stuclem opened #577 "Document OVA initialization API"
Per https://github.com/vmware/vic/issues/5639 and https://github.com/vmware/vic/issues/4995, implemented in https://github.com/vmware/vic-product/pull/456.

This API it replaces logging in on 9443 after OVA deployment, so that users can automate creation of VIC appliances.

[2017-08-15 09:56] stuclem commented on #483
Trying this again with the newest build (`vic-0963d9b5-dev.ova`). It seems that the first ever login to the management portal always works. Subsequent logins result in the white screen described above.

[2017-08-15 11:00] stuclem commented on #557
In fact, if you specify config after the other options, the operation now fails:

[code]

[2017-08-15 14:47] stuclem commented on #377
Per demo by @andrewtchin, the new upgrade procedure includes running a script on the appliance after the currently documented steps, as was the case for upgrading from Harbor 0.5 to VIC Registry 1.1.

[2017-08-15 15:56] sflxn opened #580 "Feature request: OVA installed VM auto time synced on startup"
As a user of the OVA, I expect a vic-product VM deployed to self generate certificates to be fully time synced on start, even if my host VC is out of sync.

---

In a production environment, this is usually not an issue as admins probably have every server time sync'd as a checklist item.  For development and for evaluation purposes, if I deploy the OVA with self generated certs but my VC is not p

[2017-08-15 16:42] ali5ter opened #581 "Display icons in the Getting Started page"
There are no icons visible for each section of the Getting Started page. These icons come with the Clarity Icon System (https://vmware.github.io/clarity/documentation/iconography)

The mockup showing these can be found at: https://vmware.invisionapp.com/share/46CB0FVU2

[2017-08-16 10:21] lgayatri commented on #564
Thanks @andrewtchin for letting me know.

[2017-08-16 10:51] lgayatri commented on #565
Seeing the same issue with https://storage.googleapis.com/vic-product-ova-builds/vic-44dd1d94-dev.ova

After registration at 9443, I accessed 8282 which takes forever to open.
[code]

[2017-08-16 10:51] lgayatri commented on #565
[code]

[2017-08-16 14:01] stuclem commented on #483
I deployed the latest OVA build today. The bug wherein you had to log in to perform the initialization of the OVA the first time you visited the Getting Started page seems to have been fixed (thanks @andrewtchin !).

It appears that this issue was the cause of the blank screen on later attempts to log in to the management portal, as @sergiosagu suspected. @alextopuzov and I both just successfully

[2017-08-16 14:36] sergiosagu commented on #483
Closing this issue as per @stuclem's last comment. The actual problem seemed to be related to #484 and avoiding multiple registrations with PSC.

[2017-08-16 14:36] #483 closed

[2017-08-16 14:38] stuclem commented on #377
We must also document that after the upgrade, the VIC Registry address that appears in Management Portal at **Administration** > **Registries** is the old address. The user must edit the registry manually to insert the address of the new VIC appliance.

[2017-08-16 14:39] #569 closed

[2017-08-16 14:39] stuclem commented on #569
Issue moved to [vmware/admiral #168](https://github.com/vmware/admiral/issues/168) via [**ZenHub**](https://www.zenhub.com/)

[2017-08-16 14:45] andrewtchin commented on #377
The registry address that appears in the new Management Portal after upgrade is the migrated IP address, so if the IP address of the new appliance is different than that of the old appliance, the migrated IP address will no longer be valid as a registry. The user should delete the now invalid IP address listed as a registry. The Management Portal automatically adds as a registry the Harbor registr

[2017-08-16 17:44] andrewtchin opened #584 "Upgrade script improvements"
- [x] Add log file
- [x] Write fileserver file to prevent login modal on Getting Started Page after upgrade

[2017-08-16 18:35] anchal-agrawal commented on #565
@sergiosagu @gmuleshkov could you take a look at this issue? Thanks.

[2017-08-16 19:28] #581 closed

[2017-08-16 20:00] #531 closed

[2017-08-16 20:59] andrewtchin commented on #568
@stuclem @ali5ter @lweitzman So I'll change all references to be `Demo VCH Installer Wizard`. What was the conclusion for the Deploy a Demo VCH vs Deploy a VCH?

[2017-08-17 05:46] lgayatri commented on #565
@sergiosagu @gmuleshkov
I have live environment @10.197.37.132 -root/Admin!23
VCSA used : 10.197.37.191 - administrator@vsphere.local/Admin!23

[2017-08-17 06:11] reasonerjt commented on #565
See the same issue with build: vic-73d10421-dev.ova

Curled this URL:
[code]

Note there's the same "CastleError" in header, similar as what I met in #483

[2017-08-17 07:24] stuclem commented on #551
Per https://github.com/vmware/vic-product/issues/568#issuecomment-322263124, @ali5ter votes for **Demo VCH installer wizard**. I think that's my preferred term too.

[2017-08-17 09:07] stuclem commented on #568
@andrewtchin I updated https://github.com/vmware/vic-product/issues/551 to vote for **Demo VCH installer wizard**.

@ali5ter, I think that your comment "The vic-machine method (and the vSphere Plugin VCH wizard) do indeed allow you to stand up a production ready VCH" only applies to 1.3. In 1.2 the wizard is definitely for demo purposes only, and the vSphere plug-in wizard isn't there. So, in the

[2017-08-17 09:15] #316 closed

[2017-08-17 09:19] stuclem commented on #287
I think that we have now documented all Docker commands that have been added in 1.2.

@chengwang86 and @sflxn, before I close this, can you please confirm that the issues in this Epic cover all of the new commands? Thanks!

[2017-08-17 09:27] #557 closed

[2017-08-17 11:11] stuclem commented on #377
Thanks @andrewtchin

[2017-08-17 11:18] stuclem commented on #289
Implemented in PR https://github.com/vmware/vic-product/pull/582.

@alextopuzov can you please take this on?

[2017-08-17 11:44] stuclem opened #586 "Initialize VIC Appliance button in Getting Started breaks Management Portal"
In the most recent builds of the OVA (`chin-vic-3b4b61e8-upgrade.ova`), there is a new **INITIALIZE VIC APPLIANCE** button on the Getting Started page.

If you successfully deploy the OVA and finalize the installation by logging into VC, you can access the Management Portal without problems. However, as described in https://github.com/vmware/vic-product/issues/483, multiple log-ins cause Managemen

[2017-08-17 11:58] ali5ter commented on #568
@stuclem digesting your content and will post a design shortly.
quick thoughts...
* I like calling out 'Full Functionality' for deplying a non-demo VCH
* I wonder with the task cards if we've lost some value by not listing the tasks. I understand that this might be easier to maintain and assume the Read More links to the tasks in the documentation. Thoughts?

[2017-08-17 12:19] stuclem commented on #568
Thanks @ali5ter.

The tasks/doc links currently listed under Post-Install & Deployment Tasks are all covered by the READ MORE links in each subheading under Post-Installation & Deployment Tasks in my version above (the READ MORE links in my proposal are live links that point to the relevant topics). So, for everything vSphere admin-related, we have the same doc links as currently, but without dupl

[2017-08-17 12:38] stuclem commented on #568
How about something like this?

-------

#  vSphere Integrated Containers Management Portal

Go to the vSphere Integrated Containers Management Portal to perform configuration tasks and to run container development projects.

## Configuration Tasks

**Cloud administrators** use the Management Portal to configure vSphere Integrated Containers, create development projects, manage registries, and man

[2017-08-17 13:49] ali5ter commented on #568
A couple of layouts to illustrate your content proposal @stuclem
![screen shot 2017-08-17 at 9 43 10 am](https://user-images.githubusercontent.com/265869/29415276-89f89b22-8330-11e7-97d4-237307fe6941.png)

Again, I likes the direct guided approach to an ordered list of tasks to perform which appear in the original design.

We were careful not to declare roles in the previous design if you remember

[2017-08-17 14:01] anchal-agrawal commented on #565
According to https://github.com/vmware/vic-product/issues/483#issuecomment-322792081, registering with PSC multiple times could cause a problem. However, I checked @lgayatri's setup and the logs of the getting started page (`journalctl -u fileserver`) show that the PSC `register` command ran only once for each service.

[2017-08-17 15:33] stuclem opened #588 "Document how to validate vCenter Server certificate"
We currently tell people to blindly copy the thumbprint from the vic-machine output. This is highly questionable from a security POV.

The proper thing to do is to check the cert in the PSC: **Certificate Management** > **Machine Certificates** > select cert > **Show Details**.

[2017-08-17 19:00] ali5ter opened #591 "Getting Started page: Fix UX of the 'initialize VIC App..' button"
Currently a Clarity outline button is displayed to the right of the Getting Started page title if the continued installation process from this page fails. (see image)

![screen shot 2017-08-17 at 11 29 11 am](https://user-images.githubusercontent.com/265869/29428740-451ccfe2-835c-11e7-8553-09de7b292d4c.png)

(Note: The Document button should be aligned to the right with a gutter of 24px from the r

[2017-08-17 19:20] ali5ter commented on #554
Slight update to this mockup based on a conversation with @andrewtchin, @jooskim and @stuclem this morning (see image)

![screen shot 2017-08-17 at 3 18 04 pm](https://user-images.githubusercontent.com/265869/29429609-4bdffdb0-835f-11e7-9454-397dab886767.png)

The alert text should mention that vCenter Services should be restarted. The text might be linked to the section of the docs that explains

[2017-08-17 19:24] andrewtchin commented on #591
@ali5ter Could you also provide a mockup that includes the equivalent of the Initialize VIC Appliance button that's not in the Clarity alert? This functionality is required because this operation may be required later even if the initialization succeeds the first time.

[2017-08-17 19:25] jooskim commented on #554
Looping in @cristianfalcone @jak-atx
Thanks @ali5ter. Just to check again, there will be a button for reinitializing the plugin (and maybe retagging the OVA VM), is that correct?

[2017-08-17 19:25] ali5ter commented on #591
In my earlier explanation there is a Clarity flat button at the bottom of the page. This is intended as a tertiary action.

[2017-08-17 19:26] andrewtchin commented on #591
Tasks for this issue:
- [ ] Remove Initialize VIC Appliance button
- [ ] Add clarity alert with reinitialize link
- [ ] Add link at bottom to reinitialize

[2017-08-17 19:29] andrewtchin commented on #554
@jooskim Thats in #591. I think both of these should be in 1.2 since the error messages now are not clear

[2017-08-17 19:35] jooskim commented on #554
Ok, sorry for the confusion. The services need to be restarted after the plugins have been installed successfully, and we said the automated plugin installation would come in 1.3. So putting the message now seems a bit early at this point, as it would mislead the user into believing that tagging the OVA VM requires restarting the vCenter services.

Also @ali5ter, "restart the vCenter services" cou

[2017-08-17 20:21] andrewtchin commented on #554
What's the dest url of the restart vSphere Client services link?

[2017-08-17 20:42] ali5ter commented on #554
after taking to @jooskim, the wording to restart vCenter services should not be in v1.2 release.
Will capture this in the v1.3 designs.

[2017-08-17 20:59] jooskim commented on #554
@andrewtchin Probably a URL to the corresponding documentation page. @stuclem please confirm if my understanding is correct.

[2017-08-17 21:07] ali5ter commented on #555
As mentioned in #567...

The original mocks I delivered used a Clarity spinner in the dialog (see image)
![screen shot 2017-08-14 at 2 56 45 pm](https://user-images.githubusercontent.com/265869/29286706-f4f13c90-8100-11e7-8c7b-3d39bbfb13b6.png)

InVision link to specific mockups: https://vmware.invisionapp.com/share/QYD37KV84

Link to the InVision project that contains these mocks: https://vmware.

[2017-08-17 21:11] ali5ter commented on #555
This looks like a dupe of #567

[2017-08-17 21:18] ali5ter opened #593 "'Getting Started' page: Icons not showing"
Clarity Icons on the Getting Started page are not showing up.

InVision link to specific mockups: https://vmware.invisionapp.com/share/QYD37KV84

Link to the InVision project that contains these mocks: https://vmware.invisionapp.com/share/9ABZ94N57

Clarity icons: https://vmware.github.io/clarity/documentation/iconography

[2017-08-17 21:21] jooskim commented on #593
For some reason necessary JS files are missing from /opt/vmware/fileserver/ (see the screenshots below). FYI those files exist in the master branch of this repo. @morris-jason @andrewtchin @jialin-li

![image](https://user-images.githubusercontent.com/3834071/29434225-c4e0ab62-8367-11e7-8e85-1a16549aadbf.png)

![image](https://user-images.githubusercontent.com/3834071/29434249-dc692c3c-8367-11e7-9

[2017-08-17 21:23] morris-jason commented on #593
Are you using the latest build? I fixed this yesterday in #581

[2017-08-17 21:23] jooskim commented on #593
Regarding the console error above, the server returns the content of the `index.html` instead of returning a 404 error state. This is another bug to be resolved.

[2017-08-17 21:24] jooskim commented on #593
@morris-jason just found that issue. did not know it was closed. yeah i haven't had a chance to deploy any latest ova, but it's good that it got resolved. thanks!

[2017-08-17 21:25] #593 closed

[2017-08-17 23:44] #584 closed

[2017-08-18 01:52] #551 closed

[2017-08-18 07:18] lgayatri commented on #565
@sergiosagu In the admiral code, do we check for vmafd.jar?
[code]

[2017-08-18 07:25] lgayatri commented on #565
If my target VCSA is 6.5U1 GA, then I see:
[code]
If my target is 6.6.1, then I see
[code]

[2017-08-18 07:32] sergiosagu commented on #565
@lgayatri - The NPE that you saw using the 6.6.1 instance should be gone in the latest OVA, but still it doesn't seem to work with 6.6.1 (at least in my local env it doesn't work). I'll keep investigating... cc @lcastellano

@reasonerjt - You mentioned that you see the same issue, can you confirm what VCSA/PSC version you are using? 6.0.x GA? 6.5.x GA? 6.6.1?

[2017-08-18 08:23] lgayatri commented on #565
@sergiosagu I used latest build: https://storage.googleapis.com/vic-product-ova-builds/vic-73d10421-dev.ova

[2017-08-18 08:55] stuclem commented on #554
@jooskim yes I think that's fine. Thanks! Do you want a link just to a doc that describes how to restart the client services? At the moment those instructions are embedded in the topics on installing/upgrading the plug-ins. Do you want me to pull those instructions into a separate topic?

[2017-08-18 09:16] sergiosagu commented on #565
@lgayatri - that's from 2017-08-16, 2 days ago, so probably doesn't contain the update I did yesterday which I mentioned before.

[2017-08-18 09:24] lgayatri commented on #565
@sergiosagu - Is this build: vic-42ddaaa6.ova good?

[2017-08-18 09:37] stuclem commented on #183
This is being addressed in the general overhaul of the overviews

[2017-08-18 09:39] stuclem commented on #86
https://github.com/vmware/vic/issues/2163 is no longer in 1.2

[2017-08-18 13:28] stuclem opened #600 "Document support for docker diff"
According to @chengwang86 we added support for `docker diff` in 1.2.

[2017-08-18 13:55] anchal-agrawal commented on #565
@lgayatri That build is based off https://github.com/vmware/vic-product/commit/42ddaaa6cf86df669d1fb334e099b2164d3e1ff5 and should be good, but since it wasn't announced on the Slack channels I can't say for sure.

[2017-08-18 13:59] anchal-agrawal commented on #565
@sergiosagu Is the fix in the PSC jar or Admiral's `vic_dev` image? Is there a way to check whether the fix is present (build number/commit)?

[2017-08-18 14:02] sergiosagu commented on #565
@anchal-agrawal - It's in `vic_dev` image. You should check the jar and so on, the lib is built separately (and in a different repo) and has no particular build number.

[2017-08-18 14:32] #600 closed

[2017-08-18 14:45] #319 closed

[2017-08-18 15:19] #198 closed

[2017-08-18 15:31] jooskim commented on #554
@stuclem That would be desirable. Since restarting the vSphere Client services is a necessary step for the plugin installation, it should stand out as much as possible in the Getting Started page once it's implemented. I have been looking for some ways that do not require root access to perform the `service-control` operations on the client services, and it indeed seems possible to restart the H5

[2017-08-18 15:42] #560 closed

[2017-08-18 15:45] stuclem commented on #287
Reviewed by @chengwang86 by Slack. Closing.

[2017-08-18 15:45] #287 closed

[2017-08-18 16:08] stuclem opened #604 "Move doc about restarting VC client services into a separate topic"
Because of https://github.com/vmware/vic-product/issues/554, we need to move the docs about restarting the VC client services out of the install/upgrade plugins topics and into a topic of their own.

[2017-08-18 16:09] stuclem commented on #554
@jooskim I opened https://github.com/vmware/vic-product/issues/604 to move the instructions about restarting the clients into a standalone topic.

[2017-08-18 16:16] stuclem opened #605 "Update links in Getting Started page"
@jooskim and @andrewtchin, I have done some reorganization of the docs that means that some of the links on the Getting Started page are now broken.

We need to update the following links:

**2. Add hosts to the manage the management portal** The link is OK but the text should be **2. Add hosts to the management portal**.
**4. Create users** should be **4. Add users**, and the link should be https

[2017-08-18 16:17] jooskim commented on #605
Pinging also @jak-atx @cristianfalcone

[2017-08-18 16:23] jooskim commented on #604
I noticed that this has release label `VIC Product 1.2 Docs`, but the feature (automated UI plugin installation) will actually be implemented in 1.3. Should this be relabeled?

[2017-08-18 20:14] mdubya66 commented on #567
not a stopper for 1.2. feature as well, so medium

[2017-08-18 20:16] mdubya66 commented on #605
making high. stopper for 1.2

[2017-08-18 22:03] anchal-agrawal opened #606 "VIC Engine cannot add static routes"
@gucarreira commented on [Thu Aug 17 2017](https://github.com/vmware/vic/issues/6060)

In my environment I need to add some static routes because my default gateway doesn't know my NSX LAB.

**Details:**
VIC Engine is a Photon OS, but every time when I change /etc/systemd/network/09-vic.network and when restart network, my file is overwritten.

**Acceptance Criteria:**
I add some properties in vAP

[2017-08-21 09:17] lgayatri opened #608 "Have a common suffix between admiral,harbor and engine for solution users"
![image](https://user-images.githubusercontent.com/25006749/29512077-db0bda64-867e-11e7-9cdb-404ef1c30a3b.png)
From this screenshot, it is very hard for me to identify the mapping between the solution users that get created for  admiral,harbor and engine. I had about 200+ such solution users on PSC and as I could not find the mapping, had to delete all of them.

The highlighted text shows how vpxd

[2017-08-21 09:22] lgayatri commented on #608
vic-73d10421-dev.ova

[2017-08-21 09:24] lgayatri opened #609 "Do not create Solution users again if OVA is registered already with VCSA"
vic-73d10421-dev.ova
I registered OVA more than once and noticed that 3 solution users get created each time. For a given OVA, if we have registered with VCSA once, then we should not be creating solution users again.  At one point of time, I had about 200+ solution users for admiral, engine and harbor.

![image](https://user-images.githubusercontent.com/25006749/29512572-1eedfaae-8680-11e7-968c-4

[2017-08-21 10:46] sergiosagu commented on #608
You can use the "Valid To" column to identify the solution users created, approximately, at the same time (i.e. same deployment).
The suffix of those solution users is just another UUID to distinguish a particular instance, like PSC itself does with users like vpxd-*, vpxd-extension-* and so on.

[2017-08-21 10:46] #608 closed

[2017-08-21 10:56] lgayatri commented on #565
Dont have live environment any more, but can say that with PSC 6.6.1, Admiral wont show up.

[2017-08-21 12:06] lgayatri opened #610 "Reregister with new PSC"
OVA build: vic-73d10421-dev
OVA IP :10.197.37.132 - root/Admin!23
PSC: 6.5U1 GA build

Steps:
1 . https://10.197.37.132:9443/ was registered with PSC: sc-rdops-vm01-dhcp-29-66.eng.vmware.com-10.160.29.66 on 8/18
2.  PSC went down on 8/18 after few hours
3.  I registered https://10.197.37.132:9443/ with new PSC: 10.133.146.15. The solution users got created successfully
![image](https://user-images

[2017-08-21 12:08] sergiosagu commented on #610
See https://github.com/vmware/admiral/issues/174#issuecomment-323723537.

[2017-08-21 22:05] #555 closed

[2017-08-21 22:05] #567 closed

[2017-08-21 22:43] jak-atx commented on #554
@mdubya66 For this one we will need an indication from the backend whether the VIC appliance was successfully initialized. In Andrews absence is there anyone to take this up to get into 1.2?

[2017-08-22 09:58] stuclem commented on #604
This is for 1.3. Removing from the 1.2 release and sending back to Not Ready.

[2017-08-22 14:47] ali5ter opened #612 "Install plugin doc: curl command needs -L option"
[Documentation titled. "Install the Client Plug-Ins on a vCenter Server Appliance"](https://vmware.github.io/vic-product/assets/files/html/1.2/vic_vsphere_admin/plugins_vcsa.html), procedure 2 explains the curl command to download the vic binary from the appliance (OVA) file-server

The '-L' option is missing. This makes sure curl negotiates the redirect that was introduced in v1.2 to get to the A

[2017-08-22 15:01] ali5ter opened #613 "Install plugin doc: Minor enhancements"
Some thoughts to enhance [documentation titled. "Install the Client Plug-Ins on a vCenter Server Appliance"](https://vmware.github.io/vic-product/assets/files/html/1.2/vic_vsphere_admin/plugins_vcsa.html):
* Pre-reqs bullet that reads "Go to the vCenter Server Appliance Management Interface (VAMI) at https://vcsa_address:5480, click Access, and make sure that Bash Shell is enabled." might usefully

[2017-08-22 16:32] mdubya66 commented on #554
@anchal-agrawal can you take a look

[2017-08-22 16:51] stuclem commented on #340
Role descriptions added by @alextopuzov in https://github.com/vmware/vic-product/pull/614

[2017-08-22 17:06] jak-atx commented on #554
@cristianfalcone please sync up with @anchal-agrawal on this thanks.

[2017-08-22 19:16] singhshwetaQE opened #615 "POST OVA deployment- log on to screen console, text appear to be misaligned"
OVA Build: https://storage.googleapis.com/vic-product-ova-builds/vic-44836534-dev.ova

![capture 3](https://user-images.githubusercontent.com/29071304/29583004-532d7528-8744-11e7-8fc8-0c60b5416e52.PNG)

[2017-08-22 19:45] singhshwetaQE opened #617 "VIC upgrade 1.1 to 1.2 migrated containers not displayed after appliance is powered off"
OVA Build : https://storage.googleapis.com/vic-product-ova-builds/vic-73d10421-dev.ova

**Steps:**
- Followed Upgrade steps 1.1 to 1.2
- Powered on new appliance
- Ran upgrade script
- Log on to screen console
- Log on to Admiral UI
- Validated migrated data in Admiral UI - 2 containers and 1 VCH  from 1.1 was migrated successfully.
- Delete old appliance
-Power off new appliance/ shutdown guest O

[2017-08-22 20:00] anchal-agrawal commented on #554
Needed backend changes are in #616.

[2017-08-22 20:43] #605 closed

[2017-08-22 21:02] cristianfalcone commented on #554
Needed frontend changes are in #619.

[2017-08-22 21:14] jak-atx commented on #554
All related PR's merged

[2017-08-22 21:14] #554 closed

[2017-08-22 22:12] anchal-agrawal commented on #554
Didn't get a chance to verify expected behavior before PRs were merged. Verified now:

<img width="1431" alt="success-message" src="https://user-images.githubusercontent.com/4361620/29589842-93328b5a-875c-11e7-9d58-102a99adf786.png">

The alert doesn't appear upon refreshing the page and on subsequent hits, unless a re-init is performed.

[2017-08-22 23:17] andrewtchin commented on #610
@sergiosagu I'm not clear on what the OVA needs to do here - could you please clarify?

[2017-08-23 00:06] lcastellano commented on #609
Solutions users are created with randomized ids, this was done to allow multiple instances of Admiral to run against the same vSphere (PSC) instance. To change the behavior we need to change the Admiral bits that register with the PSC.

[2017-08-23 07:35] #422 closed

[2017-08-23 07:38] sergiosagu commented on #610
@andrewtchin - Basically make sure at least that if the VIC deployment tries to be re-registered with a different PSC:
- Admiral is stopped before the re-registration starts (maybe Harbor needs to be stopped as well).
- The re-registration process of Admiral & Harbor updates/overrides the original configuration files.
- Admiral & Harbor are properly started after that.

[2017-08-23 07:44] sergiosagu commented on #609
Probably it's better to try to delete the old solution user when you want to register a component again. In any case, it looks like an enhancement and you can always clean up the unnecessary solution user from the PSC UI.

[2017-08-23 07:57] stuclem commented on #610
This will require some documentation. @sergiosagu are we talking about 1.2 here? Thanks!

[2017-08-23 08:12] stuclem commented on #613
Thanks @ali5ter, these are useful observations.

[2017-08-23 10:58] gmuleshkov commented on #617
It looks like that the upgrade for admiral and the data transformations were successful because right after the upgrade script the entities were available in the new admiral.
I suppose it is something related to the volumes that are attached on start of the admiral container inside the ova. @andrewtchin @anchal-agrawal can you please take a look. Let me know if I can help with something.

[2017-08-23 12:28] sergiosagu opened #620 "The server.crt should include its root certificate ca.crt for Docker hosts to work with the default Harbor registry"
An added Docker host is not able to connect to the default Harbor registry in VIC with the current SSL certificate settings.

When a registry (e.g. the default Harbor registry) is added to Admiral, Admiral checks if that registry is using a self-signed certificate and if so it copies the certificate to all the configured Docker hosts. In the VIC scenario the default Harbor SSL certificate is not s

[2017-08-23 13:37] pdaigle commented on #613
I would also recommend documenting the requirement for `awk` for both the `install.sh` and `upgrade.sh` scripts.

For example, `awk` is not installed by default on Photon OS.

Both install.sh and upgade.sh fail if `awk` is not present:

![image](https://user-images.githubusercontent.com/8586715/29618564-92b41e84-87e6-11e7-940b-525ed49a8887.png)

[2017-08-23 15:38] andrewtchin commented on #610
@sergiosagu Thanks, how often would this be an issue? If it's often we should update the upgrade script to perform the actions you described.

[2017-08-23 16:28] singhshwetaQE commented on #617
I retried to locate migrated VCH and containers in Admiral UI - logout and logged back in - Migrated VCH and containers still not displayed in Admiral UI. Then I cleared browser cache and logged again -finally I was able to see VCH and containers in Admiral UI. But from customer point of view it's not a good experience if they can't see changes in UI  and need to clear browser cache or manual refr

[2017-08-23 16:28] #615 closed

[2017-08-23 16:34] andrewtchin commented on #565
@lgayatri Is this only in 6.6.x?

[2017-08-23 16:39] andrewtchin commented on #617
This sounds like the eventual consistency issue in Admiral. Sometimes items do not show up for a long time

[2017-08-23 16:44] andrewtchin commented on #617
I confirmed with Shweta that all expected items do show up eventually.
@sergiosagu @gmuleshkov ping so this is on your radar, but closing this issue as known. Let me know if you want us to open a corresponding issue in Admiral

[2017-08-23 16:44] #617 closed

[2017-08-23 16:50] lgayatri commented on #565
@andrewtchin , Yes.

[2017-08-23 17:00] andrewtchin commented on #565
@lgayatri Thanks, could you verify if this has been fixed with the next build that comes out (probably 1.2-rc1)? If it's not fixed, we'll have Admiral team investigate further

[2017-08-23 17:02] lgayatri commented on #565
@andrewtchin Ok, will the build be ready by tomorrow morning?

[2017-08-23 20:20] #252 closed

[2017-08-23 20:21] andrewtchin opened #626 "OVA Console version"
![screen shot 2017-08-23 at 3 13 48 pm](https://user-images.githubusercontent.com/1649165/29636558-a9e90846-8816-11e7-9599-a1fad93a12e0.jpg)
Since we're not using Drone build, fix OVA console version to be `<tag>-<short commit hash>`

[2017-08-23 21:38] jonathanibers commented on #626
![ova console](https://user-images.githubusercontent.com/30810490/29639724-5db2fbf2-8821-11e7-9444-644af11ed5b9.png)

New version

[2017-08-24 14:02] anchal-agrawal opened #628 "The login modal doesn't disappear after a successful init via the /register endpoint"
Found by @sergiosagu.

If the OVA is initialized with the `/register` API (https://github.com/vmware/vic-product/pull/456), the timestamp file isn't written on disk, which causes the Getting Started page to still show the login modal.

Fix: include the timestamp logic in https://github.com/vmware/vic-product/blob/master/installer/fileserver/register.go#L31.

[2017-08-24 14:25] andrewtchin opened #629 "Upgrade script should automatically get Harbor password"
As an admin upgrading the VIC appliance I want to not have to manually provide the Harbor database user/password values to the upgrade script.

Acceptance criteria:
- [ ] Get the password from harbor.cfg

@stuclem

[2017-08-24 14:48] andrewtchin commented on #565
Admiral team is waiting on PSC team to rev the PSC integration libs. After that we will see if it works with 6.6.x

[2017-08-24 15:06] stuclem commented on #629
I could document how to find the password in the config files, but I'm not really comfortable with that, so pulling it in automatically would definitely be better.

[2017-08-24 15:15] gucarreira opened #630 "Improve repository description"
Could you improve the description and what are the differences between vic-product and vic in the vmware repository?

thanks,

Gustavo

[2017-08-24 15:44] andrewtchin commented on #630
@gucarreira Is there something specific you would like added? The readme in vic-product describes that vic-product includes three components, including VIC Engine from vmware/vic

[2017-08-24 16:11] stuclem opened #633 "Document NTP as a prereq for OVA installation"
According to @andrewtchin we should document that all vCenter Server hosts and ESXi hosts should have NTP set up, to avoid issues with clock skew. This is an  environment prereq before installing the appliance.

[2017-08-24 16:42] #628 closed

[2017-08-24 17:10] #633 closed

[2017-08-24 17:25] gucarreira commented on #630
At first I opened an issue in the VIC project and should have opened it in vic-product, because it was something related to the OVA properties.
I've tried before opening in which project I should have done, but in readme it does not make it clear what the vic-project project is using via OVA or features core stay in vic and productization in vic-project.

But on second thought might be better vmwa

[2017-08-24 17:59] andrewtchin commented on #630
I see. I'll look at adding a notice about that to the default issue template in vmware/vic

[2017-08-24 18:07] andrewtchin commented on #630
Would this text in the issue template for vmware/vic meet your needs?
[code]

[2017-08-24 18:33] andrewtchin opened #637 "Getting Started Page verifies thumbprint"
As an administrator I want to verify that vCenter credentials are sent to the authentic vSphere API endpoint only.

- [ ] Prefetch and show the remote thumbprint for vCenter for user verification
- [ ] Use the thumbprint in for API connection in the registration

[2017-08-24 18:35] andrewtchin opened #638 "Demo VCH Installer edit command"
As a user I want to use the Demo VCH Installer Wizard to deploy more complex VCH configurations.

- [ ] Display `-x` options somewhere (get UX feedback for this)
- [ ] Make the command preview field into a textbox so the user can modify it with other options before executing

[2017-08-24 18:53] ali5ter commented on #591
Clarity flat button for re-initializing the Appliance does not appear in the latest RC1 build

[2017-08-24 19:00] jooskim commented on #591
by the way code is frozen now for 1.2

[2017-08-24 19:02] andrewtchin commented on #591
@jooskim We can get this into master and pull it into the release branch for rc2 as I think this functionality is required

[2017-08-24 19:03] jooskim commented on #591
@andrewtchin good to know. @cristianfalcone is now on it.

[2017-08-24 19:04] andrewtchin commented on #591
Thanks amigos

[2017-08-24 20:16] #591 closed

[2017-08-24 20:23] andrewtchin commented on #610
@lgayatri @sergiosagu Under what cases does the PSC change? Does this mean that the appliance was moved to a new vCenter or something?

[2017-08-24 20:54] gucarreira commented on #630
It's good, in the future should help others peoples.
Thanks

[2017-08-24 23:57] mdubya66 commented on #630
We should also add admiral and harbor issues @andrewtchin

[2017-08-25 07:09] sergiosagu commented on #610
@andrewtchin - The ability of re-registering VIC with a different PSC is there, in case a customer needs it, but I'm not sure if that's because any particular use-case (which we could declare as unsupported anyway). PMs may answer your questions.

[2017-08-25 07:24] wy65701436 opened #643 "[VIC RC] The Photon image should not be scanned by default."
I tried to deploy the OVA RC build, but notice that there is one pre-pulled photon image in the default project, and it shows as scanned.  It's not reasonable to scan photon at this time as the vulnerabilities data haven't updated yet.

It should be showed as "Not scanned".

![image](https://user-images.githubusercontent.com/2841473/29703430-207e659a-89a8-11e7-9a75-b2cd86e4f1e3.png)

[2017-08-25 09:23] stuclem opened #644 "Document how to register VIC Appliance with a new PSC and install/upgrade plug-ins after deployment"
Per https://github.com/vmware/vic-product/issues/610.

@karthik-narayan is this something that we need to support?

[2017-08-25 09:26] stuclem opened #645 "Document how to download Registry certificate"
As shown in https://github.com/vmware/admiral/issues/159#issuecomment-324839256, the link to download the Registry cert has moved.

[2017-08-25 09:30] stuclem commented on #645
Currently, only cloudadmins can access the certificate, but hopefully this will change to allow DevOps and developers to access it too.

[2017-08-25 10:35] stuclem opened #646 "Clarify that you can't use --insecure-registry with VIC Registry"
We state that you must use `--registry-ca`, but we do not state that you cannot use `--insecure-registry`.

[2017-08-25 10:42] #39 closed

[2017-08-25 10:42] #77 closed

[2017-08-25 12:33] stuclem opened #649 "Document pre-upgrade checks for Admiral projects"
Per Slack chat with @gmuleshkov, before you attempt to upgrade from 1.1.1 to 1.2, you must make sure that any Admiral projects that you created in 1.1.1 only have lower-case characters in their names. Otherwise, upgrade fails.

[2017-08-25 13:19] stuclem commented on #649
Another comment from @gmuleshkov:

If the name of the default project was changed in admiral before upgrade in the new admiral the name will be reset to default-project.

[2017-08-25 14:49] stuclem opened #651 "Inconsistencies in OOTB user names and descriptions between UI, PSC and OVA"
The out-of-the-box users that come with the appliance use names that do not match the user roles that you can select in the UI.

![users](https://user-images.githubusercontent.com/16718369/29717655-2fbb3440-89b0-11e7-8b05-837c2a77080d.png)

The role names used in the default user names and descriptions do not match the names as they are defined in the UI. Specifically, the UI uses **DevOps Adminis

[2017-08-25 15:50] anchal-agrawal commented on #651
/cc @lcastellano Can we fix this for 1.2?

[2017-08-25 16:17] #626 closed

[2017-08-28 08:36] alextopuzov commented on #651
Also, what's the default password for the users?
The password text box shows with predefined symbols, so there must be a default password?

May be it's best to have the box empty and leave it to the user to define one?

[2017-08-28 09:56] stuclem commented on #645
See also https://github.com/vmware/harbor/issues/3117, in which a button is possibly being added to the Registries UI in 1.2.

[2017-08-28 10:04] stuclem opened #654 "Document that default debug level is 1, not 0"
If we do merge https://github.com/vmware/vic/pull/6102 in 1.2, we should update the description of `vic-machine create debug` accordingly. Including in the 1.2 release until confirmation of whether this is in or out.

[2017-08-28 10:22] angel-ivanov commented on #649
Hello, the allowed characters for valid project name are: alhpha-numeric characters, periods, dashes and underscores, lowercase only and length <= 254. The regular expression we use to validate the project name is "[a-z0-9]+(?:[._-][a-z0-9]+)*".

[2017-08-28 10:42] stuclem commented on #588
From @ali5ter via Slack:

Alister Lewis-Bowen [7:19 PM]
...the way you can get  the thumbnail from your VC is to use openssl to inspect the cert as you connect to it, e.g. `echo -n | openssl s_client -connect [vc_fqdn]:443 2>/dev/null | openssl x509 -noout -fingerprint -sha1`

this does indeed extract the thumbprint from my local VC but will check that  it correponds with the one the vic-machine r

[2017-08-28 11:02] alextopuzov commented on #651
Giving this a more serious thought, I'd say that from UX, security, product, documentation point of view, for these OOTB users, if a customer decides to create them (select the checkbox), than we'd better make the password box mandatory and leave it blank so that the customer enters the password.

Can we do that for 1.2, it shouldn't be a big deal?

[2017-08-28 12:57] stuclem commented on #649
Thanks @angel-ivanov. I added this information in https://github.com/vmware/vic-product/pull/632/commits/ce4028fa36cbcc51678c666f15289dd2204cef78.

[2017-08-28 14:29] #620 closed

[2017-08-28 14:50] andrewtchin opened #659 "Workaround for resizefs script"
Unknown issue seen in customer environment
Workaround is to remove all `set -e` in this script https://github.com/vmware/vic-product/blob/23204216c475f669ac0088a67c9288053c564835/installer/packer/scripts/systemd/resize_data_volume.sh#L15
Note in a comment in the script that we are not failing on RC != 0

[2017-08-28 15:33] angel-ivanov commented on #649
Great, thank you, @stuclem !

[2017-08-28 15:44] stuclem opened #664 "Run link-checker on final output before publication"
https://github.com/vmware/vic-product/pull/656 shows that broken links are slipping through the net. Before GA, we must run a link checker on the HTML output.

[2017-08-28 15:50] andrewtchin commented on #610
@lgayatri Was the appliance moved to a different vCenter after the first PSC went down? What does it mean the PSC went down?

[2017-08-28 15:59] #646 closed

[2017-08-28 16:08] stuclem commented on #312
Thanks @ywk253100 - for some reason I'm only noticing your comment now. This issue is not relevant to the bundled Registry in the OVA.

[2017-08-28 16:08] #312 closed

[2017-08-28 16:14] stuclem commented on #67
https://github.com/vmware/vic/issues/3619 has moved out to 1.3.

[2017-08-28 16:15] stuclem commented on #107
https://github.com/vmware/vic/issues/2802 is in 1.3

[2017-08-28 16:16] stuclem commented on #207
https://github.com/vmware/vic/issues/4778 is not in 1.2

[2017-08-28 16:19] stuclem commented on #320
This is being covered by the topics on installation and upgrade, by https://github.com/vmware/vic-product/issues/340, and by the general rewrite of the Registry/MP UI procedures. Redundant.

[2017-08-28 16:19] #320 closed

[2017-08-28 16:23] emlin commented on #108
@stuclem I think we didn't change this mechanism in 1.2, we still cannot work if user changed datastore name

[2017-08-28 16:25] stuclem commented on #108
Thanks @emlin - moving this one out of 1.2.

[2017-08-28 16:31] stuclem commented on #323
According to @emlin this caveat is still valid in 1.2. Removing this one from the release.

[2017-08-28 16:37] stuclem commented on #321
Related to https://github.com/vmware/vic-product/issues/69

[2017-08-28 16:47] andrewtchin opened #666 "Document that we use 172.x networks in VIC Appliance"
We use networks 172.17.0.0-172.22.0.0/16 in the VIC Appliance. This means the appliance's routing table contains routes for these subnets, but this causes issues if the user attempts to access any services running on the appliance from a subnet that the appliance has a directly connected route for. The symptoms of this are that services are running on the appliance, but when accessing the manageme

[2017-08-28 16:52] andrewtchin opened #667 "Allow user to specify internal Docker networks"
https://github.com/vmware/vic-product/issues/666
As a user I want to specify what subnet internal Docker networks use so that they do not interfere with existing IP addressing.
This needs research on how to do this in Docker

Acceptance criteria:
- [ ] Specify internal networks from OVA deploy wizard
- [ ] Specify internal networks from OVA init API
- [ ] Use specified networks for docker containe

[2017-08-28 17:28] lcastellano commented on #651
As far as I know there is no way to avoid requiring the password all the times in the ovf form. So if we leave it empty the user will have to provide a password even when creation is unchecked. Which I think is really confusing.

[2017-08-28 17:48] andrewtchin opened #668 "Document troubleshooting for appliance startup failure"
## Prerequisites
- Deployed a VIC appliance OVA successfully
- Found in VIC appliance v1.1.1

## Symptoms
- Cannot login to VIC appliance root account from DCUI or SSH using password set during OVA deploy

## Cause
- An early startup process failed, causing user provided password to not be set

## Identifying the issue
- Login to the appliance from the DCUI or SSH using `root` account with the def

[2017-08-28 17:50] andrewtchin opened #669 "Change default appliance password"
Change to something that's easier to enter on DCUI
https://github.com/vmware/vic-product/blob/master/installer/packer/packer-vic.json#L8

[2017-08-28 17:54] sgairo commented on #654
Looks like its in :)

[2017-08-28 18:58] #630 closed

[2017-08-28 22:24] anchal-agrawal commented on #586
/cc @sergiosagu Seeing this issue on a build from the latest release branch (a few commits ahead of RC1): https://storage.googleapis.com/vic-product-ova-builds/vic-eebab0ba-dev.ova

After the PSC `register` command runs once and the Admiral starts, the Admiral UI loads just fine. Upon pressing the `re-initialize appliance` button (which runs the PSC `register` command), the Admiral UI still loads

[2017-08-28 22:53] anchal-agrawal commented on #586
I also see the token expiration timeout set to 30 minutes:

<img width="905" alt="admiral-token" src="https://user-images.githubusercontent.com/4361620/29796974-d3e62b04-8c19-11e7-8f53-0a26da9cb25d.png">

@sergiosagu Is this for the PSC token? We've set the `get-token` refresh command to run every hour in the OVA.

[2017-08-29 00:58] pdaigle opened #675 "Add port 2377 to exposed ports on dch"
**User Statement:**

As an AppDev, I want to be able to stand up multiple dch instances and join them to a docker swarm to test deploying applications as a stack on top of swarm

**Details:**
VIC 1.2 switched the default port expose behavior from `open` to `published` on container networks. The current `Dockerfile` for dch-photon publishes only ports 2375 and 2376. port 2377 is necessary for docke

[2017-08-29 06:14] sergiosagu commented on #586
@stuclem / @anchal-agrawal - I don't know what the re-initialize appliance button is supposed to do in general, and related to Admiral in particular. Is it described anywhere what that button is doing?

@anchal-agrawal - The token expiration timeout of that Configuration screen is something related strictly to Harbor (it's in the Registry tab). Nothing to do with any Admiral session or token.

[2017-08-29 08:40] stuclem commented on #588
Per https://github.com/vmware/vic-product/pull/663#discussion_r135584783 from @zjs, @ali5ter 's suggestion isn't very secure: "I don't think this is a good recommendation; an attacker could man-in-the-middle both this connection and subsequent vic-machine invocations. If this happened, the thumbprints would match (since both are the attacker's certificate) and the attacker would learn the user's v

[2017-08-29 08:53] stuclem commented on #334
Just requires a link to the PSC docs in the topic on adding users in MP

[2017-08-29 09:46] stuclem commented on #654
Yup, thanks @sgairo. Moving to To Do.

[2017-08-29 09:59] lgayatri commented on #610
@andrewtchin , PSC can be repointed from Embedded to external and from one external to another external. This can also happen in scenarios where we have PSC-HA, in upgrade.
PSC went down means the VM on which PSC was running got powered off.

[2017-08-29 10:20] stuclem commented on #526
This is also the case for attempts to access VIC Management Portal on Chrome. Clearing certificates out of Personal and Trusted Root Certification Authorities did not solve the problem for me for the VIC MP.

Searching through the other certificate folders, I found a bunch of VMware self-signed certs in the following places:

![oldcert](https://user-images.githubusercontent.com/16718369/29816395-3

[2017-08-29 10:25] stuclem commented on #526
Is this problem exclusive to Windows 10? I don't recall it ever happening on my Windows Server 2008 VM. I have no idea about Mac or Linux.

[2017-08-29 10:52] stuclem commented on #586
@sergiosagu @anchal-agrawal I see that the button is now located less prominently at the bottom of the page. That's much better, but it still poses a significant risk of someone pressing it and breaking their UI.

@anchal-agrawal why do we actually need this button in 1.2? I thought that it was purely for restarting the client plug-ins in 1.3...

[2017-08-29 11:01] stuclem commented on #586
Thinking about this a bit more, I think that it's too risky to have this button in the Getting Started page if we can't overcome the issue of multiple logins to PSC. Can we not document how to SSH into the appliance and restart it at the command line? At least this way people won't do it by mistake...

I suppose I need to understand better what the circumstances are in which you would need to rein

[2017-08-29 12:57] anchal-agrawal commented on #586
@sergiosagu The button performs two tasks, one of which is running the PSC `register` command. So pressing the button and then entering the correct vSphere credentials would cause multiple registrations with PSC, since the first registration would have happened earlier when the user finished the init step on the Getting Started page.

Can we handle multiple PSC registrations, or should we prevent

[2017-08-29 12:59] anchal-agrawal commented on #586
Also pinging @andrewtchin for input.

[2017-08-29 13:10] anchal-agrawal commented on #586
I think 3 is the most robust solution here, since we also have the `/register` API where the user can manually preform the re-init tasks (which includes the PSC registration). Checking for the presence of PSC config files seems like a good approach, unless there's a better way to check the validity of the PSC registration. @sergiosagu, what do you think?

[2017-08-29 14:38] #383 closed

[2017-08-29 14:51] stuclem commented on #645
https://github.com/vmware/harbor/issues/3117 won't be fixed in 1.2, so the cloud admin is responsible for distributing certs.

[2017-08-29 14:54] stuclem opened #681 "Document the Initialize Appliance button"
Per https://github.com/vmware/vic-product/issues/586, I finally understand what this button is for. If https://github.com/vmware/vic-product/issues/586 gets fixed, then we document when to use it.

If https://github.com/vmware/vic-product/issues/586 doesn't get fixed, we must document that users must never click it, ever.

[2017-08-29 15:24] stuclem commented on #339
This is being addressed in individual issues. Closing this one, as it's redundant.

[2017-08-29 15:24] #339 closed

[2017-08-29 15:27] stuclem commented on #313
I don't think that there is anything to document here, based on the conversation in https://github.com/vmware/admiral/issues/98, and the fact that placement is automatic in 1.2.

[2017-08-29 15:27] #313 closed

[2017-08-29 15:34] andrewtchin commented on #610
@anchal-agrawal will document the workaround for this

[2017-08-29 15:40] #651 closed

[2017-08-29 15:59] andrewtchin opened #683 "Increase expiration date of self signed certs"
https://github.com/vmware/vic-product/blob/master/installer/packer/scripts/admiral/configure_admiral.sh#L67
https://github.com/vmware/vic-product/blob/master/installer/packer/scripts/fileserver/configure_fileserver.sh#L50
Increase to 3 yrs

[2017-08-29 16:13] anchal-agrawal commented on #681
@stuclem I'm working on #586 to ensure that the Admiral UI doesn't break for 1.2. I'll provide a doc note for this issue once #586 is fixed.

[2017-08-29 16:16] #683 closed

[2017-08-29 17:17] #575 closed

[2017-08-29 19:03] #586 closed

[2017-08-29 22:09] anchal-agrawal commented on #681
Proposed doc:

The `RE-INITIALIZE THE VSPHERE INTEGRATED CONTAINER APPLIANCE` button at the bottom of the Getting Started page accepts vCenter credentials and performs two tasks:

* Tags the OVA VM for use in content trust
* Performs PSC registration

In a typical use case, once the OVA appliance is powered on from the vSphere UI, the admin visits the Getting Started page at port 9443, where they

[2017-08-29 23:05] andrewtchin commented on #668
Hold on this until I update again this week, Fabio and I found new info

[2017-08-30 07:27] stuclem opened #694 "Document that vic-machine requires PEM/DER/ASN.1 encoded single certificate"
Per https://bugzilla.eng.vmware.com/show_bug.cgi?id=1923646 (VMware internal) we need to document that when deploying VCHs with custom certificates, `vic-machine` requires PEM/DER/ASN.1 encoded single certificate. PKCS#7 certificates do not work. We should document a procedure for converting PKCS#7 to PEM/DER/ASN.1.

This issue could be combined in a topic with the conversion process for convertin

[2017-08-30 08:02] stuclem opened #695 "Publish landing page and release notes to vmware.com"
This is a reminder to publish the RN and LP to vmware.com at GA.

[2017-08-30 08:20] #289 closed

[2017-08-30 08:20] #334 closed

[2017-08-30 08:20] #337 closed

[2017-08-30 12:55] stuclem commented on #613
@pdaigle we don't support Photon OS as a platform for running `vic-machine`, so by extension I don't think that we would support it for running the plug-in scripts:

https://vmware.github.io/vic-product/assets/files/html/1.2/vic_vsphere_admin/vic_installation_prereqs.html#platforms

I have definitely heard it said that we don't support running `vic-machine` on Photon OS.

But, if we do end up addi

[2017-08-30 13:49] stuclem commented on #681
@anchal-agrawal, great, thank you!

[2017-08-30 13:50] stuclem commented on #681
I think that I'll put this in the troubleshooting section, rather than in the installation section. @anchal-agrawal does that seem appropriate to you?

[2017-08-30 13:58] #654 closed

[2017-08-30 14:02] stuclem commented on #335
I  have no idea what selecting a project globally means.  I think that this will be addressed in https://github.com/vmware/vic-product/issues/336

[2017-08-30 14:02] #335 closed

[2017-08-30 14:04] stuclem commented on #340
Fixed in PR https://github.com/vmware/vic-product/pull/614

[2017-08-30 14:04] #340 closed

[2017-08-30 14:38] andrewtchin commented on #526
I've never seen this on MacOS

[2017-08-30 14:54] stuclem commented on #83
Looking at comments from @gigawhitlocks in https://github.com/vmware/vic/issues/3946#issuecomment-318466483, it looks like there was no change to `--tls-cname` behavior in the end.

We currently do document how to auto-generate a cert using `--tls-cname` and by specifying a static IP on the VCH. @gigawhitlocks can you please confirm that the following docs are still correct?

- [Restrict Access to

[2017-08-30 15:06] stuclem commented on #644
Details of how to do this are in https://github.com/vmware/vic-product/issues/681

[2017-08-30 15:10] #612 closed

[2017-08-30 15:14] #347 closed

[2017-08-30 15:21] stuclem commented on #613
Actually, having discussed with @jooskim, he suggest that I do include `awk` as a prereq.

[2017-08-30 15:24] #629 closed

[2017-08-30 15:51] andrewtchin commented on #659
script in master already has this

[2017-08-30 15:51] #659 closed

[2017-08-30 16:15] gigawhitlocks commented on #83
Correct @stuclem `--tls-cname` is unchanged. Docs are correct. For the networking options (second link) you should check with @hmahmood

[2017-08-30 16:32] #377 closed

[2017-08-30 16:57] hmahmood commented on #83
@gigawhitlocks is this statement still correct (taken from the second link)?

[2017-08-30 17:00] gigawhitlocks commented on #83
Yeah

[2017-08-30 17:21] stuclem opened #704 "Document that you need to delete the VIC_MACHINE_THUMBPRINT variable before running plug-in scripts"
As reported in https://github.com/vmware/vic/issues/6161, we should document that you need to delete the `VIC_MACHINE_THUMBPRINT` variable before running plug-in scripts.

Needs to be mentioned as a prereq in the plug-in topics and probably deserves a troubleshooting topic too.

[2017-08-30 17:28] andrewtchin commented on #668
Updated, please review @frapposelli

[2017-08-30 18:23] frapposelli commented on #668
LGTM

[2017-08-30 20:20] andrewtchin opened #705 "Automate H5 client plugin install"
**User Statement:**
As a user I want the H5 client plugin to be installed automatically when I initialize the VIC appliance.

**Details:**
Currently the VIC UI plugins are installed manually by the user by:

1. Downloading the VIC Engine tar ball file from the OVA appliance
2. Navigating to ui/VCSA (or ui/vCenterForWindows) and run install.sh (or install.bat)

This process can be improved by autom

[2017-08-30 20:25] andrewtchin opened #706 "Decompose "Upgrade improvements""
Decompose https://github.com/vmware/vic-planning/issues/45

[2017-08-30 20:26] andrewtchin opened #707 "Decompose "Improve installation""
Decompose https://github.com/vmware/vic-planning/issues/25

[2017-08-30 21:11] jooskim commented on #705
@andrewtchin @ali5ter @jak-atx please review the acceptance criteria above

[2017-08-30 22:08] andrewtchin opened #708 "Improve OVA build"
**User Statement:**

As a developer I want to be able to build without using Packer

**Details:**
create a base photon install: https://github.com/vmware/cove/blob/master/build/baseimage/stage.sh
customizations happen here: https://github.com/vmware/cove/blob/master/build/baseimage/install.sh
there is still 1 step missing that is converting the raw image into a vmdk
https://hub.docker.com/r/casual

[2017-08-31 07:07] #613 closed

[2017-08-31 14:53] stuclem commented on #83
Excellent, thank you @gigawhitlocks and @hmahmood! I'll happily close this issue.

[2017-08-31 14:53] #83 closed

[2017-08-31 15:10] andrewtchin opened #711 "1.2 OVA Testing"
**User Statement:**
As a user I want 1.2 release to be comprehensively tested.

**Details:**

**Acceptance Criteria:**
- [ ] Automated and manual testing completed
- [ ] Upgrade from 1.1.0 and 1.1.1 tested
- [ ] Test deployment with static IPs
- [ ] Test deployment with user provided trusted certificates and a chained certificate
- [ ] Test Admiral/Harbor features

[2017-08-31 18:32] anchal-agrawal commented on #681
Verified that the above steps work for re-registering with PSC on the same vCenter, since I'm unaware of ways to move an OVA to a different vCenter or PSC instance. @andrewtchin and @lgayatri does https://github.com/vmware/vic-product/issues/681#issuecomment-325819124 look ok?

[2017-08-31 18:33] anchal-agrawal commented on #681
@stuclem I agree that this should be in the troubleshooting section. Passing the baton to you now!

[2017-08-31 19:20] andrewtchin commented on #681
lgtm

[2017-09-01 06:34] lgayatri opened #713 "Close Window does not work for "Complete VIC appliance installation""
![image](https://user-images.githubusercontent.com/25006749/29957903-98c7583a-8f0d-11e7-9f4d-5fadfa063920.png)
Build:
https://storage.googleapis.com/vic-product-ova-builds/vic-43c30f96-dev.ova
Admiral aade1955c87d
Engine vic_1.2.0-rc1.tar.gz
Harbor harbor-offline-installer-v1.2.0-rc3.tgz

[2017-09-01 07:24] reasonerjt opened #714 "Need more storage on default .ova deployment"
I deploy the latest .ova, after everything's started there's little space left, it maybe easily eaten up by log files if user keeps it running for a few weeks/months.

[code]

[2017-09-01 08:57] stuclem opened #715 "Revert vic-machine create --debug default value back to 0"
Per https://github.com/vmware/vic/pull/6186, setting `--debug=1` as the default has had a negative performance impact, so we are reverting back to `--debug=0` as the default.

[2017-09-01 10:11] stuclem commented on #715
Moved to backlog as https://github.com/vmware/vic/pull/6186 is not merged yet

[2017-09-01 10:15] stuclem commented on #571
This is already stated in https://github.com/vmware/vic-product/blob/master/docs/user_doc/vic_vsphere_admin/deploy_demo_vch.md. We need to mention this in the doc where we talk about the default-project.

[2017-09-01 10:46] #588 closed

[2017-09-01 12:05] mshipkovenski opened #718 "Provisioning of dch-photon fails with Invalid image format"
When trying to provision containers based on the `default-project/vmware/dch-photon` image, I get the error `Invalid image format: 10.160.94.153:443/default-project/vmware/dch-photon`. The image name should be changed to \<namespace\>/<repo_name>:\<tag\> or \<project\>/<repo_name>:\<tag\> in https://github.com/vmware/vic-product/blob/524510a28da216ba95c86c70e3f7717371794079/installer/packer/script

[2017-09-01 13:35] #571 closed

[2017-09-01 14:18] anchal-agrawal opened #719 "Unable to download VIC tar from Ubuntu VM using wget"
@lgayatri commented on [Fri Sep 01 2017](https://github.com/vmware/vic/issues/6188)

root@Ubuntu-VIc:/home/vmlib/VIC/VIC-43c30f96-rc3# wget https://10.197.37.132:9443/files/vic_13396.tar.gz --no-check-certificate
--2017-09-01 02:44:59--  https://10.197.37.132:9443/files/vic_13396.tar.gz
Connecting to 10.197.37.132:9443... connected.
WARNING: cannot verify 10.197.37.132's certificate, issued by ‘CN

[2017-09-01 14:46] #719 closed

[2017-09-01 15:28] andrewtchin commented on #713
The UI team is aware of this and has an issue opened, closing this one

[2017-09-01 15:28] #713 closed

[2017-09-01 15:55] andrewtchin commented on #718
@mshipkovenski when do you see that?

[code]

[2017-09-01 15:56] reasonerjt commented on #718
I just tried and I'm not seeing the error.  I can provision the image without problem with vanilla docker
[code]
However, I agree conventionally the name should be <project>/<repo_name>:<tag>
i.e. `default-project/dch-photon:1.13`

[2017-09-01 17:08] mshipkovenski commented on #718
@andrewtchin that's the error I got from Admiral on vic-be

[2017-09-01 17:17] andrewtchin commented on #718
@mshipkovenski Could you investigate from the Admrial side and provide more info and logs? Daniel and I were able to pull the image correctly

[2017-09-01 17:18] andrewtchin commented on #718
Is the `vmware/` in the image name the cause of the error?

[2017-09-01 17:22] mshipkovenski commented on #718
Yes, I believe so. The correct format for an image is [hostname:port/][namespace/]reponame[:tag]

[2017-09-01 17:26] andrewtchin commented on #714
[code]

[2017-09-01 17:36] andrewtchin commented on #718
To repro, add a VCH and try to provision a DCH container. In library public repositories search `dch-photon` then provision.

[2017-09-01 21:49] #714 closed

[2017-09-01 23:21] #718 closed

[2017-09-04 07:37] stuclem commented on #324
Comment from @andrewtchin via Slack:

Andrew Chin [1:40 AM]
i was testing dch-photon and wanted to make sure we have documented that the vch is required to be deployed with --registry-ca to be able to use images from harbor
[1:41]
also depending on this result we may need a doc https://github.com/vmware/admiral/issues/192

[2017-09-04 11:53] #704 closed

[2017-09-04 14:46] #333 closed

[2017-09-04 14:46] #645 closed

[2017-09-04 14:46] #338 closed

[2017-09-05 08:17] lgayatri opened #732 "Failed to locate productVM, trusted content is not available"
OVA: https://storage.googleapis.com/vic-product-ova-builds/vic-v1.2.0-rc2-b53a69aa.ova

Despite successful registration, I am seeing
![image](https://user-images.githubusercontent.com/25006749/30051246-e481b4b2-923e-11e7-99a6-0fb548c6e65f.png)

journalctl says:

Sep 05 08:13:58 vic-st-h2-132.eng.vmware.com start_admiral.sh[825]: [185][W][2017-09-05T08:13:58.311Z][22][ServerX509TrustManager][handle

[2017-09-05 12:56] stuclem opened #733 "Document additional step in upgrade"
Per https://github.com/vmware/admiral/issues/191, we have to run an additional command in the appliance VM for upgrade to succeed.

[2017-09-05 17:45] #666 closed

[2017-09-05 20:55] andrewtchin commented on #732
@lgayatri It's not clear what's going on here. Please provide information necessary for us to reproduce or access the environment.

[2017-09-06 06:16] lgayatri commented on #732
@andrewtchin , I have live test bed at 10.197.37.132- root/Admin!23
After deploying the OVA, I registered it with a 6.5U1 GA VC and observed this message.
VC: 10.133.146.15- administrator@vsphere.local/Admin!23

[2017-09-06 10:03] stuclem opened #738 "Document that debug --rootpw enables SSH and changes the default password"
From Slack:

Eduardo Meirelles [7:47 PM]
BTW… not sure if you guys have a chance to look at --rootpw behavior…when I ran debug --rootpw it also enabled SSH access, even though I did not specify --enable-ssh option.

Matt Williamson [8:00 PM]
i just confirmed that using the rootpw flag in 1.1.1 also enabled ssh access.

[8:00]
the docs should be updated to reflect that rootpw enables SSH AND change

[2017-09-06 13:14] stuclem commented on #733
Actually, the upgrade has been fixed, so this step is no longer necessary. #727 is updated accordingly.

[2017-09-06 13:42] stuclem commented on #322
See @sflxn 's design doc at https://github.com/vmware/vic/blob/master/doc/design/registries/whitelist-registry.md for copious information.

[2017-09-06 15:05] stuclem opened #740 "Document OVA deployment scenarios with multiple registries"
I have some questions about how a user can/might/should set up multiple instances of VIC Registry.

**What I Did**

- Deployed two instances of VIC appliance (fresh installations, not upgrades) to the same vCenter Server/PSC. Let's call the appliances VIC1 and VIC2, their respective Registry instances Reg1 and Reg2, and the respective Management Portals MP1 and MP2.
- In MP1, registered Reg2 as a

[2017-09-06 15:09] stuclem commented on #740
Also @mhagen-vmware might have some input.

[2017-09-06 16:09] #733 closed

[2017-09-06 16:13] #668 closed

[2017-09-06 16:15] stuclem commented on #649
These changes were merged in https://github.com/vmware/vic-product/pull/632.

[2017-09-06 16:15] #649 closed

[2017-09-06 16:21] #210 closed

[2017-09-06 16:52] stuclem commented on #423
This is a bug in Gitbook. I don't think that we can do anything about this for 1.2

[2017-09-06 17:09] andrewtchin commented on #732
Based on the logs this looks like an Admiral issue @sergiosagu
PSC files are populated but logs in `journalctl -u admiral` show the above errors

[2017-09-06 17:13] lcastellano commented on #732
The error reported in the logs is generated when an access to Admiral is performed before the SSO has been initialized. SSO initialization can take a few seconds, it requires some credential exchanges with the PSC. It take longer if the location of the PSC is remote. This should be a temporary condition and should go away after the SSO component in Admiral has been initialized.

[2017-09-06 17:19] lgayatri commented on #732
I am not seeing it going by itself. If I refresh the web page then I will be prompted for re-registration and cannot even close the registration window.

[2017-09-06 17:29] lcastellano commented on #732
I m not sure what you should see in the UI, my comment is about the error condition reported by Admiral. Can you please attach the full Admiral logs? Thanks.

[2017-09-06 17:33] lgayatri commented on #732
Please feel free to access 10.197.37.132- root/Admin!23 for admiral logs. This IP is of the current OVA.

[2017-09-06 18:21] andrewtchin commented on #732
Looks like the logs from Sept 5 are gone

[2017-09-06 18:37] andrewtchin commented on #732
The reason the modal shows up again on the Getting Started Page is because if there are any errors (which includes the Failed to locate ProductVM error), we do not write the file we use to determine that initialization was successful.

[2017-09-06 19:47] andrewtchin opened #741 "ovfenv lost after ESX host crash"
The effect of this is that after a ESX host crash, the appliance is not usable until the workaround is applied.

**Deployment details:**
- Deploy VIC Product OVA to environment with shared datastore and HA enabled on the cluster the appliance is deployed to
- Initialize appliance
- Simulate ESX host crash by SSHing to the host the appliance is on and running `vsish -e set /reliability/crashMe/Pani

[2017-09-06 19:50] andrewtchin commented on #740
I think only one OVA per vCenter is supported @hmahmood

[2017-09-06 20:02] pdaigle opened #742 "Disable default SSH access to OVA and print warning banner on login"
**User Statement:**

As a vSphere Admin or Cloud Admin, I want to protect the VIC Management OVA against misuse to prevent disruption of service on Management Portal and registry.

**Details:**

We should warn customers against using the OVA for anything other than VIC services and against logging in for anything other than GSS-assisted troubleshooting.

Customers using the OVA for things other th

[2017-09-06 20:18] pdaigle commented on #742
@stuclem The recommendation above should be explicitly stated in the documentation as well. Something along the lines of:
"SSH access to the vSphere Integrated Containers OVA can be used in exceptional cases that cannot be handled through standard remote management or CLI tools. This is primarily intended for use in break-fix scenarios, under the guidance of VMware GSS."

[2017-09-06 20:33] dbarkelew opened #743 "Separate persistent data to individual disks on the vSphere Integrated Containers Appliance"
Tracking for separating the MySQL DB for the registry and management portal to second vDisk and separate the log files to a third vDisk.

Use case to mitigate issues if the root disk becomes full.

Bug Ref# 1954150

[2017-09-06 20:39] andrewtchin opened #744 "OVA separate disk for logs and databases"
**User Statement:**

As a user I want a separate persistent disk for each logs and databases on the appliance.

**Details:**

**Acceptance Criteria:**
- [ ] Separate disks
- [ ] Handles upgrade
- [ ] Documentation

[2017-09-06 20:50] #744 closed

[2017-09-06 20:50] andrewtchin commented on #743
**User Statement:**

As a user I want a separate persistent disk for each logs and databases on the appliance.

**Details:**

**Acceptance Criteria:**
- [ ] Separate disks
- [ ] Handles upgrade
- [ ] Documentation

[2017-09-06 20:52] corrieb commented on #744
We should close #743 if this is related to the same question.

We need to consider the needs of backup here - what is ephemeral data vs persistent data. I would suggest for example that logs could just go in a separate logical partition from images and be on the same VMDK - no need for either to be backed up. Any database info should be on a VMDK that can be backed up independently.

[2017-09-06 20:53] corrieb commented on #743
We need to consider the needs of backup here - what is ephemeral data vs persistent data. I would suggest for example that logs could just go in a separate logical partition from images and be on the same VMDK - no need for either to be backed up. Any database info should be on a VMDK that can be backed up independently.

[2017-09-06 20:56] dbarkelew commented on #743
I have had customer look at logs as important particularly ones that have SLAs with their clients and need to account for any issues. If the logs do not take that much space, including them in the backup would benefit the customer who require RCAs for any downtime.

[2017-09-06 20:57] corrieb commented on #743
@dbarkelew Interesting. I know customers consider logs important, but didn't know that there was a backup strategy in place around those. Good input. Just wanted to make sure that the business needs fit the solution

[2017-09-06 21:14] hmahmood commented on #740
I believe that is correct. @pdaigle

[2017-09-06 22:25] mdubya66 commented on #740
This is correct.

[2017-09-07 07:39] #526 closed

[2017-09-07 08:46] stuclem opened #745 "Document that only one appliance is supported per PSC"
Per comment from @mdubya66 in https://github.com/mdubya66

[2017-09-07 08:46] stuclem commented on #740
OK, thanks @andrewtchin @mdubya66 and @hmahmood. Created https://github.com/vmware/vic-product/issues/745 for the one-appliance-per-PSC update.

What about the other questions? Specifically the last bullet? Is that a valid thing to do?

[2017-09-07 10:26] philosifer opened #746 "VCH proxy needs bypass option"
**VIC Product version:**

vic-v1.1.1.56a309fb.ova

**Deployment details:**

VSCA 6.5 u1 and ESXi 6.5u1

**Steps to reproduce:**

vic-machine create http and https proxy options need the ability to specify bypass for local sub-networks to allow for situations where the proxy can't proxy back to internal servers.

**Actual behavior:**

After enabling proxy options on a vic-machine create it is not p

[2017-09-07 10:38] philosifer opened #747 "Add option to specify distributed switch when port group name is ambiguous"
VIC Product version:

vic-v1.1.1.56a309fb.ova

Deployment details:

VSCA 6.5 u1 and ESXi 6.5u1

Steps to reproduce:

vic-machine create cannot handle ambiguous port group names

Actual behavior:

Attempting to use a port group name that is identical under multiple distributed switches on the same vcenter results in an error.

Sep  7 2017 10:44:28.408+01:00 ERROR Error checking network for --public

[2017-09-07 11:13] stuclem opened #749 "Document that VCH can have one interface per network"
https://github.com/vmware/vic/issues/2802 is fixed in PR https://github.com/vmware/vic/issues/6201. So, we can remove all of the notes about 2 networks having to share an interface from the docs.

[2017-09-07 11:15] stuclem commented on #715
This was finally implemented in PR https://github.com/vmware/vic/pull/6207

[2017-09-07 11:30] stuclem commented on #740
Actually, @andrewtchin @hmahmood @mdubya66 my question about deploying VIC appliances to the same VC was badly worded. What I should have asked was can you deploy multiple appliances to multiple VCs that are all managed by a single PSC?

[2017-09-07 12:32] stuclem opened #753 "Add another permission required by ops-user"
Per email from @hickeng we need to add a new privilege added the "VCH - endpoint" role for when running with --use-rp: Resource > Add virtual machine

[2017-09-07 13:13] stuclem commented on #742
@pdaigle the one drawback of disabling SSH access by default is that it is a required step of the upgrade process. But, I can certainly add the warning somewhere, and we do tell people to edit the appliance settings to allow it if the SSH access option has been disabled.

[2017-09-07 13:15] stuclem commented on #742
@pdaigle do we want to go as far as to recommend that users disable SSH access at step 3 of the OVA deployment procedure?
https://vmware.github.io/vic-product/assets/files/html/1.2/vic_vsphere_admin/deploy_vic_appliance.html

[2017-09-07 13:23] stuclem opened #755 "Improve description of --ops-user"
Per comment from @zjs in https://github.com/vmware/vic/issues/6033#issuecomment-327635039, we should list which operations are performed by which account.

[2017-09-07 14:04] andrewtchin commented on #740
@sergiosagu can you help answer the above?

[2017-09-07 14:57] andrewtchin commented on #324
I confirmed with mavery that ANY container that requires anonymous volumes requires a VCH that has a volume store with the label `default` specified otherwise the error from vmware/admiral#192 happens. This should be documented in the DCH docs and with other volume docs

[2017-09-07 15:41] stuclem commented on #324
Ok, thanks @andrewtchin

[2017-09-07 15:44] #745 closed

[2017-09-07 15:52] dbarkelew opened #760 "Document vulnerability scanning"
For the new vulnerability scanning feature to work harbor needs to compare information  with internet database. Can this url be included in the VIC documentation so users know what outbound connections should be expected and allowed by the security solutions commonly found in production deployments.

[2017-09-07 16:44] andrewtchin opened #762 "Improve initialization error messages"
**User Statement:**

As a user I want more detailed error messages for failure cases in appliance initialization.

**Details:**
Currently `startInitializationServices` error messages aren't very detailed
`product/installer/tagvm/tagvm.go`
`product/installer/fileserver/server.go

**Acceptance Criteria:**
- [ ]  Add more detailed error messages

[2017-09-07 16:45] andrewtchin opened #763 "Document Getting Started Page/Initialization error"
If the user receives the error `Failed to locate productVM, trusted content is not available` one cause may be that the user entered credentials for a vCenter that is different than the one that the VIC Appliance is running on. The user should reinitialize the appliance with the correct vCenter credentials.

Also opened #762 to improve error messages

[2017-09-07 17:07] pdaigle commented on #742
@stuclem
Good catch about the upgrade requirement for `ssh`.
Let's stick with a warning in the docs and a warning in the welcome banner for now.

[2017-09-07 17:10] dbarkelew commented on #760
Seems the vulnerability database is populated by the urls listed in the the following constraints in the following links.

Ubuntu: https://github.com/coreos/clair/blob/6663bcef27b0a4221831a1ff7a05477247188b09/ext/vulnsrc/ubuntu/ubuntu.go#L40
Rhel: https://github.com/coreos/clair/blob/6663bcef27b0a4221831a1ff7a05477247188b09/ext/vulnsrc/rhel/rhel.go#L38
oracle: https://github.com/coreos/clair/blob/

[2017-09-08 09:18] #753 closed

[2017-09-08 11:27] stuclem commented on #740
@reasonerjt says that these are questions for PM. So, @pdaigle can you please take a look? Thanks!

[2017-09-08 11:35] sergiosagu commented on #740
A priori, there's no limitation in how many VIC OVA deployments can be registered with a single PSC. PSC is used only to authenticate and retrieve (AD) users & groups information. Than means that if VIC1 and VIC2 are using the same PSC (and the same users are available to them), user X could have specific role(s) in VIC1 and a different one(s) in VIC2, but that's all.

The other questions are more

[2017-09-08 11:39] stuclem commented on #740
Great, thanks @sergiosagu. I'll update the deployment doc with the PSC info.

[2017-09-08 12:49] stuclem opened #769 "dch-photon image not present after upgrade from 1.1.1 to 1.2 RC3"
**VIC Product version:**

OVA version `vic-v1.2.0-rc3-ce9fca67.ova`

**Deployment details**

Upgraded OVA version `vic-v1.1.1_56a309fb.ova` to `vic-v1.2.0-rc3-ce9fca67.ova`

**Steps to reproduce:**

- Deployed two 1.1.1 instances, and populated one with projects, images, etc, and with replication endpoint/rule to replicate to the other instance.
- Upgraded the instance with the source registry to

[2017-09-08 13:01] stuclem commented on #769
I just deployed a fresh installation of 1.2 RC3, and dch-photon is there:

![rc3-fresh](https://user-images.githubusercontent.com/16718369/30212741-858191b6-94a6-11e7-8d49-b2f83ebf4245.png)

But in the 1.1.1 to 1.2 RC3 upgrade, no dch-photon:

![rc3-upgrade](https://user-images.githubusercontent.com/16718369/30212744-8af701b2-94a6-11e7-8661-a0e257cc12b2.png)

[2017-09-08 14:32] lazarin opened #771 "PSC register failure: com.vmware.vim.vmomi.client.common.UnexpectedStatusCodeException: Unexpected status code: 400"
This is a copy of an issue [196](https://github.com/vmware/admiral/issues/196) initially opened in Admiral product:

----

Found by a customer in OVA RC3 build https://storage.googleapis.com/vic-product-ova-builds/vic-v1.2.0-rc3-ce9fca67.ova

Upon running `admiral-auth-psc-1.2.0-SNAPSHOT-command.jar --command=register --tenant=<non " .local" domain>  ... (other args)`, it fails with:

[code]

**An

[2017-09-08 14:34] lazarin commented on #771
[Comment](https://github.com/vmware/admiral/issues/196#issuecomment-327950469) from @lcastellano

----

Here is what I think is happening. The Admiral psc registration command accepts an argument **tenant**. That is the domain in which the  registration command tries to create the "Solution Users" for Engine, Admiral and Harbor. The current implementation of the OVA derives the **tenant** argument

[2017-09-08 14:36] lazarin commented on #771
A potential temporary workaround for the customer would be to create a VC admin users in a local vSphere domain and use that user to install VIC product.

----

Given the workaround we should release note this and fix in the next release.

----

@martin-borisov do you agree about release noting. if so, @stuclem

----

@mdubya66 yes, absolutely

[2017-09-08 15:15] mdubya66 opened #772 "Demo VCH documentation needs to be clear that it only supports DHCP"
# For bug reports, please include the information below:

**VIC Product version:**

OVA version 1.2.0-rc3

We need to update the demo VCH documentation to be very succinct in what the demo VCH installer does provide and does not.

https://vmware.github.io/vic-product/assets/files/html/1.2/vic_vsphere_admin/deploy_demo_vch.html

This specific report is for DHCP only. Let's also identify any other l

[2017-09-08 16:22] #715 closed

[2017-09-08 22:07] andrewtchin opened #777 "Add logging to appliance init"
**User Statement:**

As a person I want better logs in the Getting Started Page's appliance initialization.

**Details:**
Also make sure that the registration API is covered
https://github.com/vmware/vic-product/blob/master/installer/fileserver/server.go#L244

**Acceptance Criteria:**
- [ ] Add logging

[2017-09-11 07:20] stuclem opened #780 "Document constraints for private keys"
As discussed with @zjs in https://github.com/vmware/vic-product/pull/752#issuecomment-328194162, we need to homogenize the information that we present for private keys, specifically the format and whether encrypted keys are supported.

[2017-09-11 07:28] stuclem opened #781 "Homogenize certificate requirements across components"
As described in https://github.com/vmware/vic-product/pull/752 and documented in the [VIC Certificate Reference](https://github.com/vmware/vic-product/blob/master/docs/user_doc/vic_vsphere_admin/vic_cert_reference.md), if you use custom certificates, the different components all have different requirements in terms of the type of certificate that they can accept.

After discussion with @zjs, we sh

[2017-09-11 09:27] reasonerjt commented on #740
It is supported, some community users use it for back up images, but I'm not sure we should encourage users doing this, because it only replicates the image, not other data.

It is not always necessary, if user use correct certificate (with valid CA, correct IPSAN) it is not necessary.  **disable remote cert verification** is a workaround for the users who use self-signed certificate.  In the case

[2017-09-11 15:24] #298 closed

[2017-09-11 15:24] #336 closed

[2017-09-11 15:24] #558 closed

[2017-09-11 15:26] #265 closed

[2017-09-11 16:36] #322 closed

[2017-09-11 17:49] lcastellano opened #787 "Repository user log in may not work when PSC registration is performed manually"
**VIC Product version:**

VIC 1.2

OVA version (e.g. `vic-v1.2.3-aaaaaaa.ova`)

VIC 1.2 official OVA

Environment where the OVA is deployed

**Steps to reproduce:**
This happens on an installation that did not complete because the PSC is not co-located with the vSphere.  To complete the installation the registration with the PSC was triggered by hand.

**Actual behavior:**
VIC users can log in fro

[2017-09-11 17:53] corrieb commented on #772
More significantly, it has no option for a volume store, which will make numerous containers fail to start out of the box: https://github.com/vmware/vic/issues/6145

[2017-09-11 17:59] andrewtchin opened #788 "Harden OVA TLS configurations"
**User Statement:**

As a person I want better TLS configurations.

**Details:**
Bugzilla 1945595
Bugzilla 1941692

**Acceptance Criteria:**
- [ ] Update TLS configurations for `engine_installer` and `fileserver`

[2017-09-11 17:59] corrieb opened #789 "OVA disk sizes are incorrect on install"
Seems like the disk sizes in the installer are hard-coded and probably should have been changed when the OVA disk sizes were modified in https://github.com/vmware/vic-product/pull/720.

![screen shot 2017-09-11 at 10 49 36 am](https://user-images.githubusercontent.com/1699842/30289210-48591f0c-96e0-11e7-8c9c-80694d41d379.png)
![screen shot 2017-09-11 at 10 49 10 am](https://user-images.githubuserc

[2017-09-11 18:01] #694 closed

[2017-09-11 18:03] corrieb commented on #789
Medium priority, since we shouldn't be misleading admins as to the impact of installation

[2017-09-11 18:54] andrewtchin opened #790 "Version Harbor/Admiral scripts"
**User Statement:**

As a person I want things the OVA build depends on to be versioned

**Details:**
https://github.com/vmware/harbor/issues/3191
https://github.com/vmware/admiral/issues/201
https://github.com/vmware/admiral/issues/202

**Acceptance Criteria:**
- [ ] Update build to use versioned artifacts

[2017-09-11 19:06] andrewtchin commented on #789
@corrieb I think the sizes are correct, though the way it is displayed may be misleading. On the bottom screenshot 7.9 GB is correct for thin provisioned because that's how much is consumed out of the 16 GB system disk (data disk starts empty), while the 66 GB thick provisioned is 16 + 50 GB.
I also verified that the final settings in the `.ovf` are correct as they are updated by ovftool after the

[2017-09-11 19:06] #789 closed

[2017-09-11 19:08] andrewtchin commented on #781
Related https://github.com/vmware/vic/issues/5640

[2017-09-11 19:13] andrewtchin commented on #565
@lgayatri Have you seen this in recent builds?

[2017-09-11 20:17] stuclem opened #791 "Document post-upgrade housekeeping"
Per conversation with @andrewtchin, we should document that after a successful upgrade, you should move the data disk from the previous installation into the datastore folder for the new appliance.

1. shut down the appliance, then move the disk
2. edit settings, delete Hard disk 2
3. edit settings, add Hard disk 2 from new location
4. Power on appliance

TBC if we can rename the disk too.

[2017-09-11 21:00] #324 closed

[2017-09-12 07:22] stuclem commented on #742
Added the warning about SSH'ing into the appliance in PR https://github.com/vmware/vic-product/pull/784. Do we want to say the same about SSH'ing into VCHs?

[2017-09-12 07:26] stuclem commented on #740
Thanks @reasonerjt I'll write up something about deployment scenarios after GA, based on your comments above.

[2017-09-12 10:51] stuclem commented on #225
Added a pretty pitiful release note in https://github.com/vmware/vic-product/releases/tag/v1.2.0.

@angel-ivanov and @andrewtchin how do we a) download the OVA support bundle in the first place and b) download the Admiral logs manually?

This really needs to go in the core doc too: https://github.com/vmware/vic-product/issues/318

[2017-09-12 10:53] stuclem commented on #610
This is being documented in the core docs in https://github.com/vmware/vic-product/issues/644 and https://github.com/vmware/vic-product/issues/681. Removing kind/note from this one.

[2017-09-12 10:53] stuclem commented on #644
Actually, this one is now redundant because of https://github.com/vmware/vic-product/issues/681.

[2017-09-12 10:58] stuclem commented on #769
Added to https://github.com/vmware/vic-product/releases/tag/v1.2.0#knownissues.

[2017-09-12 11:08] stuclem commented on #771
Here's an attempt at a release note:

----

- <b>Deployment of appliance fails if vSphere administrator user is not in the `@vsphere.local` domain. [#771](https://github.com/vmware/vic/issues/771)</b><br>If your vSphere domain is not `@vsphere.local`, deployment of the appliance succeeds, but registration with the Platform Services Controller fails and vSphere Integrated Containers services do not

[2017-09-12 11:10] stuclem commented on #225
Here's the release note entry:

----

- <b>vSphere Integrated Containers appliance support bundle does not include Management Portal logs. [#225](https://github.com/vmware/vic/issues/225)</b><br>Workaround: Download the Management Portal logs manually.

----

[2017-09-12 12:14] corrieb opened #794 "Automate the process of adding registry cert to hosted dch-photon"
If you want a dch-photon container to be able to pull and push from the hosted registry, it needs to have the registry certificate installed. The simplest way to achieve this is to build a new image with the certificate inside and push it back to the registry. This presents a chicken-and-egg problem that you need a local docker that can build and pull/push from the registry in order to do this.

T

[2017-09-12 12:14] corrieb commented on #794
Two approaches we could go for here. We could either just transparently build and push the dch-photon image on boot, by determining the IP address of the OVA and updating it dynamically. Or we could provide a button that allows you to specify a registry address, ca.crt and image tag manually.

[2017-09-12 12:53] stuclem commented on #328
All issues closed. Closing this Epic. Thanks @alextopuzov !

[2017-09-12 12:53] #328 closed

[2017-09-12 13:07] stuclem commented on #664
Ran http://website-link-checker.online-domain-tools.com on the 1.2 docs on vmware.io. No dead links.

[2017-09-12 13:07] #664 closed

[2017-09-12 15:01] mattstocum opened #797 "Harbor registry fails to start when CA signed certificate added during OVA deployment"
**VIC Product version:**

OVA vic-v1.2.0-rc3-ce9fca67.ova

**Deployment details:**

vCenter 6.5 VSA 6.5.0.5100

**Steps to reproduce:**

1. Deploy VIC from OVA.
2. During initial deployment, enter a CA signed certificate in section 4.2 and key in section 4.3 (Management Portal Configuration) of the vApp options.
3. Power on VM and wait for it to finish booting

**Actual behavior:**

Harbor registr

[2017-09-12 16:18] andrewtchin commented on #225
Repurposing this story to cover creating the support bundle and making sure all logs are under `/var/log/vmware`
vmware/vic#4680 can probably also be closed when this is resolved
We need to get the admiral logs off of the container

[2017-09-12 16:28] stuclem opened #800 "Update Docker examples to use environment variables throughout"
All of our examples of Docker usage include different options for TLS, etc. We should update all topics that include Docker examples to encourage people to set env variables, and strip out the unnecessary option.

[2017-09-12 16:30] andrewtchin commented on #708
Also close #669 when this is resolved

[2017-09-12 16:36] andrewtchin commented on #762
Related to #777

[2017-09-12 17:12] andrewtchin commented on #797
Hi @mattstocum thank you for your report
As an additional data point - did Admiral start with the correct certificate in this deployment? `https://<appliance_ip>:8282`

[2017-09-12 17:13] mattstocum commented on #797
@andrewtchin Yes, Admiral started properly using the same certificate.

[2017-09-12 17:18] andrewtchin commented on #797
@reasonerjt could you triage this?

[2017-09-12 17:45] lcastellano commented on #787
This problem is not related to the "manual workaround" but rather to a bug in VIC Portal. The bug is fixed by check in: 2b608b9. Closing this issue.

[2017-09-12 17:45] #787 closed

[2017-09-12 18:06] #711 closed

[2017-09-12 19:34] andrewtchin commented on #771
@stuclem that sounds like an accurate assessment of the current state

[2017-09-12 19:37] lcastellano commented on #771
Yes that looks good.

[2017-09-12 19:57] andrewtchin opened #803 "Update build for vic-ui repo"
**User Statement:**

As a developer I want to pull in the VIC UI artifact from the vic-ui build.

**Acceptance Criteria:**
- [ ] Determine what bucket to get vic-ui build from
- [ ] Update OVA build to pull in artifact

[2017-09-12 19:57] andrewtchin commented on #803
Pending creation of vic-ui repo and build setup

[2017-09-12 20:29] andrewtchin opened #804 "Activate existing OVA CI Build pipeline"
**User Statement:**

As a developer I want to build the OVA when any of its components has a new artifact.

**Details:**
When any of Admiral, Harbor, Engine, UI plugin push a new artifact, run the OVA build

Pipeline steps are already existing in `drone.yml` file but commented. This issue involves uncommenting those steps, run and resolve any issues, build server (used for packer) assignment.

**A

[2017-09-13 07:37] #791 closed

[2017-09-13 07:38] stuclem commented on #695
Done

[2017-09-13 07:38] #695 closed

[2017-09-13 13:29] stuclem commented on #225
@andrewtchin is the release note above OK? Thanks!

[2017-09-13 13:30] stuclem commented on #771
Thanks @lcastellano and @andrewtchin

[2017-09-13 15:01] andrewtchin commented on #225
@stuclem release note lgtm

[2017-09-13 18:23] mattstocum commented on #797
On further inspection with the 1.2.0 release, I have some new information. harbor_startup.service is what's failing to start

[code]

After further testing, it looks like the certificate needs to be omitted from Management Portal (port 8282) rather than the File Server. I guess the Admiral startup generates /data/admiral/cert/ca.crt on boot, and Harbor is checking for the existence of the file. I

[2017-09-13 18:59] andrewtchin commented on #797
Thanks for the additional info we'll take a look at this

[2017-09-13 19:15] anchal-agrawal commented on #771
@stuclem We also have a workaround to cover the case where the user may not wish to create the `vsphere.local` domain and would like to use the existing domain. I have documented the complete workaround in a gist here: https://gist.github.com/anchal-agrawal/b80d87ee6865c4a2ee0c7b1569674c37 (lengthy, may not fit in the release note page). @andrewtchin has written a script for this workaround: https

[2017-09-13 19:17] andrewtchin commented on #610
Documented in #681. Closing.

[2017-09-13 19:17] #610 closed

[2017-09-13 20:12] andrewtchin commented on #763
Based on https://github.com/vmware/vic-product/pull/806 the error message is updated to `Failed to locate VIC Appliance. Please check the vCenter Server provided and try again`

[2017-09-13 22:55] #771 closed

[2017-09-14 07:31] stuclem opened #808 "Document external PSC registration script"
Per PR https://github.com/vmware/vic-product/pull/778, that allows you to register VIC appliance with an external PSC. This will be in 1.2.1.

[2017-09-14 07:32] stuclem commented on #808
In the short term, we need to document this procedure for 1.2.0:
https://gist.github.com/anchal-agrawal/b80d87ee6865c4a2ee0c7b1569674c37

[2017-09-14 07:49] stuclem commented on #299
When the checkbox is checked Harbor will only serve signed images

[2017-09-14 07:55] reasonerjt opened #809 "The "content trust" checkbox controls both VCH's whitelist and Harbor's restriction to serve only signed images"
See the screenshot below.
Per PRD, when this checkbox is checked, Harbor will only serve images that are signed in the nested Notary.
However I learnt today when this checkbox is checked VCH's whitelist will be updated also.
This design is problematic to me, whitelist and image signature, these are two separate concepts, and they should not be controlled by one checkbox.

<img width="880" alt="scr

[2017-09-14 07:56] reasonerjt commented on #809
I open this issue in vic-product repo as it's not a bug on single component, but an overall design problem.

[2017-09-14 08:24] stuclem commented on #299
See also https://github.com/vmware/vic-product/issues/809

[2017-09-14 08:35] stuclem opened #810 "dch-photon includes Docker server 1.13.1 but VIC Engine supports 1.13.0"
As I mentioned to @mdubya66 a couple of days ago, the version of Docker Engine running in `dch-photon` is 1.13.1:

![photon1 13 1](https://user-images.githubusercontent.com/16718369/30419885-3dc0c16c-9938-11e7-9fe7-50113ae5a63d.png)

However, per https://github.com/vmware/vic-product/issues/560, VIC Engine supports Docker client 1.13.0.

[2017-09-14 18:34] andrewtchin opened #814 "Improve appliance initialization UX in modal"
@ali5ter suggested putting the external PSC config that was added here https://github.com/vmware/vic-product/pull/806 in a collapsible group

- [ ] Put external PSC config in collapsible group
- [ ] Review wording of modal top text and field labels

[2017-09-14 19:12] andrewtchin commented on #797
From slack
[code]

[2017-09-14 19:17] andrewtchin commented on #797
@mattstocum just to be clear - the issue you described in slack about vCenter redirecting back to Admiral's IP instead of hostname seems different than what you wrote in this issue. Are these 2 separate issues?

[2017-09-14 19:23] mattstocum commented on #797
@andrewtchin yes, two separate issues. Sorry for the confusion.

[2017-09-14 19:36] andrewtchin commented on #797
Cool 797 is for the described issue, I'm opening another for the redirect issue

[2017-09-14 19:37] andrewtchin opened #815 "SSO redirects to IP instead of hostname"
When Admiral redirects to vCenter for SSO, vCenter is redirecting back to Admiral’s IP, rather than the hostname
vCenter SSO is using Admiral address which is defined when a registration towards that vCenter is made. In order host name to be used the registration when installing VIC should be done with that hostname
https://github.com/vmware/vic-product/blob/0dc963d0427e11ef0181261c74d321a019689e7

[2017-09-14 19:43] mattstocum opened #816 "vCenter redirects to Admiral IP rather than hostname after login"
**VIC Product version:**

OVA vic-v1.2.0-d0ea01c2

**Deployment details:**

vCenter 6.5 VSA 6.5.0.5100

**Steps to reproduce:**

1. Deploy OVA and register with vCenter
2. Log in to Admiral

**Actual behavior:**

vCenter SSO service redirects to https://<<admiral IP>>:8282/ and the browser gives a certificate warning due to the hostname mismatch. Ignoring the browser warning, or marking the certif

[2017-09-14 19:52] anchal-agrawal commented on #815
Closing as duplicate of #816.

[2017-09-14 19:52] #815 closed

[2017-09-14 19:52] anchal-agrawal commented on #816
See https://github.com/vmware/vic-product/issues/815#issue-257832511 for the code related to this issue.

[2017-09-14 20:11] andrewtchin commented on #816
Workaround is to manually verify that the cert presented in the browser is the one from the server as described in https://vmware.github.io/vic-product/assets/files/html/1.2/vic_vsphere_admin/obtain_appliance_certs.html

[2017-09-14 20:31] andrewtchin commented on #797
The cause of this is that we don't put the ca cert in `/data/admiral/cert/ca.crt` so that file doesnt exist and thats why harbor fails to star

[2017-09-14 20:43] mattstocum opened #818 "Documentation does not make the process of supplying intermediate certificates clear"
**VIC Product version:**

OVA vic-v1.2.0-d0ea01c2

**Additional details as necessary:**

The documentation for section [Deploy the Appliance](https://vmware.github.io/vic-product/assets/files/html/1.2/vic_vsphere_admin/deploy_vic_appliance.html), does not state how to supply intermediate certificates if necessary.  From what I've been able to test, the proper procedure is to concatenate the host c

[2017-09-14 21:05] JohnMurrayUK opened #819 "VCH deployment with management interface needs to support listening on all interfaces"
**VIC Product version:**

OVA version vic-b6d8345b (post 1.2.0 rc3)

**Deployment details:**

Typical secure multi tenant service provider environment.  No access from client vlans to vSphere management vlans via routing or firewalls.  All client interaction with vCenter is performed out of band via a service portal.  One ova is deployed to support all tenants, but each tenant has multiple VCH app

[2017-09-14 21:14] #819 closed

[2017-09-14 21:14] hmahmood commented on #819
Issue moved to [vmware/vic #6339](https://github.com/vmware/vic/issues/6339) via [**ZenHub**](https://www.zenhub.com/)

[2017-09-14 21:20] anchal-agrawal commented on #808
Thanks @stuclem - this is needed only for 1.2.0. 1.2.1 will include the fix and the workaround won't be needed.

[2017-09-14 21:37] #797 closed

[2017-09-14 22:26] andrewtchin commented on #818
@stuclem
This procedure is correct. Here is an example I used:
Given these files:
[code]

Generate the certificate chain by:
[code]

When deploying a new appliance supply:
- the contents of `ca.cert.crt` for
- the contents of `sc-rdops-vm09-dhcp-27-198.eng.vmware.com.cert.pem.chain`
- the contents of `sc-rdops-vm09-dhcp-27-198.eng.vmware.com.key.pkcs8`

To update the certificates on an existing ap

[2017-09-14 23:15] andrewtchin commented on #818
Verified that the cert chain should include intermediates and roots
![screen shot 2017-09-14 at 6 02 38 pm](https://user-images.githubusercontent.com/1649165/30459535-fae68554-9976-11e7-9545-3c9ac2d25f11.jpg)

[code]

Generate the full chain:
[code]

[2017-09-15 00:06] andrewtchin commented on #818
Also they symptoms of providing a cert format other than PKCS8 are
- Admiral fails to start (unable to access Admiral UI at `https://IP:8282`
- Admiral startup process failed
[code]
- Admiral process failed
[code]

Solution:
- Shut down Guest OS
- Edit vApp Options to replace the Management Portal key with the correct PKCS8 format key
- Power on appliance

[2017-09-15 08:56] stuclem commented on #818
Thanks @mattstocum and @andrewtchin. I'll get this into a 1.2 update in the near future.

[2017-09-15 11:43] stuclem opened #821 "After rebooting appliance, certificate download disappears from UI"
**VIC Product version:**

`vic-v1.2.0-d0ea01c2.ova`

**Deployment details:**

Deployed OVA to VC on Windows. Used it for a while without difficulties. Rebooted ESXi host. After reboot, the link to download the Registry certificate has disappeared.

![nocert](https://user-images.githubusercontent.com/16718369/30480749-a70205c6-9a1b-11e7-9325-c29922376fb7.png)

This is the second time that I have se

[2017-09-15 13:45] hickeng opened #822 "OVA should detect dangling tag entries for deleted deployments and recommend clean up"
Having deployed the OVA a couple of times and deleted an instance I now see the following:
[code]

There are three tag entries found:
1. doesn't existed as the OVA was deleted
2. powered off as it was having clair issues (@malikkal to raise issue with vmware/harbor)
3. active but VCH not registered

That first entry is now an orphan and will never go away - these will slowly accrue over time unles

[2017-09-15 15:35] dbarkelew opened #824 "Documentation request for backup instructions and strategy BugRef: 1960802"
Request to have a backup instruction and/or strategy documented for the VIC solution. Including all of VIC's components VIC-Engine, Harbor and Admiral.

BugRef: 1960802

[2017-09-15 15:42] corrieb commented on #824
I was halfway through this exercise and then VMworld got in the way.

[2017-09-15 15:47] corrieb opened #825 "Document that dch-photon creates an anonymous volume"
The anonymous volume created by dch-photon is like a little poop it will leave in your datastore. It's a helpful illustration as to why you might want a real volume with dch-photon, but the user needs to be aware that they will not only need a "default" volume store, but they'll need to perform manual cleanup.

Once we have `docker rm -v`, we won't need this manual step anymore.

[2017-09-15 16:58] emeirell opened #826 "Documentation about VIC appliance per vCenter"
Documentation says "You can only deploy one vSphere Integrated Containers appliance per vCenter Server instance"
https://vmware.github.io/vic-product/assets/files/html/1.2/vic_overview/introduction.html

It appears to be a documentation issue.
It was nice to know if it's incorrect or why of this limitation.

[2017-09-15 17:42] #808 closed

[2017-09-15 18:05] anchal-agrawal opened #827 "OVA installer webserver should not run as root"
@andrewtchin commented on [Fri Mar 24 2017](https://github.com/vmware/vic/issues/4382)

**User Statement:**
As a person, I do not want the OVA installer webserver to run as root.

**Details:**
Don't run as root
`installer/fileserver/server.go`
`installer/engine_installer/server.go`

**Acceptance Criteria:**
- [ ] Getting Started Page webserver doesn't run as root
- [ ] Demo VCH Installer Wizard we

[2017-09-15 18:33] mlh78750 commented on #740
@mdubya66 your comment at https://github.com/vmware/vic-product/issues/740#issuecomment-327629122 seems to be the only definitive answer on why we can't deploy two OVAs to a single VC. Do you know why that is not supported? It is just a testing issue? or does something not work?

[2017-09-15 19:00] dbarkelew commented on #740
There are some deployments with multiple VIC appliances already. If this is a problem we will need to know how to fix it when the symptoms start cropping up.

[2017-09-15 19:02] mlh78750 commented on #740
@dbarkelew that's a common setup. Which is why I am wondering about this. @emeirell posted https://github.com/vmware/vic-product/issues/826 against vic-product to see if this was in fact a limitation or a doc issue. I suspect doc issue and I'd like to revert the doc change unless someone can tell me why it doesn't work or is not supported. We might need to add some tests to ensure we're testing so

[2017-09-15 19:24] mlh78750 commented on #826
I'm looking into this and will report back. See https://github.com/vmware/vic-product/issues/740 for discussion.

[2017-09-15 19:47] stuclem commented on #740
I introduced the one-appliance-per-VC limitation in 1.2, so it's only been visible publicly for a couple of days. I can pull that out if we want to avoid complaints about us forbidding setups that customers already have. Then, when we agree on a position, I can document some suggested setups per @dbarkelew 's comment above. I'm glad that I started this conversation!

[2017-09-15 19:56] mlh78750 commented on #740
Let's revert @stuclem until we know for sure that it's not supported.

[2017-09-15 20:38] mlh78750 commented on #740
Note that it is not supported to add a VCH instance to more than one VIC Appliance (Admiral). But that doesn't preclude us from allowing more than one VIC appliance per VC.

[2017-09-15 20:47] anchal-agrawal opened #831 "Proposal to Dockerize ova-webserver and ova-engine-installer"
`Bugzilla 1958949`

From @pstroia:

---

I'm opening this bug to start an open discussion about Dockerizing the two processes in the OVA that listen to port 9443 and 1337.

Those processes are acting as webservers (and currently as root), so if there's any kind of compromise, it would be very beneficial to isolate them from the other processes running in the OVA.

My suggestion is to use docker-co

[2017-09-15 21:15] mlh78750 commented on #740
Confirmed. @stuclem please remove the note about support for only one VIC appliance per VC.

We should also add a note saying that a VCH should only be added to one VIC appliance for management.

[2017-09-15 21:16] mlh78750 commented on #826
Pending the change asked for in https://github.com/vmware/vic-product/issues/740#issuecomment-329905230 you should see this note removed.

It is supported to have more than one VIC appliance per VC.

[2017-09-15 21:16] #826 closed

[2017-09-18 09:08] stuclem commented on #818
See PR https://github.com/vmware/vic-product/pull/817, which implements https://github.com/vmware/vic-product/issues/797

[2017-09-18 12:16] stuclem commented on #740
@mlh78750 done in https://github.com/vmware/vic-product/pull/832. Please can you review it?

[2017-09-18 12:59] stuclem commented on #225
Thanks @andrewtchin !

[2017-09-18 13:03] stuclem opened #833 "Document vic-machine create --syslog-address option"
Per comment by @sguyennetVMW via Slack, `vic-machine create --syslog-address` is missing from the docs.

[2017-09-18 13:12] stuclem commented on #825
@corrieb I noticed when I was playing with `dch-photon` that it created about 20 odd volumes that didn't go away when I destroyed the containers.

[2017-09-18 13:14] stuclem commented on #833
Per https://github.com/vmware/vic/issues/4861

[2017-09-18 13:42] stuclem commented on #763
To be addressed along with https://github.com/vmware/vic-product/issues/681.

[2017-09-18 14:04] stuclem commented on #738
@mdubya66 and @emeirell if I remember correctly the discussions that I had with @hickeng at the time that he added these options, this is actually a bug in the implementation of `--rootpw`.

I believe that the intention is for `vic-machine debug` to work as documented, i.e. `--rootpw` activates Shell access only, and then if used in combination with `--enable-ssh`, it enables shell and SSH access,

[2017-09-18 14:14] stuclem commented on #112
@sergiosagu and @reasonerjt can you please provide the following security-related information for Admiral/Harbor?

- External interfaces and ports used
- Any vSphere services used
- Service accounts and privileges  created during deployment (as opposed to user accounts)
- I imagine that we need the exact privileges of the example users created during OVA deployment too
- Where to find security rel

[2017-09-18 19:04] pdaigle commented on #740
A customer has submitted the following additional scenario. I believe this would be a common request among medium/large vSphere installations:

- They have a 6 vCenters in as many locations;
- vCenters are not all part of the same SSO domain;
- Customer would like to have a centralized Registry, replicated to all vCenter locations for data proximity (Hub&Spoke-like scenario) with a registry instan

[2017-09-18 19:12] emeirell commented on #738
Fixing the implementation of `--rootpw` seems the right thing to do.
This security granularity control is greatly appreciated within customers.

[2017-09-19 15:00] dbarkelew opened #837 "Upgrading the VIC appliance fails with external PSC BugRef 1962217"
**BugRef:** 1962217

**VIC Product version:**
v1.1.1-10711-56a309f

**Deployment details:**
Deployed with Windows vCenter and External PSC also Windows.
vSphere version=6.0.0, build=3634793

**Steps to reproduce:**
Follow:
https://vmware.github.io/vic-product/assets/files/html/1.2/vic_vsphere_admin/upgrade_appliance.html

In attempt to fix PSC registration follow:
https://vmware.github.io/vic-prod

[2017-09-19 19:13] anchal-agrawal commented on #837
@stuclem Proposed additions to https://vmware.github.io/vic-product/assets/files/html/1.2/vic_vsphere_admin/upgrade_appliance.html:

In the **Procedure** section, step 12 (added material is italicized for clarity):

---

When prompted, enter the address of the vCenter Server instance on which you deployed the new appliance and the Single Sign-On credentials of a vSphere administrator account. _If

[2017-09-19 23:51] anchal-agrawal opened #839 "OVA upgrade from 1.2.x to 1.2.y"
This issue is for delivering an OVA upgrade procedure from 1.2.x to 1.2.y, which is different from 1.1.1 to 1.2.x since data migration for Admiral is not involved.

**Please see https://github.com/vmware/vic-product/issues/839#issuecomment-330950081 for more details. Leaving the original issue details below for posterity.**

---

/cc @sergiosagu @gmuleshkov @mdubya66

**Data migration script:**

h

[2017-09-20 00:18] lcastellano commented on #839
The migrate script interacts with both an old Admiral and a new one. It looks like the script uses $3 when talking to the new Admiral and $auth_token when talking to the old one. If the old one is from VIC 1.1 it does not need the token (no auth) so the fact that is uninitialized does not matter. If instead the old Admiral is VIC 1.2 then I don’t think that the migration script is needed.

From: A

[2017-09-20 07:07] gmuleshkov commented on #839
In case of upgrade from 1.2 to 1.2.1 the migration script (migrate.sh) should not be executed. In this case admiral just have to be started with the old storage.
The migration script is required only in case of upgrade from 1.1 to 1.2/1.2.1 and it is needed because of changes in the model of admiral.

[2017-09-20 07:36] #833 closed

[2017-09-20 07:38] #772 closed

[2017-09-20 08:14] lgayatri commented on #839
I hit the same issue when upgraded from 1.2.x to 1.2.y
upgrade.log says:
[main] INFO com.vmware.identity.token.impl.SamlTokenImpl - SAML token for SubjectNameId [value=admiral-07a6e154-b65f-463d-865d-b6e8b6ab6014@vsphere.sgp.dbs.com, format=http://schemas.xmlsoap.org/claims/UPN] successfully parsed from Element
[main] INFO com.vmware.vim.sso.client.impl.SecurityTokenServiceImpl - Successfully acqu

[2017-09-20 09:52] stuclem opened #840 "Document new external PSC field in appliance initialization prompt"
Per https://github.com/vmware/vic-product/issues/837, implemented in https://github.com/vmware/vic-product/pull/838.

This applies to both a fresh 1.2.1 install and upgrade to 1.2.1.

[2017-09-20 12:16] lgayatri opened #841 "OVA upgrade 1.1.1 to 1.2.y fails during harbor's data migration"
[upgrade.txt](https://github.com/vmware/vic-product/files/1317686/upgrade.txt)
1.1.1 OVA: vic-v1.1.1_56a309fb.ova
1.2.y OVA: https://storage.googleapis.com/vic-product-ova-builds/vic-5b3261d8-devrc3.ova

Had inventory of VCH, containers, projects, users on 1.1.1 which I migrated to 1.2.y
[code]
Attached upgrade log

[2017-09-20 14:12] mdharamadas1 commented on #804
Existing CI setup where we have a VM running to build OVA doesn't seem reliable in the sense that builds don't pass all the time (not consistent). Also, there are some manual steps involved in setting up that builder VM including checking out repo code.
So I'm going to stop working on this until the container based build process is available.

[2017-09-20 18:41] anchal-agrawal opened #845 "OVA upgrade issues: 1.1.1 -> 1.2.0 -> 1.2.1"
This epic covers all OVA upgrade-related issues that are release blockers.

[2017-09-20 19:04] anchal-agrawal commented on #839
Since the upgrade process for `1.2.x to 1.2.y` will be different from that of `1.1.1 to 1.2.x`, I attempted the following upgrade procedure on a fresh set of `1.2.0 GA` and `1.2.1-dev-rc3` OVAs:

* Followed the [usual OVA upgrade steps](https://vmware.github.io/vic-product/assets/files/html/1.2/vic_vsphere_admin/upgrade_appliance.html), except for running the upgrade script (step 12).
* After powe

[2017-09-20 21:21] anchal-agrawal opened #846 "Update OVA upgrade test plans"
We should update the [OVA upgrade test plan](https://github.com/vmware/vic/blob/master/tests/manual-test-cases/Group19-VIC-Product/19-8-VIC-Upgrade.md) for the following upgrade scenarios:

* 1.1.1 to 1.2.0
* 1.1.0 to 1.2.1
* 1.2.0 to 1.2.1

[2017-09-20 21:24] anchal-agrawal commented on #841
@reasonerjt Adding you as assignee - please help triage this.

[2017-09-21 01:56] reasonerjt commented on #839
There's no any change of Harbor's code in 1.2.x -> 1.2.y

The root cause of broken Harbor UI should be caused by a misconfiguration in Admiral, it's pointint to the old address after upgrade.
I'll double check with Admiral team.

[2017-09-21 02:34] reasonerjt commented on #841
we have upgraded successfully, it's probably a usage error I will check with @lgayatri

[2017-09-21 06:35] gmuleshkov commented on #839
@anchal-agrawal . I think that the reason for the broken harbor UI is that the property for the harbor address is not updated. In the ova scripts there was a part where we send a request to admiral in order to update the property and after that we had a restart of admiral. I think that by executing this part everything should work as expected.

[2017-09-21 06:43] lgayatri commented on #841
@reasonerjt
Yesterday, after powering on the new OVA, I would have accidentally reinitialized causing the Database password to be over written  and there by causing upgrade to fail. I redid the upgrade steps and could upgrade successfully, here is the snippet
[code]
Was able to login to :8282 and :9443 but VCH data seems to be messed up. Will file separate PR for that

[2017-09-21 06:44] lgayatri commented on #841
Have double entries for VCHs.
![image](https://user-images.githubusercontent.com/25006749/30682240-7aa8a016-9ec6-11e7-8c2f-957cf8adedf7.png)

[2017-09-21 06:46] #841 closed

[2017-09-21 07:01] lgayatri opened #847 "Document that after OVA upgrade there are duplicate VCHs in admiral"
Post successful upgrade of OVA from 1.1.1 to 1.2.y , I am seeing duplicate VCHs as in the screenshot below:
[code]
![image](https://user-images.githubusercontent.com/25006749/30682431-46b75e72-9ec7-11e7-99db-74e7b11a0008.png)
Even placementzone got placed here.Newly added VCHs are not getting duplicated.

[2017-09-21 07:03] lgayatri commented on #847
[847.zip](https://github.com/vmware/vic-product/files/1320240/847.zip)

[2017-09-21 07:54] gmuleshkov commented on #847
This is expected behavior. In VIC 1.2 the data model is change compared to 1.1
Here I suppose that the case is the following:
1. Before upgrade there were 2 Placements pointing to the same Placement zone
2. After upgrade in this case a new placement is created in order to match the new relation between placement-> placement zone . In VIC 1.2 is it 1:1. In vic 1.1 the relation was one to many.
In V

[2017-09-21 07:57] sergiosagu commented on #847
Closing it as per @gmuleshkov 's comment.

[2017-09-21 09:50] stuclem opened #848 "Add links to Docker 101 education resources"
Per comment from @hickeng we need to provide links to Docker resources for vSphere admins who don't know Docker, for example: http://labs.play-with-docker.com/

A decent Docker terminology guide would be useful too.

@hickeng @corrieb @mlh78750 can you provide some pointers to good ones here, please?

[2017-09-21 10:17] stuclem opened #849 "Document that you must use Flex client to deploy OVA"
We do state that you should use the vSphere Web Client, but need to make it more explicit that OVA deployment does not work with the H5 or legacy C# clients.

[2017-09-21 10:30] stuclem commented on #840
@stuclem Proposed addition to https://vmware.github.io/vic-product/assets/files/html/1.2/vic_vsphere_admin/upgrade_appliance.html:

In the **Procedure** section, step 12 (added material is italicized for clarity):

---

When prompted, enter the address of the vCenter Server instance on which you deployed the new appliance and the Single Sign-On credentials of a vSphere administrator account. _If y

[2017-09-21 10:35] stuclem commented on #738
In the meantime, I'll add this as a Known Issue in the release notes.

[2017-09-21 10:39] stuclem commented on #738
Moving this to the `vic` repo, as this is an engineering issue rather than a doc issue. I did not find an existing issue about `--rootpw` enabling SSH.

[2017-09-21 10:40] stuclem commented on #738
Issue moved to [vmware/vic #6402](https://github.com/vmware/vic/issues/6402) via [**ZenHub**](https://www.zenhub.com/)

[2017-09-21 10:40] #738 closed

[2017-09-21 11:11] reenberg opened #850 "Minor documentation issues on docker client certificate names."
In the documentation of VIC 1.2: [Use and Limitations of vSphere Integrated](https://vmware.github.io/vic-product/assets/files/html/1.2/vic_app_dev/container_limitations.html), at the end under "Using docker-compose with TLS" it says that you need to name the client certificate and keys `client_cert.pem` and `client key.pem` (I assume the missing underscore is also a mistake).

However, in the doc

[2017-09-21 14:59] mhagen-vmware commented on #841
Can we please release note this, with what not to do? It seems like this could be a fairly common issue with customers, and I think we should really try to do what we can to prevent this from happening as well..

[2017-09-21 15:06] stuclem commented on #841
@mhagen-vmware what do you want me to document in the release notes? The double entries for VCHs?

[2017-09-21 15:12] mhagen-vmware commented on #841
Ideally: how did a user get into the situation, what it looks like when you are in the situation, and how to resolve the situation once you are in it ( @lgayatri )

[2017-09-21 15:15] andrewtchin commented on #841
@lgayatri How did you resolve this?

[2017-09-21 15:20] anchal-agrawal commented on #841
https://github.com/vmware/vic-product/issues/847 has more details.

[2017-09-21 16:07] mdharamadas1 commented on #804
I will resume working on this using the new build process (#804).

[2017-09-21 16:16] andrewtchin commented on #847
@gmuleshkov @sergiosagu do we need to document that the user needs to manually remove these?
cc @stuclem

[2017-09-21 16:26] andrewtchin commented on #740
@stuclem For the detail in #832 if you think it's necessary, you can add a note that if a VCH is added to more than one VIC appliance, behavior of trusted content will be undefined.

[2017-09-21 17:09] morris-jason commented on #667
ref: https://docs.docker.com/engine/userguide/networking/default_network/custom-docker0/

This seems like a simple change to vic-product/installer/build/scripts/systemd/docker.service.
We need to use the ovfenv tool to get the paramaters for a custom bridge network cidr from ovf input. Then we change the start line in the system unit to `ExecStart=/usr/bin/dockerd --storage-driver=overlay2 --bip=$

[2017-09-21 19:51] mdubya66 commented on #846
let's add 1.1.1 to 1.2.0 to 1.2.1

[2017-09-21 20:28] andrewtchin opened #854 "Add OVA version"
**User Statement:**

As a developer I want to know what system version and what data version is present on the VIC Appliance.

**Details:**

**Acceptance Criteria:**
- [x] Add version file to somewhere in `/etc` to determine system version
- [x] Add version file to somewhere in `/data` to determine data version
- [x] In upgrade script, write the `/data` file so we know version from 1.2.1 going for

[2017-09-21 22:15] anchal-agrawal commented on #839
@stuclem - this will require doc changes for the 1.2.1 release. #855 will fix this issue.

[2017-09-21 22:23] #837 closed

[2017-09-22 01:44] hickeng opened #856 "Use LVM for both root and data disks"
LVM adds necessary flexibility for being able to extend disk sizes without necessarily using the same vmdk or the same datastore.
While different datastores does bring up partial failure scenarios and is an advanced config, it’s one that can be necessary simply due to process sometimes.

[2017-09-22 12:06] stuclem commented on #847
@gmuleshkov is it correct to say that

[2017-09-22 12:44] stuclem opened #857 "Typo `admrial` in upgrade script failure message causes command to fail if you copy/paste it"
**VIC Product version:**

1.2.1 RC 3 `vic-5b3261d8-devrc3.ova`

**Deployment details:**

Upgrading 1.2.0 GA to 1.2.1.

**Steps to reproduce:**

1. Attached disk from 1.2.0 appliance to newly deployed 1.2.1 appliance.
2. SSH'd into new appliance and ran upgrade script.
3. Upgrade failed (will potentially file another issue about that).
4. Attempted to run upgrade script again, saw message: <pre>Per

[2017-09-22 13:07] stuclem opened #858 "Upgrade to 1.2.1 froze without explanation"
**VIC Product version:**

1.2.1 RC 3 `vic-5b3261d8-devrc3.ova`

**Deployment details:**

Upgrading VIC 1.2.0 GA to 1.2.1. vCenter Server on Windows with embedded PSC.

**Steps to reproduce:**

1. Attached disk from 1.2.0 appliance to newly deployed 1.2.1 appliance.
2. SSH'd into new appliance and ran upgrade script.
3. Upgrade failed:
[code]
4. Attempted to run script again, saw error that `vic-up

[2017-09-22 13:10] stuclem commented on #850
Thank you @reenberg, I get this fixed ASAP.

[2017-09-22 13:13] stuclem commented on #318
Found the appliance logs in `/var/log` on the appliance.

@andrewtchin where do I find the Harbor and Admiral logs? Thanks!

[2017-09-22 13:21] stuclem opened #859 "Update upgrade script name in docs"
The script to upgrade the VIC appliance is named `upgrade_1.1_to_1.2.sh`. However, you use this script to upgrade from 1.2.0 to 1.2.1 as well as to upgrade from 1.1 to 1.2.

Would `upgrade_to_1.2.sh` be more appropriate? Is it sufficiently clear that this script is for x.y.z update releases as well as for x.y releases?

Ideally, I think that the script filename should include the full version numb

[2017-09-22 15:01] anchal-agrawal commented on #857
I'm fixing this with #839. Closing.

[2017-09-22 15:01] #857 closed

[2017-09-22 15:10] anchal-agrawal commented on #859
@stuclem The current upgrade script `upgrade_1.1_to_1.2.sh` is not meant for upgrading 1.2.x to 1.2.y. We should revise the note in https://vmware.github.io/vic-product/assets/files/html/1.2/vic_vsphere_admin/upgrade_appliance.html for the 1.2.0 release to say:

@andrewtchin does the above look good?

To upgrade to 1.2.0+ releases, such as 1.1.x to 1.2.1 or 1.2.0 to 1.2.1, the `upgrade_1.1_to_1.2.

[2017-09-22 15:12] anchal-agrawal commented on #859
We can leave this issue open for doc purposes - the fix for the script is in #855.

[2017-09-22 15:48] anchal-agrawal commented on #858
From `upgrade.log`:

[code]

Not sure why the stdout and the log file are inconsistent. The lines that are missing in stdout are printed the exact same way to both file descriptors: https://github.com/vmware/vic-product/blob/master/installer/packer/scripts/upgrade/upgrade_1.1_to_1.2.sh#L266

[2017-09-22 16:05] andrewtchin commented on #318
I believe Admiral is `docker logs vic-admiral` and Harbor is `/var/log/harbor`
@reasonerjt @sergiosagu please correct me if I'm wrong

[2017-09-22 21:51] #854 closed

[2017-09-25 08:16] stuclem commented on #859
OK, thanks @anchal-agrawal. I'll check this in the next OVA build and update the doc accordingly.

[2017-09-25 08:27] stuclem commented on #825
Closed in https://github.com/vmware/vic-product/pull/813

[2017-09-25 08:27] #825 closed

[2017-09-25 08:41] stuclem commented on #841
@lgayatri I'm still not very clear about what I am supposed to document here. Tell people not to hit the reinitialize button? Thanks in advance for any clarifications!

[2017-09-25 10:15] stuclem opened #864 "Inconsistent redirect behavior if you specify HTTP or HTTPS with OVA address"
As discussed with @lgayatri in https://github.com/vmware/vic-product/pull/852 and via Slack, you get inconsistent behavior when you specify http://<i>appliance_ip</i> and https://<i>appliance_ip</i> in your browser without specifying a port.

**VIC Product version:**

`vic-5b3261d8-devrc3.ova`

**Deployment details:**

Environment where the OVA is deployed is a VC on Windows, embedded PSC.

**Step

[2017-09-25 11:24] stuclem opened #865 "Document how to add VCHs/Docker hosts to projects from Projects view"
I don't think that we have this in the docs yet, namely adding a VCH by doing **Administration** > **Projects** > **Details** > **Infrastructure** > **+NEW**.

This does seem to be exactly the same as adding a VCH in the **Home** > **Infrastructure** tab, but maybe we need to check whether there is a difference for the DevOps and Cloud admins.

[2017-09-25 11:30] stuclem opened #866 "Fix --management-gateway example in doc"
Per comment from @emeirell via email, the example for --management-gateway is wrong.

Here is the doc example:

----

In the following example, `--management-network-gateway` informs the VCH that it can reach all of the vSphere management endoints that are in the ranges 192.168.3.0-255 and 192.168.128.0-192.168.131.255 by sending packets to the gateway at 192.168.2.1. Ensure that the address range

[2017-09-25 13:05] emeirell commented on #866
Hi @stuclem , yes it's correct.
On the command, the second range is a /24, which is from 192.168.128.0-192.168.128.255
but the text example shows a range from 192.168.128.0-192.168.131.255...... addresses from 192.168.129.0-192.168.131.255 will not have any route in the routing table.
So, from my point of view.... the text example range is wrong or the command example must specify /22 instead of /

[2017-09-25 13:23] stuclem opened #869 "Document how to configure the OS of a container VM"
Per comment by @corrieb in https://github.com/vmware/vic/issues/6279, we need to document how to configure certain elements of the container VM OS.

Comment from @corrieb reproduced here:

------

I suggest we add a section on configuring the cVM OS and add all of the common requirements - swap space, hostname etc. Some of these will have proper support and others may need some workarounds. We can

[2017-09-25 13:25] stuclem commented on #869
Full (evolving) list of container VM config operations is being tracked in Epic https://github.com/vmware/vic/issues/6418.

[2017-09-25 15:22] hmahmood commented on #866
Yes @emeirell is correct. It should be `192.168.128.0-192.168.128.255` not `192.168.128.0-192.168.131.255`.

[2017-09-25 17:09] andrewtchin opened #870 "Tracking issue"
**User Statement:**

Bugzilla 1966597

**Details:**

**Acceptance Criteria:**
- [ ] Fix

[2017-09-25 19:03] #839 closed

[2017-09-25 19:20] #870 closed

[2017-09-26 07:21] sergiosagu commented on #847
@stuclem / @andrewtchin - That's correct. And if needed, the user can manually remove the duplicated ones.

[2017-09-26 09:24] stuclem opened #877 "Automate build of docs in master and push to vmware.github.io"
Ideally, we would like the docs in `/vic-product/tree/master/docs/user_doc` to be built automatically. The generated HTML should also be pushed automatically to `https://vmware.github.io/vic-product/assets/files/html/workinprogress`.

[2017-09-26 10:51] sergiosagu commented on #112
@stuclem - sorry for the delay, let me know if you need anything else about Admiral.

Admiral exposes its UI and API via port 8282.

Should the PSC integration be mentioned here? Apart from that Admiral does not make use of any vSphere service.

Admiral does not have any service account created for its usage.

There are 3 example users created during the OVA deployment:
- default cloud administrat

[2017-09-26 15:10] andrewtchin opened #880 "Design improved OVA inclusion process"
**User Statement:**

As a developer I want the process for including components in VIC appliance to be well documented.

**Details:**
- It should be impossible for the user to corrupt VIC data by running the upgrade process
- Create a framework to be followed by component projects
- Require CI builds, build breaks are responsibility of the team that breaks the build
- Review and update documentati

[2017-09-26 15:29] andrewtchin opened #881 "OVA shared TLS certificate"
@andrewtchin commented on [Wed Jul 05 2017](https://github.com/vmware/vic/issues/5640)

**User Statement:**

As a user I want to be able to use the same TLS certificate across all components of the OVA, whether it is generated by the OVA or entered during the OVA deploy.

**Details:**
We currently generate a separate self signed cert for each component or require the user to enter multiple certifi

[2017-09-26 15:32] andrewtchin opened #882 "Admiral push to gcr improvement"
@mhagen-vmware commented on [Mon Apr 17 2017](https://github.com/vmware/vic/issues/4806)

User statement:  As an engineer managing the build process for the unified OVA installer, we need admiral to push to gcr in order to simplify and unify our build process so that all products are being pulled from a unified location.

Details:

Acceptance Criteria:
1. When admiral builds, it pushed to GCR repo

[2017-09-26 15:32] andrewtchin opened #883 "Sign installer ova and other released binaries"
@jakedsouza commented on [Fri Apr 07 2017](https://github.com/vmware/vic/issues/4635)

As per security checklist all Binaries are signed before being distributed out.

Expectation:
Introduce a process to sign official releases of the installer OVA along with all other binaries released.

---

@andrewtchin commented on [Wed May 10 2017](https://github.com/vmware/vic/issues/4635#issuecomment-3005747

[2017-09-26 15:33] andrewtchin opened #884 "vm-support on VCH should include Harbor logs as well which are under /var/log/harbor"
@lgayatri commented on [Fri May 26 2017](https://github.com/vmware/vic/issues/5265)

**User Statement:**

The support bundle that gets generated on VCH with vm-support should include Harbor logs

**Details:**
vm-support on VCH contains only vmware-* files from /var/log and does not include log folder harbor which is needed to debug harbor issues

**Acceptance Criteria:**
Extracted vm-support bundl

[2017-09-26 15:34] andrewtchin opened #885 "[OVA] Admiral container should define a volume to persist the logs there"
@sergiosagu commented on [Tue Apr 11 2017](https://github.com/vmware/vic/issues/4680)

Within the OVA for 1.1 we need Admiral container to define a volume to persist the logs there, otherwise the container logs are lost when, for example, the VA is restarted and (a new) Admiral container is recreated.

**Steps to reproduce:**
Deploy VIC 1.1 OVA.
Do some operation in Admiral (e.g. add host, add cer

[2017-09-26 15:35] andrewtchin opened #886 "Improve upgrade failure condition"
@andrewtchin commented on [Fri Aug 04 2017](https://github.com/vmware/vic/issues/5923)

**User Statement:**
As a user I want better info when OVA upgrade fails due to resizefs unit failure

**Details:**
Add a log when the block device doesn't exist as right now we just exit 1

**Acceptance Criteria:**
- [ ] Log when block device doesn't exist in `resize_data_volume.sh`, user must delete and readd

[2017-09-26 15:40] andrewtchin opened #887 "Integration tests for VIC-OVA config changes: Admiral/PM"
@lcastellano commented on [Wed Apr 12 2017](https://github.com/vmware/vic/issues/4725)

**User Statement:**
New integration tests are needed to test the new configuration options for Admiral/PM

**Details:**
Admiral/PM will have new configuration options (e.g. Identity Provider), that need to have integration tests.

**Acceptance Criteria:**
VIC-OVA integration tests, positive and negative test ca

[2017-09-26 15:41] andrewtchin opened #888 "Integration tests for VIC-OVA config changes: Harbor"
@lcastellano commented on [Wed Apr 12 2017](https://github.com/vmware/vic/issues/4728)

User Statement:
New integration tests are needed to test the new configuration options for Harbor

Details:
Harbor will have new configuration options (e.g.TLS configuration), that need to have integration tests.

Acceptance Criteria:
VIC-OVA integration tests, positive and negative test cases.

[2017-09-26 16:56] lgayatri commented on #841
@stuclem , Yes, user should NOT hit reinitialize button before running the upgrade.sh . Accidentally hitting reinitialize will cause complete damage.

[2017-09-26 17:49] anchal-agrawal commented on #841
We have noted this in our docs already. Step 10: https://vmware.github.io/vic-product/assets/files/html/1.2/vic_vsphere_admin/upgrade_appliance.html

[2017-09-27 07:35] stuclem commented on #841
@lgayatri and @anchal-agrawal we also have more information about when and when not to hit the initialize button in PR https://github.com/vmware/vic-product/pull/852, which I will merge when we release 1.2.1, since it contains information specific to 1.2.1.

[2017-09-27 08:04] lgayatri commented on #841
Ok @stuclem

[2017-09-27 08:50] stuclem opened #889 "Add link to Reinitialize Appliance docs to the Getting Started page"
Given the risks associated with clicking `Re-initialize the vSphere Integrated Container Appliance` when it is not appropriate to do so (see https://github.com/vmware/vic-product/issues/841) we should add a warning text next to the button, informing people to read the docs before clicking. For example:

----

**Re-initialize the vSphere Integrated Container Appliance**
**CAUTION**: Read the [docum

[2017-09-27 09:11] stuclem opened #890 "Description of Demo VCH Wizard Port option in OVA installer says "fileserver""
**VIC Product version:**

`vic-v1.2.1-rc3-4104e5f9.ova`

**Deployment details:**

VC on Windows, embedded PSC.

**Steps to reproduce:**

During OVA deployment, the description of step 6.1 **Engine Install Wizard Port** includes "fileserver":

![wizfileserver](https://user-images.githubusercontent.com/16718369/30905055-09352f78-a374-11e7-9e0e-a2d7fcc1007b.png)

Also, "Engine" in step 6.1 should be

[2017-09-27 09:21] stuclem commented on #864
The problem is actually worse if you enter **https**://<i>appliance_ip</i> without a port when you first power on the appliance. It attempts to redirect to 8282 but the appliance has not initialized yet so the Management Portal service is not yet running, leading to a connection timeout error.

[2017-09-27 13:46] stuclem commented on #858
I am now having difficulties with upgrade from 1.1.1 to 1.2.1. The upgrade script just seems to hang. It has been stuck at this line for about 30 minutes:

![upgrade111to121](https://user-images.githubusercontent.com/16718369/30916525-ed0831c6-a399-11e7-8e1b-8e7bcba673c6.png)

The `upgrade.log` file shows the following:

[code]
It doesn't seem to be doing anything after this step, as I have downlo

[2017-09-27 14:28] stuclem commented on #858
Weird. I quit that SSH session, logged back in, and ran the script again, without changing anything. Upgrade appears to be progressing normally this time....

[2017-09-27 14:38] stuclem commented on #847
@sergiosagu does it matter which one, or are they identical?

[2017-09-27 14:38] stuclem commented on #847
Reopening for doc.

[2017-09-27 14:41] sergiosagu commented on #847
@stuclem - It doesn't really matter as long as they belong to the same project. Leaving one instance per project will be enough.

[2017-09-27 14:44] stuclem commented on #847
OK thanks

[2017-09-27 14:56] stuclem commented on #858
Confirmed. Upgrade worked. Data migrated.

[2017-09-27 16:05] stuclem commented on #847
@lgayatri can you please describe the steps that you took in 1.1.1 before the upgrade, that led to these duplicate VCHs appearing in 1.2? I cannot reproduce it. But that said, I don't really know much about placements, placement zones, and projects in Management Portal / Admiral 1.1, so I'm obviously doing something wrong in 1.1. Thanks!

[2017-09-27 17:37] stuclem commented on #847
@sergiosagu, I'm still trying to get my head around @gmuleshkov 's comment above, and placements in general. So, can you pleas help with the following questions?:

- In 1.1, a placement zone is a cluster of VCHs/Docker hosts.
- In 1.1, a placement is .... what exactly? The association of a VCH/placement zone with a project?
- In 1.1, when you provision a container from a template, you provision it

[2017-09-27 18:46] corrieb opened #891 "Docker client fails authorization after OVA reset"
When I install the OVA, I go through the various processes to add the root certificate of the registry to a remote Docker and then I can login fine using my PSC vSphere ID. Eg.

[code]
I can do this without adding this ID anywhere in the Management UI. I don't need to be a member of a project or have any kind of role.

If I reset (power on / off) the OVA, I can no longer successfully login. I get

[2017-09-27 18:51] corrieb commented on #891
Here are the OVA logs showing successful login followed by a reboot and unsuccessful login

[logs.zip](https://github.com/vmware/vic-product/files/1338385/logs.zip)

[2017-09-27 20:00] andrewtchin commented on #891
@reasonerjt @sergiosagu Please take a look at this issue

[2017-09-27 20:16] corrieb commented on #891
Note that this was using DHCP and I reset the OVA - hard power off / power on

[2017-09-27 21:19] corrieb commented on #891
So it seems like this is less serious than first thought and we should document that you should always do a soft shutdown / restart of the OVA and list this as a symptom of a hard reset.

[2017-09-28 00:15] lcastellano commented on #891
The problem appears to be between docker and Harbor, I checked Admiral and it is responding correctly with the Security Context (@sergiosagu you are off the hook for the moment). **When the Harbor container is restarted on the OVA, login starts working again**. Docker and Harbor use special Tokens to authenticate messages. I believe those are created and signed by Harbor, my theory is that Docker

[2017-09-28 00:56] lcastellano commented on #891
I tried with the VCH and login was successful after reset of the OVA. So this appears to be a problem between Docker and Harbor.

[2017-09-28 01:35] andrewtchin commented on #891
Thanks @lcastellano

[2017-09-28 04:21] reasonerjt commented on #891
I did some investigation and I think I found the root cause.
On the .ova deployment, there are two service `harbor.service` and `harbor_startup.service`.   `harbor_startup.service` will generate key pair for signing and verifying registry's token.

After "Reset" the service `harbor.service` didn't wait for the finish of `harbor_startup.service`, so `registry` picked the old public key and `ui` pic

[2017-09-28 04:27] reasonerjt commented on #891
@andrewtchin @corrieb  To fix this issue the sequence of triggering the services has to be consistent after "reset"

[2017-09-28 07:30] stuclem commented on #847
@sergiosagu I added a new topic, [Tasks to Perform After Upgrading the vSphere Integrated Containers Appliance](https://github.com/stuclem/vic-product/blob/installupgrade121/docs/user_doc/vic_vsphere_admin/post_upgrade_tasks.md), in https://github.com/vmware/vic-product/pull/868/commits/3f6859ae6c2778fa450eb8d77373852661a0d1c4, which includes an item about these duplicate VCHs. Can you please take

[2017-09-28 07:56] stuclem commented on #891
Adding the release notes flag. If this is likely to be fixed in the near future, it belongs in the release notes. If you consider it necessary, I can also add a troubleshooting topic in the core docs.

[2017-09-28 10:47] stuclem commented on #644
In fact, although I documented registering with a new PSC in the context of https://github.com/vmware/vic-product/issues/681 and PR https://github.com/vmware/vic-product/pull/852, I removed this on request from @anchal-agrawal in PR https://github.com/vmware/vic-product/pull/852, due to problems that occur after performing the procedure. We can revert the changes in https://github.com/vmware/vic-p

[2017-09-28 13:07] fd025270 commented on #732
Hi,
I have deployed vic 1.2 and tryed to register with external PSC.

No error when executing the jar file to register with PSC, but when i try to start on port 8282, i have the same issue :

And the journal says :
`Sep 28 13:00:28 a203pvw108.mousquetaires.com start_admiral.sh[593]: at com.vmware.admiral.auth.idm.psc.saml.util.SamlManager.getInstance(SamlManager.java:100)
Sep 28 13:00:28 a203pvw10

[2017-09-28 14:41] andrewtchin opened #892 "Address scan results"
**User Statement:**

As a person I want to address scan results.

**Details:**
Bugzilla 1961978

**Acceptance Criteria:**
- [ ] Fix prioritized suggestions

[2017-09-28 15:31] stuclem opened #894 "Document --container-name-convention option"
Per https://github.com/vmware/vic/issues/6267 and https://github.com/vmware/vic/issues/6332

[2017-09-28 15:44] andrewtchin commented on #732
Hi @fd025270 did you receive the red error bar on the Getting Started Page like in the top screenshot in this issue? Or did you receive a green bar on the Getting Started Page?
When you say "No error when executing the jar file to register with PSC" were you manually running the jar file according to our troubleshooting topic? If so, could you provide the command you executed?

[2017-09-28 16:54] stuclem commented on #848
Added the following links in the overhauled networking overview:
- [Docker container networking](https://docs.docker.com/engine/userguide/networking/)
- [Docker Networking Options video](https://www.youtube.com/watch?v=Yr6-2ddhLVo)
- [vSphere Integrated Containers Networking Overview video](https://www.youtube.com/watch?v=QLi9KasWLCM)

[2017-09-28 17:32] lgayatri commented on #732
@fd025270 , do see https://github.com/vmware/admiral/issues/132 and try to re-register PSC

[2017-09-28 17:46] corrieb commented on #891
@stuclem It would be easy to accidentally do a hard reset instead of a reboot and then be perplexed as to why it results in these symptoms. For that reason, we should definitely document in a way that GSS can respond to.

[2017-09-28 19:32] andrewtchin commented on #732
Also @fd025270 If you access the Admiral interface too quickly after registering you will see this message in your web browser, though I'm not sure if this is the same scenario as you are experiencing. Please wait a minute after getting the green bar on the Getting Started Page before attempting to access Admiral if this is the case.
[code]

[2017-09-28 19:54] lcastellano commented on #891
To continue on Daniel's analysis, both services seem to be "enabled" in systemd (from configure-harbor.sh)

# Start on startup
echo "Enable harbor startup"
systemctl enable harbor_startup.service
systemctl enable harbor.service

That would mean that the two services are started automatically on reboot. Which implies that they will run concurrently (there are no dependencies between them). Which is

[2017-09-28 20:32] andrewtchin opened #895 "Update Demo VCH Installer Wizard"
**User Statement:**

As a user I want this fixed.

**Details:**
Bugzilla 1957067

**Acceptance Criteria:**
- [ ] Implement fix

[2017-09-29 07:28] fd025270 commented on #732
Thanks for all your answer, i will try now

[2017-09-29 09:12] #681 closed

[2017-09-29 09:12] #763 closed

[2017-09-29 09:42] #840 closed

[2017-09-29 09:42] #859 closed

[2017-09-29 09:47] stuclem opened #896 "Document that Docker client fails authorization after OVA reset"
Per https://github.com/vmware/vic-product/issues/891. Requires a release note and a TS topic in the core doc.

[2017-09-29 09:48] #858 closed

[2017-09-29 09:55] stuclem commented on #848
Some more resources to add in the docs:

- https://docs.docker.com/glossary/
- https://docs.docker.com/get-started/
- [What is a Container? (Ben)](https://www.youtube.com/watch?v=EnJ7qX9fkcU)
- [The Benefits of Containers (Ben)](https://www.youtube.com/watch?v=cCTLjAdIQho)
- [VMware Cloud Native YouTube Channel](https://www.youtube.com/channel/UCdkGV51Nu0unDNT58bHt9bg)
- [Container Registry](https

[2017-09-29 11:50] stuclem commented on #866
Fixed in https://github.com/vmware/vic-product/commit/71fcc18a542c9ea82603c9d24a6f397dc94f09a2. @emeirell and @hmahmood can you please confirm that this is OK? Thanks!

[2017-09-29 11:55] fd025270 commented on #732
Ok , so , first, thanks @andrewtchin and @lgayatri
I made a misconfiguration during the OVA configuration : wrong nameserver cause unable to ping the PSC.
I did some modification in the resolv.conf, but not a good idea

Redeployed from scratched and now it's fine

Thanks

[2017-09-29 11:56] lgayatri commented on #732
@fd025270 Welcome! Glad to know that its working fine.

[2017-09-29 12:57] stuclem commented on #891
Here's a draft release note entry:

-------

- <b>Attempts to log in to vSphere Integrated Containers Registry from Docker fail with error 401 Unauthorized [#891](https://github.com/vmware/vic-product/issues/891)</b><br>When you attempt to log in to vSphere Integrated Containers Registry, you see a 401 Unauthorized error, even though you have correctly configured the Docker client with the registr

[2017-09-29 13:05] stuclem commented on #896
Added release note in https://github.com/vmware/vic-product/releases/tag/v1.2.0. Will also add this in the 1.2.1 RNs.

[2017-09-29 13:18] stuclem commented on #769
I think I must have closed this by mistake

[2017-09-29 13:27] emeirell commented on #866
Hi @stuclem the information provided by @hmahmood  is correct.

[2017-09-29 17:02] hmahmood commented on #866
Looks good @stuclem

[2017-09-29 17:36] awninc opened #899 "upgrade script for 'upgrade_1.1_to_1.2.sh' fails to locate db_password key"
**VIC Product version:**

OVA version 1.2.0 VMWare Official

**Deployment details:**

VCSA 6.5u1, Embedded PSC

**Steps to reproduce:**

attempt to run upgrade script for VIC 'upgrade_1.1_to_1.2.sh', have password with special characters. I suspect maybe the '=' at the beginning of the password

**Actual behavior:**

Key not found: db_password --dbpass not set and value not found in /data/harbor/h

[2017-09-29 17:44] andrewtchin commented on #899
@awninc Thanks for your bug report!
I believe the workaround for this is to provide `--dbpass` e.g. `./upgrade_1.1_to_1.2.sh --dbpass pass`

[2017-09-29 17:50] anchal-agrawal commented on #899
Should we release note this for 1.2.1? @stuclem

[2017-10-02 13:24] stuclem commented on #866
Thank you @emeirell and @hmahmood !

[2017-10-02 13:24] #866 closed

[2017-10-03 08:31] stuclem commented on #894
Moving back to In Progress for review by @hickeng. The fix is in https://github.com/vmware/vic-product/pull/897/commits/35c15f860a506d60e13851516ac1e902a3097e85, which I merged in PR https://github.com/vmware/vic-product/pull/897 as I need to publish the 1.2.1 docs today.

[2017-10-03 08:38] #426 closed

[2017-10-03 08:44] stuclem commented on #894
Reopening for review by @hickeng

[2017-10-03 13:14] stuclem commented on #899
@anchal-agrawal and @andrewtchin since this applies to the 1.2.0 script, I don't think that we need to release note this in 1.2.1. Agree?

[2017-10-03 13:59] stuclem commented on #847
Reviewed by @sergiosagu via Slack.

[2017-10-03 13:59] #847 closed

[2017-10-03 15:06] anchal-agrawal commented on #899
This is present in the renamed script `upgrade.sh` as well. Pinging @andrewtchin for the release note entry.

[2017-10-03 15:07] stuclem commented on #899
OK, in that case we need it in the 1.2.1 notes. Thanks!

[2017-10-03 16:22] #845 closed

[2017-10-04 18:18] andrewtchin commented on #667
@dbarkelew Following these instructions it is possible to configure the `docker0` bridge, but other networks used by Harbor are not configurable because they are launched by compose - see this issue https://github.com/moby/moby/pull/29376

[code]

[2017-10-04 20:09] dbarkelew opened #908 "Request for which scripts run only on firstboot"
List of scripts that run on firstboot of the VIC appliance and possibly start order.

[2017-10-04 23:29] dbarkelew commented on #667
For the VIC appliance. Would it make since to shrink the default range on this as well while we are at it? Not seeing a need really for a /16 subnet.

[2017-10-05 10:52] lgayatri opened #909 "How to report when scan is reporting vulnerabilities"
![image](https://user-images.githubusercontent.com/25006749/31222708-b543f340-a9e5-11e7-9bcf-5fd3db88df3c.png)
![image](https://user-images.githubusercontent.com/25006749/31223578-68414c34-a9e8-11e7-96e9-eeab10f8f12e.png)
I do not see an option to download the vulnerability scan report. How  to interpret this output?

[2017-10-05 15:51] andrewtchin commented on #667
If we do provide a method to automatically configure this that would be easy to do

[2017-10-05 17:40] andrewtchin opened #911 "Research Spike: VAC integration for OVA appliance"
@frapposelli commented on [Wed Mar 15 2017](https://github.com/vmware/vic/issues/4250)

User Statement: Want to track usage of the OVA Appliance, if the user has given consent.

Acceptance Criteria: Design for supporting Phone Home (VAC) with granular properties about what is currently installed in the appliance

---

@mdubya66 commented on [Wed Mar 15 2017](https://github.com/vmware/vic/issues/42

[2017-10-05 17:47] mdubya66 commented on #911
https://github.com/vmware/vic/issues/3913

[2017-10-05 17:47] mdubya66 commented on #911
https://github.com/vmware/vic/issues/4250

[2017-10-06 14:43] andrewtchin commented on #742
Reopening for motd and option to disable SSH work

[2017-10-06 15:13] mdubya66 commented on #667
adding to 1.3 and making high priority per @pdaigle

[2017-10-06 15:13] mdubya66 commented on #742
adding to 1.3 and making high priority per @pdaigle

[2017-10-06 15:15] mdubya66 commented on #743
adding to 1.3 and making high priority per @pdaigle

[2017-10-06 15:16] mdubya66 commented on #744
duplicate of #743

[2017-10-06 15:19] mdubya66 commented on #885
adding to 1.3 and marking high pri, per @pdaigle

[2017-10-06 15:34] pdaigle commented on #667
A customer has used and confirmed the following as a workaround:

[code]

[2017-10-06 17:10] pdaigle opened #914 "Add vSphere version requirements to appliance prerequisites"
Please add vSphere version requirements to appliance pre-requisites.

Currently, vSphere versions are only detailed in the client plugin section.

It needs to be part of the basic, global prerequisites.

[2017-10-06 22:03] #669 closed

[2017-10-06 22:03] #708 closed

[2017-10-09 17:54] mdubya66 commented on #675
removing the high pri as not a critical bug

[2017-10-10 07:26] lgayatri opened #915 "Support PSC and VCSA's custom port for OVA appliance registration"
![image](https://user-images.githubusercontent.com/25006749/31373791-03e6ff70-adb9-11e7-970c-74e701ce3a71.png)

6.7 VCSA and PSC can run on non-default rhttp proxy ports. Default ports are HTTP- 80, HTTPS-443 but user can choose any other free ports during VC/PSC installation. Currently VIC appliance registration uses default ports and there is no provision to pass the port number.  This is requir

[2017-10-10 15:27] andrewtchin opened #916 "Move appliance to open-vm-tools"
**User Statement:**

As a developer I want to use open-vm-tools

**Details:**
https://reviewboard.eng.vmware.com/r/1171452/
Configure `tools.conf` with `exclude-nics=docker*`

**Acceptance Criteria:**
- [ ] Remove toolbox
- [ ] Use `open-vm-tools`

[2017-10-10 20:14] mdharamadas1 opened #919 "Improve CI slack notifications"
**User Statement:**

As a developer, I should be able to see an improved slack notification message which includes info like GitHub username to improve communications. Also, I want to limit number of notifications generated.

**Details:**
Drone provides `DRONE_COMMIT_AUTHOR` which needs to be added to existing slack message.

**Acceptance Criteria:**
Slack notifications generated by CI build are i

[2017-10-10 21:03] #804 closed

[2017-10-11 14:17] andrewtchin opened #920 "OVA VM should have a Guest OS name similar to that of VCH or Container VM"
@jooskim commented on [Mon Jul 10 2017](https://github.com/vmware/vic/issues/5678)

**User Statement:**
As a UI engineer I'd like to ensure that the VCH creation wizard always talks to the latest OVA appliance endpoint.

**Details:**
(Note: This story discusses 1.3 features that are not yet fully designed/implemented, but an initial discussion already took place with @andrewtchin and @emlin)

Afte

[2017-10-11 14:25] andrewtchin commented on #920
Maybe related to #911

[2017-10-13 08:54] stuclem commented on #848
All of these resources are now included in the doc. @hickeng can you think of any more? Thanks!

[2017-10-13 10:42] stuclem opened #921 "ifconfig only shows eth0 when a container connects to multiple bridge networks"
@chengwang86 commented on [Thu Aug 10 2017](https://github.com/vmware/vic/issues/5990)

#For bug reports, please include the information below:

**VIC version:**

Latest code on 08/10/2017.

**Deployment details:**

What was the vic-machine create command used to deploy the VCH?
[code]

**Steps to reproduce:**
[code]
Then within the container test1, run `ifconfig`.

**Actual behavior:**
The output

[2017-10-13 12:52] stuclem commented on #824
@corrieb has produced a doc:
https://docs.google.com/document/d/17kSqNdD6C69UdLhZ9f2bA0MNUB1k00IQnsrorkA27lU/edit

I need to convert this to markdown, break it up, and integrate it into the vSphere admin doc.

[2017-10-13 21:24] gigawhitlocks commented on #909
Labelled this as both a bug and an enhancement due to this being sort of a bug-by-omission

[2017-10-16 08:59] stuclem opened #923 "Document that vic-machine runs as a service in the OVA"
Per https://github.com/vmware/vic/issues/6037, which was merged in PR https://github.com/vmware/vic-product/pull/918.

[2017-10-16 09:01] stuclem commented on #848
There are also some good Harbor videos here: https://www.youtube.com/channel/UCSxaozHKrX3F0UnZeYe5Itg

[2017-10-16 09:59] stuclem commented on #102
Per https://github.com/vmware/vic/issues/5118, this option is being removed, either in 1.2.2 (if it happens) or in 1.3. Adding to both the 1.2.x and 1.3 releases.

[2017-10-16 10:04] stuclem opened #924 "Document changes in OVA SSH access"
Per https://github.com/vmware/vic-product/issues/742. Not sure if this will actually have a doc impact, since we already recommend against accessing the appliance through SSH in the docs.

[2017-10-16 10:05] stuclem commented on #742
Removing user-doc flag as I am tracking this in https://github.com/vmware/vic-product/issues/924

[2017-10-16 10:09] stuclem commented on #38
Overhauled the overview in https://github.com/vmware/vic-product/pull/905. @pdaigle and @pescerosso can you please review https://vmware.github.io/vic-product/assets/files/html/1.2/vic_overview/introduction.html and add your comments here? Thanks!

[2017-10-16 10:12] stuclem commented on #112
Now it's my turn to apologize for the delay, @sergiosagu. Thank you!

@reasonerjt can you please provide similar information for Harbor? Thanks!

[2017-10-16 10:17] stuclem commented on #644
@anchal-agrawal I'm putting this into the 1.3 doc update. Is registering with a new PSC likely to be validated before then? Thanks!

[2017-10-16 10:30] stuclem commented on #921
Removed from https://github.com/vmware/vic/releases/tag/v1.2.1#knownissues since this is normal behaviour.

[2017-10-16 10:35] stuclem commented on #891
If this is going to be fixed as a high priority in 1.3, then I think that release notes in 1.2 suffice. Removing the user-doc flag.

[2017-10-16 10:39] stuclem commented on #749
This fix is definitely in 1.3. Awaiting confirmation from @andrewtchin whether it would also be in an eventual 1.2.2 release.

[2017-10-16 10:43] stuclem commented on #71
This was done as a part of https://github.com/vmware/vic/issues/6543, for 1.3.

[2017-10-16 10:49] stuclem commented on #80
Docker search is being tracked in https://github.com/vmware/vic/issues/6221. Not in 1.3.

[2017-10-16 10:50] stuclem commented on #90
Doesn't look like this is in 1.3.

[2017-10-16 10:51] stuclem commented on #91
Doesn't look like this is in 1.3.

[2017-10-16 10:51] stuclem commented on #503
Doesn't look like this is in 1.3.

[2017-10-16 10:51] stuclem commented on #502
Doesn't look like this is in 1.3.

[2017-10-16 10:51] stuclem commented on #497
Doesn't look like this is in 1.3.

[2017-10-16 10:52] stuclem commented on #499
Doesn't look like this is in 1.3.

[2017-10-16 10:52] stuclem commented on #500
Doesn't look like this is in 1.3.

[2017-10-16 10:52] stuclem commented on #498
Doesn't look like this is in 1.3.

[2017-10-16 10:52] stuclem commented on #501
Doesn't look like this is in 1.3.

[2017-10-16 10:52] stuclem commented on #72
Doesn't look like this is in 1.3.

[2017-10-16 10:53] stuclem commented on #92
Doesn't look like this is in 1.3.

[2017-10-16 10:54] stuclem commented on #93
Doesn't look like this is in 1.3.

[2017-10-16 10:54] stuclem commented on #96
Doesn't look like this is in 1.3.

[2017-10-16 10:55] stuclem commented on #97
Doesn't look like this is in 1.3.

[2017-10-16 10:55] stuclem commented on #98
Doesn't look like this is in 1.3.

[2017-10-16 10:56] stuclem commented on #99
Doesn't look like this is in 1.3.

[2017-10-16 10:56] stuclem commented on #100
Doesn't look like this is in 1.3.

[2017-10-16 10:57] stuclem commented on #101
https://github.com/vmware/vic-product/issues/743 is in 1.3

[2017-10-16 10:58] stuclem commented on #104
Doesn't look like this is in 1.3.

[2017-10-16 10:59] stuclem commented on #105
Doesn't look like this is in 1.3.

[2017-10-16 10:59] stuclem commented on #106
Doesn't look like this is in 1.3.

[2017-10-16 11:01] stuclem commented on #115
Tracked in https://github.com/vmware/vic/issues/5408. Not sure if it's in 1.3, so adding it to that release pending confirmation from @frapposelli.

[2017-10-16 11:02] stuclem commented on #130
Not in 1.3.

[2017-10-16 11:02] stuclem commented on #131
Not in 1.3.

[2017-10-16 11:03] stuclem commented on #197
Not in 1.3.

[2017-10-16 11:03] stuclem commented on #222
Not in 1.3.

[2017-10-16 11:06] stuclem commented on #209
Not in 1.3.

[2017-10-16 12:29] stuclem commented on #284
Not in 1.3.

[2017-10-16 12:30] stuclem commented on #127
Not in 1.3.

[2017-10-16 12:30] stuclem commented on #331
Not in 1.3.

[2017-10-16 12:35] stuclem commented on #504
Not in 1.3.

[2017-10-16 12:36] stuclem commented on #505
Not in 1.3.

[2017-10-16 12:45] stuclem commented on #508
Not in 1.3.

[2017-10-16 12:47] stuclem commented on #510
Awaiting confirmation from @chengwang86 as to whether this was implemented in 1.2.

[2017-10-16 12:52] stuclem commented on #507
It seems that Docker swarm is possible if you use dch-photon, per https://github.com/vmware/vic-product/tree/master/tutorials/dch-swarm.

@pdaigle is this something that we want to add to the core docs?

[2017-10-16 12:54] stuclem commented on #506
Not in 1.3.

[2017-10-16 12:57] stuclem commented on #430
It looks like this is being addressed on the dev side in https://github.com/vmware/vic/issues/6492, but it's not obvious whether that will be in 1.3. Pending the implementation of https://github.com/vmware/vic/issues/6492, @lcastellano do you know what the govc commands that @zjs mentions might be? Thanks!

[2017-10-16 12:59] stuclem commented on #332
Not in 1.3.

[2017-10-16 13:06] stuclem commented on #387
According to https://github.com/vmware/vic/issues/5117 `--use-rp` is not being removed. https://github.com/vmware/vic/issues/6272 adds `--use-rp` to the other `vic-machine` commands. Closing this one.

[2017-10-16 13:06] #387 closed

[2017-10-16 13:08] stuclem commented on #297
This is tracked by https://github.com/vmware/vic/issues/5409, and it is not in 1.3.

[2017-10-16 13:09] stuclem commented on #315
vmware/vic#4744, is no longer in 1.3

[2017-10-16 13:11] stuclem commented on #200
@andrewtchin in https://github.com/vmware/vic/issues/4851#issuecomment-321824992 you say that this isn't customer facing. Do we need this doc issue, in that case? Thanks!

[2017-10-16 13:12] stuclem commented on #327
This is now being tracked by https://github.com/vmware/vic/issues/6488. Awaiting confirmation from @lcastellano whether this is in 1.3.

[2017-10-16 13:13] stuclem commented on #382
Doesn't look like https://github.com/vmware/vic/issues/5555 is in 1.3.

[2017-10-16 13:14] stuclem commented on #103
Doesn't look like this is in 1.3.

[2017-10-16 13:14] stuclem commented on #86
Doesn't look like this is in 1.3.

[2017-10-16 13:16] stuclem commented on #67
Doesn't look like this is in 1.3.

[2017-10-16 13:17] stuclem commented on #107
Dup of https://github.com/vmware/vic-product/issues/749

[2017-10-16 13:17] #107 closed

[2017-10-16 13:18] stuclem commented on #207
Not in 1.3.

[2017-10-16 13:19] stuclem commented on #108
Not in 1.3.

[2017-10-16 13:20] stuclem commented on #323
Not in 1.3.

[2017-10-16 13:36] tobikra opened #925 "dch-photon Automatically Generated Certificates valid for <nil>"
**VIC Product version:**
dch-photon:1.13

**Steps to reproduce:**
Tried to run dch-photon for DID setup:
(approach 1) following steps in
https://vmware.github.io/vic-product/assets/files/html/1.2/vic_app_dev/dchphoton_options.html
to run dch-photon with TLS Authentication (Automatically Generated Certificates, using VIC IP address as -vic-ip) and docker cp certificates to external host for testing

[2017-10-16 15:46] chengwang86 commented on #510
@stuclem Here are the steps:

1. stop the container via `docker stop`
2. connect to the vcenter server via `govc`.
3.  update the debug level configuration for the container via `govc vm.change -vm vmName -e guestinfo.vice./diagnostics/debug=Debug_level`. Here `vmName` is usually `containerName-containerShortID` and can be replaced by `containerName*`. The user set the `Debug_level` to a desired i

[2017-10-16 15:48] #788 closed

[2017-10-16 16:45] andrewtchin commented on #200
No doc needed for this :-)

[2017-10-16 16:46] andrewtchin commented on #749
1.2.2 is not currently planned so determination to pull this fix in would be made if we have that release

[2017-10-16 16:54] gigawhitlocks commented on #925
This actually may be a bug in the Photon image being deployed; is there any chance we can get the logs from this operation attached to the issue in order to have more context @tobikra ? You should be able to download them through the vicadmin portal.

[2017-10-16 19:27] corrieb commented on #511
I suggested we document it pending a fix, but the fix is now in, so I believe we can close

[2017-10-17 09:52] stuclem commented on #924
Implemented in PR https://github.com/vmware/vic-product/pull/927.

[2017-10-17 09:54] stuclem commented on #511
OK, thanks @corrieb

[2017-10-17 09:54] #511 closed

[2017-10-17 10:20] stuclem opened #928 "Improve container provisioning doc and document how to use VIC UI template editor"
Per https://github.com/vmware/admiral/issues/210, we need to improve the docs about using templates in management portal, specifically when it comes to adding named volumes.

[2017-10-17 11:45] stuclem commented on #891
RN reviewed by @corrieb via Slack. Removing note flag.

[2017-10-17 11:45] #896 closed

[2017-10-17 12:53] stuclem opened #929 "Document the VCH wizard in vSphere Client"
Per Epic https://github.com/vmware/vic/issues/5150

[2017-10-17 13:28] stuclem opened #930 "Document that VCHs create a service account in VC if --ops-user isn't specified"
Per https://github.com/vmware/vic/issues/6033. According to @zjs 's desired model in https://github.com/vmware/vic/issues/6033#issuecomment-327635039, if you do not specify `--ops-user`, `vic-machine` will create a service account in VC for day-to-day operation, that is authenticated with certificates (with no action from the user).  If you do specify `--ops-user`, the VCH uses the specified accou

[2017-10-17 13:31] stuclem commented on #430
Given that https://github.com/vmware/vic/issues/6033 is creating a service account for VCHs, this issue is quite probably redundant.

@zjs and @lcastellano, given the work that is being done in 1.3 on `--ops-user` and the service account, do we still need to document manual `govc` commands to create the `--ops-user` account?

[2017-10-17 13:35] stuclem opened #931 "Document separation of vic-machine and vic-engine logging"
Per https://github.com/vmware/vic/issues/6319.

[2017-10-17 13:36] stuclem opened #932 "Document how to connect to the docker API from the management network"
Per https://github.com/vmware/vic/issues/6339, if implemented.

[2017-10-17 14:30] stuclem opened #934 "Document metadata/description for repository"
Per https://github.com/vmware/harbor/issues/3194. According to @reasonerjt, this might or might not be included in 1.3. Added this issue to the release pending a decision.

[2017-10-17 14:31] stuclem opened #935 "Document registry replication enhancements."
Per https://github.com/vmware/harbor/issues/3193. According to @reasonerjt, this might or might not be included in 1.3. Added this issue to the release pending a decision.

[2017-10-17 14:54] stuclem opened #936 "Document the integration of VIC Engine with the VIC Portal Authentication and Authorization systems"
Per https://github.com/vmware/vic/issues/6407. This is going to require a major doc change.

[2017-10-17 14:56] stuclem opened #937 "Document that VCHs use a resource pool instead of a vApp by default"
Per https://github.com/vmware/vic/issues/6471.

[2017-10-17 15:00] stuclem opened #938 "Document how to specify internal Docker networks"
Per https://github.com/vmware/vic-product/issues/667

[2017-10-17 16:31] #742 closed

[2017-10-17 16:32] AngieCris commented on #892
pr #927 merged, close this issue

[2017-10-17 16:32] #892 closed

[2017-10-17 16:34] AngieCris commented on #742
Fixed in pr #927 (merged). Close this issue.

[2017-10-17 16:35] AngieCris commented on #742
Fixed in pr #927 (merged). This issue is closed.

[2017-10-17 19:12] andrewtchin opened #940 "Design for appliance to have multiple NICs"
**User Statement:**

As a vSphere admin I want to segregate client and management traffic for the VIC Appliance.

**Details:**
- Add additional NIC
- Determine what work needs to be done
- Explore security and networking considerations
- What configuration happens during deploy and how do we determine which NIC is for management vs client traffic?

**Acceptance Criteria:**
- [ ] Design doc created

[2017-10-17 19:21] andrewtchin opened #941 "Document using ovftool for deploying VIC Appliance"
**User Statement:**

As a vSphere admin I want to know how to deploy VIC Appliance with ovftool.

**Details:**
Example command:
[code]
This is a basic command that only sets appliance root password and uses defaults for everything else. The other values that can be customized can be found in the ovf file. https://github.com/vmware/vic-product/blob/master/installer/build/vic-unified.ovf

We probabl

[2017-10-17 19:38] andrewtchin opened #942 "Update VIC Appliance default users doc"
When creating default users during OVA deploy, it should be noted that the value for `7.3. Password for Example Users` must comply with PSC password policy. If not, user creation will fail.
I'm not sure what the current doc says but maybe also put a warning that these users will be created by default and they have to uncheck the box if they don't want the users. Some users probably don't want acco

[2017-10-17 20:57] andrewtchin opened #944 "store vic-machine-server logs on the appliance"
**User Statement:**

As a user I want to manage vic-machine-server logs.

**Details:**
Depends on https://github.com/vmware/vic/issues/6571

**Acceptance Criteria:**
- [ ] Update service to mount volume and put logs in the right place
- [ ] Able to configure log rotation or set a max log size

[2017-10-17 21:17] dbarkelew opened #945 "Bridge network explanation change request."
https://vmware.github.io/vic-product/assets/files/html/1.2/vic_vsphere_admin/vch_networking.html

The requirements does not make it clear what the VLAN is for resulting in using the same DVS port group and VLAN ID for multiple VCH deployments.

Suggest explaining that the bridge has its own DHCP service that needs to be on an isolated VLAN that is trunked between the ESXi hosts in the cluster that

[2017-10-17 21:21] dbarkelew commented on #945
The idea is to have the requirement clear enough for any network admin to understand the request and provide the needed changes. Essentially need to say VLANs are needed for the bridge so the VCH can provide the containers DHCP services without conflicts with other DHCP services the datacenter may have elsewhere. Even NSX VNIs (virtual wires) can be used to achieve the same.

[2017-10-18 00:17] zjs commented on #930
The work originally captured in vmware/vic#6033 turned out to be larger than expected and the scope was reduced. A new Epic, vmware/vic#6464, now covers several "phases" of work which will likely span several releases.

For 1.3, we will not be able to support automatically creating an operations user. We hope to address that in some future release. When we do, this issue (#930) correctly captures

[2017-10-18 00:18] zjs commented on #430
There's a longer explanation at https://github.com/vmware/vic-product/issues/930#issuecomment-337418522, but the short answer is that I don't think so.

[2017-10-18 09:58] stuclem opened #947 "Document requirements for VIC API"
Copy of Slack chat with @zjs:

-----

The API will be _accessible_, but I think that's only one consideration of several.

Lastly, we didn't have time to vet the design with other potential consumers (like vRA or this service provider), so I'd consider it "pre-1.0". Our UI team has accepted that we aren't making backward compatibility promises for the next release, but I worry customers would be l

[2017-10-18 10:08] stuclem opened #948 "Document how to run dch-photon with volumes"
Per Slack comment from @pescerosso:

----
Is there a flag to the docker run dch cmd that makes the root disk bigger?

I guess I can use volumes “docker run -v myregistry:/var/lib/docker -v mycerts:/certs -p 12376:2376 vmware/dch-photon” @sclements can you add this info to the docs?

-----

[2017-10-18 10:26] stuclem commented on #930
Great, thanks @zjs

[2017-10-18 10:27] stuclem commented on #430
Thanks @zjs. I'll leave this one open, just in case, given your response in https://github.com/vmware/vic-product/issues/930#issuecomment-337418522.

[2017-10-18 10:29] stuclem commented on #948
See the DCH tutorial in PR https://github.com/vmware/vic-product/pull/946/files (not merged yet).

[2017-10-18 10:46] stuclem commented on #945
Comments from @pescerosso via Slack:

-----

https://vmware.github.io/vic-product/assets/files/html/1.2/vic_vsphere_admin/vic_installation_prereqs.html#networkreqs
In particular this
the information is there, I guess
but it is very difficult to parse I think
Wouldn’t it be more clear if we have a paragraph with prerequisite for the bridge network, maybe linking to an exist clear network config tha

[2017-10-18 10:56] stuclem opened #949 "Remove workarounds for lost+found issue from docs"
Now that https://github.com/vmware/vic/issues/5777 is fixed, the workarounds that @corrieb added to https://github.com/vmware/vic-product/blob/master/docs/user_doc/vic_app_dev/deploy_multiple_docker_compose.md and https://github.com/vmware/vic-product/blob/master/docs/user_doc/vic_app_dev/deploy_single_containervm.md should be removed.

[2017-10-18 10:59] stuclem opened #950 "Document that vic-machine streams creation log to datastore folder"
Per https://github.com/vmware/vic/issues/6036.

[2017-10-18 12:02] mhagen-vmware opened #951 "Slack notification should not indicate success if the build did not get uploaded to gcp"
See:
https://ci.vcna.io/vmware/vic-product/2070

https://ci.vcna.io/vmware/vic-product/2068

Need to move slack notification below the gcp upload step...

[2017-10-18 12:11] mhagen-vmware opened #952 "OVA upload step of vic-product build frequently take more than 30 minutes"
This causes drone to timeout.  We need to either increase the timeout or somehow make sure that the upload goes faster? We need the OVA to be reliably built though.

[2017-10-18 12:13] mhagen-vmware commented on #952
Potentially better would be if the gcp upload plugin could somewhat regularly report status back to drone.

[2017-10-18 14:37] andrewtchin commented on #909
Issue moved to [vmware/harbor #3402](https://github.com/vmware/harbor/issues/3402) via [**ZenHub**](https://www.zenhub.com/)

[2017-10-18 14:37] #909 closed

[2017-10-18 19:30] pdaigle opened #955 "Minor documentation improvement for docker-compose"
When trying to use `docker-compose` with a VCH that has TLS enabled, you get the following error:

"ERROR: SSL error: [SSL: TLSV1_ALERT_PROTOCOL_VERSION] tlsv1 alert protocol version (_ssl.c:661)"

This is because `docker-compose` defaults to TLSv1. We need TLSv1_2 with VCH. The user will need set the environment variable with:

`export COMPOSE_TLS_VERSION=TLSv1_2`

This could be added to:
"Suppor

[2017-10-19 05:31] #951 closed

[2017-10-19 07:52] stuclem commented on #955
@pdaigle this is already documented in https://vmware.github.io/vic-product/assets/files/html/1.2/vic_app_dev/deploy_multiple_docker_compose.html. I need to do a clean up on these topics, as they are raw content taken directly from Ben, that I haven't had a chance to edit.

Can you please confirm that this topic covers it?

[2017-10-19 09:23] stuclem opened #959 "Add links to troubleshooting topics from the relevant deployment topics"
Following a conversation with a customer, it is a good idea to include more links to the troubleshooting topics from the Result section of the deployment topics. For example, link from [Deploy VCH to vCenter](https://vmware.github.io/vic-product/assets/files/html/1.2/vic_vsphere_admin/deploy_vch_vcenter.html) to [VCH Deployment Times Out](https://vmware.github.io/vic-product/assets/files/html/1.2/

[2017-10-19 15:38] andrewtchin opened #961 "TS doc ovf environment"
If when booting the VIC Appliance the console screen displays the error `unable to unmarshal ovf environment`, the appliance will be in an unusable state.

Solution:
- Power off guest OS
- Right click the appliance, Edit Settings
- Go to `vApp Options`, click OK
- Verify that a `Reconfigure virtual machine` task is completed for the appliance
- Power on the appliance
- Verify that the console does

[2017-10-19 15:43] andrewtchin commented on #961
related https://github.com/vmware/vic-product/issues/741

[2017-10-19 18:27] jak-atx opened #962 "Subject Alternative Name is missing from SSL certificate"
**Details:**
The SAN needs to be added to the ssl certificate coming from the appliance that serves vic-machine-service

Current error is shown here:
https://vmware.slack.com/files/U6E08J80P/F7FMR0NUX/screen_shot_2017-10-06_at_1.29.15_pm.png

**Acceptance Criteria:**
Dev is able to accept the certificate as valid from the vic-machine-service response.

[2017-10-19 20:20] andrewtchin commented on #916
Also configure the OVA for host time sync, close any NTP related issues

[2017-10-19 20:31] andrewtchin opened #963 "Create VIC Appliance reference service"
**User Statement:**

As a developer I want to have an example service.

**Details:**

**Acceptance Criteria:**
- [ ] Create the example service referred to in the design doc

[2017-10-19 22:22] zjs commented on #803
Removing estimate based on grooming meeting.

[2017-10-20 08:40] #760 closed

[2017-10-20 11:40] #299 closed

[2017-10-20 14:50] stuclem opened #967 "Document that persistent data is separated into individual disks"
Per https://github.com/vmware/vic-product/issues/743, implemented in https://github.com/vmware/vic-product/pull/960.

[2017-10-20 17:29] andrewtchin commented on #885
Depends on https://jira-hzn.eng.vmware.com/browse/VBV-1711

[2017-10-20 17:37] zjs commented on #962
By default, the SSL certificate generated by the OVA seems to have the VM's IP address as the certificate's CN. What additional information are you expecting the SAN to contain?

[2017-10-21 03:58] dbarkelew opened #969 "Command Example Improvement Feedback"
In the documentation it is not clear for some what kind of container engine to use based on the examples commands.

There are three main formats used with SSL secure and insecure versions that I have found as follows.

Typical VCH container and vic-engine:
[code]

Docker build slave with port mapping through a parent VCH:
[code]

In these docs seems assumed to be docker engine deployed on a VM or

[2017-10-23 12:14] stuclem commented on #318
Admiral logs are moving in 1.3. See https://github.com/vmware/vic-product/issues/885.

[2017-10-23 14:27] #890 closed

[2017-10-23 14:27] #895 closed

[2017-10-23 14:59] #880 closed

[2017-10-23 20:13] andrewtchin commented on #962
https://github.com/vmware/vic-product/blob/master/installer/build/scripts/systemd/vic_machine_server/configure_vic_machine_server.sh#L45

[2017-10-23 20:23] andrewtchin opened #972 "Update perms for Admiral UID"
**User Statement:**

Admiral runs as 10000, allow it to access relevant files.

**Acceptance Criteria:**
- chown some stuff

[2017-10-23 20:50] andrewtchin opened #973 "Update perms for vic-machine-server"
**User Statement:**

As a user I want vic-machine-server to run with reduced perms.

**Details:**

**Acceptance Criteria:**
- [ ] Update Dockerfile to run as UID 10000
- [ ] Set correct perms on `/storage/data/certs`

[2017-10-23 21:31] #952 closed

[2017-10-24 10:09] lgayatri opened #976 "Regression : ifconfig command is missing from VIC 1.3 OVA"
Build used: https://storage.googleapis.com/vic-product-ova-builds/vic-2161-v1.2.0-rc1-132-g89afccc.ova
Could not find ifconfig command on OVA . This command was available on VIC 1.2.1 GA build.

VIC 1.3
![image](https://user-images.githubusercontent.com/25006749/31937211-63d31982-b8d1-11e7-8dae-b5b381b91058.png)

VIC 1.2.1
![image](https://user-images.githubusercontent.com/25006749/31937276-8818c6

[2017-10-24 10:23] lgayatri opened #977 "VIC 1.3 IP on welcome screen is different from the given IP address"
Build: https://storage.googleapis.com/vic-product-ova-builds/vic-2161-v1.2.0-rc1-132-g89afccc.ova

1. IP address provided during the VIC installation is 10.197.37.132 which translates to vic-st-h2-132.eng.vmware.com
2. Welcome screen shows as different IP address but the IP parameters in the OVA are shown correctly.

![image](https://user-images.githubusercontent.com/25006749/31936944-b1620222-b8d

[2017-10-24 12:03] stuclem opened #978 "Document new location of Admiral logs"
Per https://github.com/vmware/vic-product/issues/885.

[2017-10-24 12:03] stuclem commented on #318
Tracking the 1.3 update in https://github.com/vmware/vic-product/issues/978. This issue is for 1.2.x.

[2017-10-24 14:48] andrewtchin commented on #976
`ifconfig` is deprecated, use `ip` instead

[2017-10-24 14:48] #976 closed

[2017-10-24 19:11] #846 closed

[2017-10-24 19:42] andrewtchin commented on #977
I verified that this is happening. It looks like the DCUI gets the IP to display before it is changed to the provided static IP. Investigating now.

[2017-10-24 20:26] #962 closed

[2017-10-24 20:26] andrewtchin commented on #962
Appliance cert has SAN in it

[2017-10-24 21:08] dbarkelew opened #982 "--force is more than bypassing thumbprints"
"--force" should be discouraged for a way to bypass thumbprints. While this is true, it also by passes a lot of other things that can result in unexpected data loss.

The sentence might be better removed "If your vSphere environment uses untrusted, self-signed certificates, you can bypass certificate thumbprint verification by specifying the --force option instead of --thumbprint"

https://vmware.

[2017-10-24 21:33] andrewtchin commented on #864
This is expected since Harbor is on 443 (the default port for https requests) but doesn't have a UI so it redirects to Admiral at 8282. If the user enters http://appliance_ip, we do redirect that to the getting started page.

[2017-10-24 21:36] #157 closed

[2017-10-24 21:43] andrewtchin commented on #643
@wy65701436 Isn't that something Harbor would do? Is there something to set to not scan?

[2017-10-25 09:04] lgayatri opened #983 "128 character password for Users is too much to ask"
Build: https://storage.googleapis.com/vic-product-ova-builds/vic-2161-v1.2.0-rc1-132-g89afccc.ova
![image](https://user-images.githubusercontent.com/25006749/31990022-80c6eb20-b991-11e7-86f5-74dc300ef815.png)
This check is too much to expect from users. Please review.

[2017-10-25 09:13] stuclem commented on #930
See also https://github.com/vmware/vic/issues/6492

[2017-10-25 09:13] stuclem commented on #430
It looks like this work is going ahead in 1.3, so closing this one as it is now redundant.

[2017-10-25 09:13] #430 closed

[2017-10-25 10:50] lgayatri commented on #915
@andrewtchin We need to support this configuration for 1.3

Oct 25 10:37:30 vic-st-h2-205.eng.vmware.com systemd[1]: Started Session c2 of user root.
Oct 25 10:37:41 vic-st-h2-205.eng.vmware.com start_fileserver.sh[754]: time="2017-10-25T10:37:41Z" level=info msg="Error running PSC register command for harbor: [0][I][2017-10-25T10:37:10.968Z][1][SsoPscCommand][register][Initializing...]\n[1][I][20

[2017-10-25 10:59] lgayatri commented on #915
![image](https://user-images.githubusercontent.com/25006749/31995332-9e9bca3e-b9a1-11e7-900c-4d550dcaea35.png)

[2017-10-25 14:37] andrewtchin commented on #983
I don't think this is a bug. If users want a 128 character password they should have the option to. The acceptable lengths are defined here https://github.com/vmware/vic-product/blob/master/installer/build/vic-unified.ovf#L299
If the UI won't allow you to deploy with < 128 characters, that is a bug In the UI.

[2017-10-25 14:37] #983 closed

[2017-10-25 14:42] andrewtchin commented on #856
Closing this as we will be moving logs and databases to their own disks

[2017-10-25 14:42] #856 closed

[2017-10-25 14:46] andrewtchin commented on #747
Issue moved to [vmware/vic #6628](https://github.com/vmware/vic/issues/6628) via [**ZenHub**](https://www.zenhub.com/)

[2017-10-25 14:46] #747 closed

[2017-10-25 14:48] #746 closed

[2017-10-25 14:48] andrewtchin commented on #746
Issue moved to [vmware/vic #6629](https://github.com/vmware/vic/issues/6629) via [**ZenHub**](https://www.zenhub.com/)

[2017-10-25 15:26] #706 closed

[2017-10-25 15:26] #707 closed

[2017-10-25 18:17] mdharamadas1 opened #984 "Enable installer test on CI"
**User Statement:**

As a developer, I want robot tests run as part of CI build for integration testing.

**Details:**
One test is added as part of https://github.com/vmware/vic/issues/5406, which needs to be enabled on CI pipeline. This will enable the VC set up in https://github.com/vmware/vic/issues/6520 on CI for this.

**Acceptance Criteria:**
- Integration test runs as part of CI for all git

[2017-10-25 18:19] andrewtchin commented on #982
this should cover all cases where force is cited in the docs - we should discourage use of force as it is intended for developer use and may have unintended effects. we will be looking at replacing or removing force in the future.

[2017-10-25 20:15] corrieb opened #986 "Document how to test NFS connectivity from VCH"
** Problem **

At a customer last week, I sat with them while they tried to set up NFS volume support in VIC 1.2.1.

NFS client mount isn't that helpful at the best of times, but the combination of permissions and settings on the server side and the subsequent number of possible combinations of options on the client side make it very difficult to test. Add to that the question of which ports need

[2017-10-25 21:46] mdubya66 commented on #915
From @pdaigle
According to the vSphere team (please see below), vSphere 6.x does not support customizing the ports used by PSC (was supported previously).
Given this information, I would recommend we lower priority on the custom PSC port issue (or defer it until vSphere re-introduces the ability to customize the port).

---
Lowering the priority and removing from 1.3

[2017-10-26 07:07] lgayatri commented on #983
@andrewtchin , ovf descriptor is showing correctly , so this bugs goes to H5 client. I filed another bug internally copying you and @mdubya66 .

[2017-10-26 07:34] lgayatri commented on #915
@mdubya66 @pdaigle
The GAed versions of vSphere 6.x did not support PSC port customization. But the upcoming onprem vSphere release , will begin to support port customization.

[2017-10-26 09:35] #112 closed

[2017-10-26 09:35] #318 closed

[2017-10-26 09:46] stuclem opened #987 "Document which external network trust levels support which -p constructions"
Per https://github.com/vmware/vic/issues/6515 and the following comment from @hickeng via Slack:

"We should have a chart of what external network trust levels support which -p constructions, and what the end result is. Possibly with illustrations".

[2017-10-26 09:48] #894 closed

[2017-10-26 09:48] stuclem commented on #38
No comments from @pescerosso or @pdaigle. Closing.

[2017-10-26 09:48] #38 closed

[2017-10-26 09:50] stuclem commented on #740
Moving back to backlog as I haven't touched this in a while.

[2017-10-26 10:07] stuclem commented on #982
@dbarkelew and @andrewtchin I have updated all mentions of `--force` in https://github.com/stuclem/vic-product/commit/7e0174ae7f669626b739f94975ef90be43d765e8, to include the following:

----

**CAUTION**: Specifying the `--force` option bypasses certificate thumbprint verification. Using `--force` in this way exposes VCHs to the risk of man-in-the-middle attacks, in which attackers can learn vSph

[2017-10-26 10:47] lgayatri opened #988 "Management Portal redirection is broken"
Build: https://storage.googleapis.com/vic-product-ova-builds/vic-2161-v1.2.0-rc1-132-g89afccc.ova
Please see the highlighted text in the screenshot

![image](https://user-images.githubusercontent.com/25006749/32048779-41a57984-ba68-11e7-9509-046a84bb45cc.png)

Three highlights.
a. IP address on OVA running on 9443
b. open is selected
c. IP address to which the page would redirect.

![image](https:

[2017-10-26 10:54] lgayatri opened #989 "Build version should be updated to 1.3"
1.3 OVA Build - https://storage.googleapis.com/vic-product-ova-builds/vic-2161-v1.2.0-rc1-132-g89afccc.ova

root@Ubuntu-VIc:/home/vmlib/VIC/VIC-1.3/vic# ./vic-machine-linux --version
vic-machine-linux version v1.2.0-rc1-14150-93ba694

OVA file name and vic version both spell 1.2.0 even though they are for 1.3. We need to update the files version.

[2017-10-26 11:11] lgayatri commented on #915
![image](https://user-images.githubusercontent.com/25006749/32049872-61507d16-ba6c-11e7-9c9b-ebde5b0628c0.png)

[2017-10-26 11:43] lgayatri commented on #565
@andrewtchin Got VIC 1.3 build recently, I will create new setup with the latest version of VCSA and update asap.

[2017-10-26 12:33] stuclem commented on #986
@corrieb regarding "the problem here is that `mount.nfs` is not included in the endpoint and it's not at all obvious how to add it", can you please add some details about how to do this? Thanks!

[2017-10-26 14:36] andrewtchin commented on #989
This will happen when we tag but 1.3 has not been tagged yet

[2017-10-26 14:36] #989 closed

[2017-10-26 14:38] andrewtchin commented on #988
This is probably a duplicate of #977 since the appliance determines the IP and then uses it here

[2017-10-26 14:38] #988 closed

[2017-10-26 14:38] andrewtchin commented on #565
OK thanks 👍

[2017-10-26 14:42] andrewtchin commented on #982
I would edit the end to say something along the lines of "use of --force is strongly discouraged and should not be used in production environments", but either looks fine

[2017-10-26 14:43] andrewtchin commented on #983
Cool thanks 👍

[2017-10-26 14:44] lgayatri commented on #989
@andrewtchin
Can you please keep the issue open until it is tagged, so that I do not miss it verifying?

[2017-10-26 14:56] andrewtchin commented on #989
I'd rather not because this is expected at this point. I'll be sure to check it when we tag and message you.

[2017-10-26 16:40] #824 closed

[2017-10-26 20:33] andrewtchin commented on #638
Closing as this will be deprecated

[2017-10-26 20:33] #638 closed

[2017-10-27 07:08] sergiosagu commented on #885
The Jira task mentioned above has been resolved.
See commit https://github.com/vmware/admiral/commit/949511f9a6a69c3eb3672990decb243bacd60a50 for more info.
cc @stuclem

[2017-10-27 08:07] sgtserge opened #994 "Clair download goes to different sites from the one in docs"
We are using VIC 1.2.1 GA on vSphere 6.0 u3a and vCenter 6.0 u3b

We are trying to set up Clair to work behind a proxy so we have to provide a list of required sites.

In Clair doc available here I can see the Database URLs are all on github

But in Clair logs I see that it tries to go on these other sites:

Oct 26 21:56:39 192.168.9.1 clair[249]: {"Event":"could not download Oracle's update list"

[2017-10-27 08:18] sgtserge commented on #994
We are using VIC 1.2.1 GA on vSphere 6.0 u3a and vCenter 6.0 u3b

We are trying to set up Clair to work behind a proxy so we have to provide a list of required sites.

In Clair doc available [here](https://github.com/vmware/vic-product/pull/933/files/71dcf3c67dfbcafb1a82a907f8d19dbc4a777734) I can see the Database URLs are all on github

But in Clair logs I see that it tries to go on these other s

[2017-10-27 12:56] stuclem commented on #982
Thanks @andrewtchin. Updated as follows:

----

**CAUTION**: Specifying the `--force` option bypasses certificate thumbprint verification. Using `--force` in this way exposes VCHs to the risk of man-in-the-middle attacks, in which attackers can learn vSphere credentials. Using `--force` also bypasses other checks, and can result in data loss. As consequence, only use `--force` for troubleshooting

[2017-10-27 12:59] stuclem commented on #982
This update is in https://github.com/stuclem/vic-product/commit/cbf56b54e7d43a2d5b8cd9be4f719c94657b95b8, alongside a bunch of other security-related updates that are part of a general reorg of the vic-machine options.

[2017-10-27 15:39] morris-jason opened #997 "VIC Appliance Component Upgrade Testing"
**User Statement:**

As a vAdmin, I expect Harbor upgrades to run on the ova from versions 1.2.x -> 1.3.

**Details:**

As part of story #743 the data paths in the upgrade script were altered. As part of this refactor,  it was revealed that the upgrade scripts for admiral and harbor need re-evaluation for the 1.3 upgrade path.
#743 also separated the upgrade script per-component to be in line with

[2017-10-27 15:56] andrewtchin opened #998 "Add persistent warning on getting started page when initalization has not completed"
**User Statement:**

As a user I want to know if the VIC Appliance has not been successfully registered.

**Details:**
The red error bar for failed appliance initialization currently disappears if users navigate away. This confuses users because they think the error has resolved, but the appliance is still not functional.

**Acceptance Criteria:**
- [ ] Add a persistent error bar on the Getting St

[2017-10-27 16:13] #977 closed

[2017-10-27 16:25] wy65701436 commented on #997
1, Map projects is only for VIC 1.2 to map project ID of harbor with Admiral. It should be dropped from 1.3.
2, We're still working on the implementation of DB migrator, will use vmware/harbor-db-migrator:1.3 as the image name.
3, Yes, the new items of 1.3 should be set as default and should not impact the system after update from 1.2.
4, It should be the same for Harbor in VIC 1.2 and 1.2.1, but

[2017-10-27 23:29] zjs opened #1002 "Provide fingerprint for OVA's certificate via vSphere interface"
**User Statement:**

As a vSphere Administrator, I want to verify that I am securely connecting to the OVA, so that I can ensure the credentials I am providing to it are secure from a man-in-the-middle attack.

**Details:**

We should provide the certificate fingerprint alongside the IP addresses on the black & blue VM console page. We can consider also including it in some property of the OVA tha

[2017-10-30 14:40] stuclem commented on #947
A tutorial for the pre-1.0 version of the API that will ship with 1.3.0 (not for production use) is included in PR https://github.com/vmware/vic-product/pull/1004.

[2017-10-30 19:18] mdubya66 opened #1005 "OVA should redirect http requests to https requests"
@mhagen-vmware commented on [Tue Apr 11 2017](https://github.com/vmware/vic/issues/4685)

If I don't explicitly specify https protocol I get an ERR_EMPTY_RESPONSE page

We should add an auto redirect to https or at least a better error than that.

---

@andrewtchin commented on [Tue Apr 25 2017](https://github.com/vmware/vic/issues/4685#issuecomment-297166180)

What URL/port is this for? This won'