[2018-08-28 18:58] zjs opened #1981 "DCH build fails when PR branch does not include latest DCH change"
Example failure: https://ci-vic.vmware.com/vmware/vic-product/5903/9

[code]

This occurs because the topic branch, at ca01d55e7695e794083b887ee0c8a966601ddc0c, does not include the latest commit that modifies the `dinv` directory, fad6fd82f53005e618ca27cb52e0c27fd9e4451b.

This would not usually affect local builds; those environments would typically have the latest master code available locally.

[2018-08-28 18:59] #1959 closed

[2018-08-28 23:00] zjs commented on #1587
I don't have any context on this beyond what's in https://github.com/vmware/vic-product/issues/1587#issue-313622395. However, I _suspect_ that this may be related to vSphere configuration around alerting related to memory usage, since we write images to a tmpfs directory. If memory usage alerts are enabled (or inherited) on the endpoint VM and we download a large enough VMDK, it seems likely that

[2018-08-29 01:52] drjaydenm commented on #667
We've also hit this issue as we use the 172.* range of IPs for internal networking and this causes conflicts with Docker bridge networks. Starting up Harbour basically cuts access to the machine externally due to routing.

The docker network solution above works, but only until the Harbour service is restarted as the networks are torn down by docker compose.
Changing the docker0 bridge IP also doe

[2018-08-29 07:12] #1967 closed

[2018-08-29 07:17] renmaosheng commented on #1933
from https://bugzilla.eng.vmware.com/show_bug.cgi?id=2186410#c10, the 4.4.152-1.ph1 is ready, thanks.

[2018-08-29 11:09] stuclem commented on #1759
Item 1. above has already been addressed in a previous fix. Working on 2 & 3...

[2018-08-29 15:45] stuclem commented on #1759
I am not sure that this is an issue. I believe that the information described as missing is indeed present in the docs.

_2. Create container and map ports 12375:2375 for non TLS. (This part is nowhere in the documentation, only TLS with mapping 12376:2376 documentation is there - https://vmware.github.io/vic-product/assets/files/html/1.3/vic_app_dev/dchphoton_options.html)_

This is described in

[2018-08-29 17:02] stuclem commented on #1759
See https://github.com/vmware/vic-product/pull/1989/commits/0fa8694a45ea6ce07eb148c393c21eb7e61bc402 for the updates associated with this issue.

[2018-08-30 08:53] #1974 closed

[2018-08-30 09:45] stuclem commented on #1282
@vidya-v can you please take the info from https://github.com/vmware/vic-product/issues/1282#issuecomment-356339310 above and make it into a new troubleshooting topic? It would need to be nested under https://vmware.github.io/vic-product/assets/files/html/1.4/vic_vsphere_admin/ts_deploy_appliance.html

You can use one of the other troubleshooting topics as a template, for example https://vmware.gi

[2018-08-30 09:51] stuclem commented on #1895
@vidya-v can you please convert the info from @hickeng in the Socialcast thread above into a new reference type topic? I'm not sure yet whether it should be nested under VCH Deployment or VCH Administration, but suspect the latter. It should also be linked from https://vmware.github.io/vic-product/assets/files/html/1.4/vic_vsphere_admin/vch_general_settings.html, and probably from https://vmware.g

[2018-08-30 09:56] stuclem commented on #1894
@martin-borisov will vRA 7.5 support all  VIC 1.4.3 releases, or just 1.4.3? Thanks!

[2018-08-30 09:57] stuclem commented on #1894
@vidya-v can you please follow up with @martin-borisov (Admiral dev mgr) about this one? Thanks!

[2018-08-30 10:19] stuclem commented on #1917
Submitted request to the graphics department to add the line to the image.

[2018-08-30 10:45] stuclem commented on #503
Not in 1.4.x

[2018-08-30 11:34] stuclem commented on #502
Requested more info from @hickeng in https://github.com/vmware/vic/issues/692

[2018-08-30 11:35] stuclem commented on #499
Not in 1.4.x

[2018-08-30 11:37] stuclem commented on #500
It's looking uncertain that https://github.com/vmware/vic/issues/739 will ever be implemented. Closing this one. Will create a new doc issue if/when https://github.com/vmware/vic/issues/739 gets done.

[2018-08-30 11:37] #500 closed

[2018-08-30 11:38] stuclem commented on #498
Not in 1.4.x

[2018-08-30 11:40] stuclem commented on #501
Info from https://github.com/vmware/vic/issues/1160:

----

If the VCH appliance cannot connect to the target, but vic-machine can, then we need a useful error. It should direct the user at the --management-network option as it's likely that either:
a. the VCH cannot get an IP address on the management network.
b. the VCH does not have a route to the specified target.

---

This is probably a trou

[2018-08-30 11:43] stuclem commented on #80
Not in 1.4.x

[2018-08-30 11:44] stuclem commented on #91
Not in 1.4.x

[2018-08-30 11:46] stuclem commented on #72
https://github.com/vmware/vic/issues/3808 was closed as no longer relevant.

[2018-08-30 11:46] #72 closed

[2018-08-30 11:47] stuclem commented on #90
Not in 1.4.x

[2018-08-30 11:52] stuclem commented on #92
Not in 1.4.x

[2018-08-30 11:53] stuclem commented on #130
Not in 1.4.x

[2018-08-30 11:53] stuclem commented on #93
Not in 1.4.x

[2018-08-30 11:56] stuclem commented on #96
Not in 1.4.x.

[2018-08-30 11:57] stuclem commented on #97
Not in 1.4.x.

[2018-08-30 11:58] stuclem commented on #98
Not in 1.4.x.

[2018-08-30 11:59] stuclem commented on #99
https://github.com/vmware/vic/issues/3118 and https://github.com/vmware/vic/issues/3117 are not in 1.4.x.

[2018-08-30 12:00] stuclem commented on #100
Not in 1.4.x.

[2018-08-30 12:01] stuclem commented on #104
Not in 1.4.x.

[2018-08-30 12:16] stuclem commented on #105
Not in 1.4.x.

[2018-08-30 12:16] stuclem commented on #131
Not in 1.4.x.

[2018-08-30 12:17] stuclem commented on #106
Not in 1.4.x.

[2018-08-30 12:18] stuclem commented on #197
Not in 1.4.x.

[2018-08-30 12:19] stuclem commented on #222
Not in 1.4.x.

[2018-08-30 12:31] stuclem commented on #423
See also https://github.com/GitbookIO/gitbook/issues/1223

[2018-08-30 12:35] stuclem commented on #423
It seems that https://github.com/lwchkg/gitbook-pdfgen might resolve this issue.

[2018-08-30 12:45] stuclem commented on #108
https://github.com/vmware/vic/issues/3490 is not in 1.4.x.

[2018-08-30 12:51] stuclem commented on #323
All of the associated dev issues are now closed, but I'm not sure whether that means that this caveat can be removed.

@zjs, do we need to remove the following from [Configure the Docker Client for Use with vSphere Integrated Containers](https://vmware.github.io/vic-product/assets/files/html/1.4/vic_app_dev/configure_docker_client.html#registry) in the 1.4.x docs?

---

**NOTE**: The current versi

[2018-08-30 12:52] stuclem commented on #323
If we retain this note, we should move it out of the section on Linux, or add it to the Windows section.

[2018-08-30 12:53] stuclem commented on #207
Not in 1.4.x.

[2018-08-30 12:54] stuclem commented on #644
Looks like this should be in 1.4.x and that it slipped through the net.

[2018-08-30 12:55] stuclem commented on #115
Not in 1.4.x.

[2018-08-30 12:57] stuclem commented on #101
https://github.com/vmware/vic/issues/745 is not in 1.4.x.

[2018-08-30 12:58] stuclem commented on #209
Not in 1.4.x.

[2018-08-30 12:59] stuclem commented on #209
https://github.com/vmware/vic/issues/4982 is possibly made redundant by the VM-affinity option.

[2018-08-30 13:00] stuclem commented on #284
Not in 1.4.x.

[2018-08-30 13:01] stuclem commented on #504
Not in 1.4.x.

[2018-08-30 13:03] stuclem commented on #508
This was documented in https://github.com/vmware/vic-product/pull/1326.

[2018-08-30 13:03] #508 closed

[2018-08-30 13:03] stuclem commented on #505
Not in 1.4.x.

[2018-08-30 13:04] stuclem commented on #382
Not in 1.4.x.

[2018-08-30 13:06] stuclem commented on #510
Looks like this slipped through the net.

[2018-08-30 13:16] stuclem commented on #67
This was partially covered in 1.4.0 with the ROBO implementation, but we might have to update https://vmware.github.io/vic-product/assets/files/html/1.4/vic_vsphere_admin/vch_compute.html to include folders as possible targets for VCHs.

[2018-08-30 13:17] stuclem commented on #127
Not in 1.4.x.

[2018-08-30 13:17] stuclem commented on #1009
Not in 1.4.x.

[2018-08-30 13:18] stuclem commented on #331
Not in 1.4.x.

[2018-08-30 13:20] stuclem commented on #934
@reasonerjt did this go into VIC 1.4? Thanks!

[2018-08-30 13:33] stuclem commented on #934
There are mockups of what this should look like in https://github.com/goharbor/harbor/issues/3216. I'm not seeing anything like it in the 1.4.2. Need confirmation whether this is actually implemented in VIC 1.4.x.

[2018-08-30 13:49] stuclem commented on #934
Actually, I just saw this in 1.4.2:

![repo-info](https://user-images.githubusercontent.com/16718369/44855363-22cae300-ac6b-11e8-9e49-ce55578e2280.png)

@vidya-v can you please add some steps to [Manage Internal Repositories in Projects](https://vmware.github.io/vic-product/assets/files/html/1.4/vic_cloud_admin/manage_repository_registry.html) to say that in management portal you can click a repos

[2018-08-30 14:09] stuclem commented on #86
Not in 1.4.x

[2018-08-30 14:12] stuclem commented on #931
Looks like this was done in PR https://github.com/vmware/vic/pull/6945, but I don't think that there's actually anything to document.

[2018-08-30 14:12] #931 closed

[2018-08-30 14:13] stuclem commented on #932
Not in 1.4.x.

[2018-08-30 14:27] stuclem commented on #869
There is development work associated with this that has not yet been done, but there might be things that we need to document now.

@dbarkelew can you think of anything that we need to/can document immediately?

[2018-08-30 14:29] stuclem commented on #1269
@lgayatri and @dbarkelew do you know if the log gathering script described in https://github.com/vmware/vic-product/issues/1197#issuecomment-352537278 was implemented in 1.4?

[2018-08-30 14:32] stuclem commented on #1558
The current implementation creates a new affinity group and does not allow users to specify an existing one. Not in 1.4.x.

[2018-08-30 14:34] stuclem commented on #1895
See also https://github.com/vmware/vic/issues/7683

[2018-08-30 14:34] stuclem commented on #1588
Dup of https://github.com/vmware/vic-product/issues/1895

[2018-08-30 14:34] #1588 closed

[2018-08-30 14:35] stuclem commented on #1211
Not done in 1.4.x

[2018-08-30 14:36] stuclem commented on #1556
Not in 1.4.x.

[2018-08-30 14:40] stuclem commented on #930
A lot of this dev work was done with the addition of the `--ops-grant-perms` option, which is documented in 1.4. https://github.com/vmware/vic/issues/6464 tracks the automation of the creation of the ops user. Not in 1.4.x.

[2018-08-30 14:42] stuclem commented on #1042
https://github.com/vmware/vic/issues/6675 is not longer in 1.4.3.

[2018-08-30 14:46] stuclem commented on #1811
https://github.com/vmware/vic-product/issues/1808 is now in 1.5.0.

[2018-08-30 14:47] stuclem commented on #1811
We should probably mention that vCenter Server HA is NOT supported in 1.4.x.

[2018-08-30 14:48] stuclem commented on #1946
https://github.com/vmware/vic/issues/3044 is now in 1.5.0.

[2018-08-30 20:38] dbarkelew commented on #869
There are a few workaround that have been used successfully.

- Build a new image that includes a script, or binary that sets the desired options at startup.
- When creating or running the container set the entrypoint as a scrip that waits until the needed options are set before continuing the container startup. Then to set the values use docker exec to set the options manually.

These KBs use som

[2018-08-30 20:55] dbarkelew commented on #1269
Yes. The script was moved and renamed since that comment.

https://github.com/vmware/vic-product/blob/v1.4.2/installer/build/scripts/systemd/scripts/support/appliance-support.sh#L295

[2018-08-30 21:39] dbarkelew commented on #667
@drjaydenm Thank you for sharing your findings and research.

A little too late but if you are interested the workaround that is supported through VMware support can be found here https://kb.vmware.com/s/article/56445
Since upgrading the VIC Appliance will reset all configurations it would be a good one to also bookmark until VIC Appliance bridge customization feature is added.

[2018-08-30 23:50] #1976 closed

[2018-08-31 03:43] wjun opened #1996 "Refactor test structures for VIC appliance web pages"
Because of the current ova build approach, we copy directory by directory into ova OS. This means the test cases related files under installer/fileserver/html should be moved into a directory parallel with html if possible. We also need to reuse index.html for test if possible.

[2018-08-31 05:51] wjun opened #1997 "Log In And Complete OVA Installation test case is out of date"
The "Log In And Complete OVA Installation" step in tests/resources/page-objects/Complete-Installation-Modal-Util.robot is out of sync with current web page css contents.

[2018-08-31 08:09] stuclem commented on #1269
OK, thanks @dbarkelew

[2018-08-31 08:34] stuclem opened #1999 "Document that only VIC 1.4.3 client works on vSphere 6.7u1"
We need to mention that you cannot run 1.4.0-1.4.2 on 6.7u1.

The fix for 1.4.3, https://github.com/vmware/vic-ui/issues/564, is in PR https://github.com/vmware/vic-ui/pull/566.

[2018-08-31 08:41] stuclem commented on #1587
Thanks @zjs, I'll add a note in that topic to this effect.

[2018-08-31 08:47] stuclem commented on #1356
Some changes in plug-in installation/upgrade behaviour are listed in https://github.com/vmware/vic-product/issues/1952, which is in 1.4.3.

[2018-08-31 08:48] stuclem commented on #1941
Some changes in plug-in installation/upgrade behaviour are listed in https://github.com/vmware/vic-product/issues/1952, which is in 1.4.3.

[2018-09-03 01:43] zhoumeina commented on #1996
@wjun ,I am not quite clear about this description, I will ping you when available.

[2018-09-03 08:03] DanielXiao commented on #1957
These 2 issues can't reproduce in both vic-product-master-scenario and vic-product-1.4.3-scenario

[2018-09-03 08:43] #1942 closed

[2018-09-03 09:12] stuclem opened #2006 "READ MORE link in thumbprint validation step should open in new tab"
- vCenter Server version: **6.7**
- Embedded or external PSC: **embedded**
- Filename of the OVA you deployed: `vic-dev-v1.4.3-dev-5974-b7033624.ova`
- How was the OVA deployed? (Flex client, HTML5 client, ovftool): **Flex client**
- Does the VIC appliance recieve configuration by DHCP? **Yes**
- What stage of the Appliance Lifecycle is the VIC appliance in? **Initialization**
  https://github.com

[2018-09-03 09:15] stuclem commented on #1941
Here's the new checkbox:

![ui-checkbox](https://user-images.githubusercontent.com/16718369/44978278-966e3800-af6a-11e8-8116-e4afc3086910.png)

[2018-09-03 09:17] stuclem commented on #1941
Also saw this:

![plug-in-info](https://user-images.githubusercontent.com/16718369/44978414-ff55b000-af6a-11e8-8bcf-d6f65c2fcfa8.png)

[2018-09-03 09:42] stuclem commented on #1940
@jitinkumar2018. I just checked with a 1.4.3 appliance and the paths to the certs have indeed changed.

I found the admiral certs in the place you describe. However, the folder  `/storage/data/fileserver` appears to be empty.

There is also a folder `/storage/data/certs` that contains certificate files. @renmaosheng what certificates are these? Are these the fileserver certs?

[2018-09-03 12:05] stuclem commented on #1945
Actually, https://blogs.vmware.com/vsphere/2018/08/under-the-hood-vsphere-6-7-update-1.html states that _all_ operations will be possible in the HTML5 client in 6.7u1. So, wherever we state that a certain vSphere operation must be done in the Flex client, we can state that it can be done in HTML5 from 6.7u1 onwards.

However, because of https://github.com/vmware/vic-ui/issues/564, we need to be cl

[2018-09-03 12:24] jitinkumar2018 opened #2011 "Issue with VIC 1.4.3 Admiral APIs"
Bug Report Basic Information
----------------------------

REQUIRED:

- vCenter Server version: 6.5 U2
- Embedded or external PSC: No
- Filename of the OVA you deployed: vic-dev-v1.4.3-dev-5974-b7033624
- How was the OVA deployed? Flex client
- Does the VIC appliance recieve configuration by DHCP? No
- What stage of the Appliance Lifecycle is the VIC appliance in? Application
- [vic_appliance_logs

[2018-09-03 14:10] renmaosheng commented on #2011
@martin-borisov could you please ask someone to take a look? thanks.

[2018-09-03 14:12] #934 closed

[2018-09-03 14:22] stuclem opened #2013 "VIC 1.4.3 OVA has old version of UI"
- vCenter Server version: **6.7**
- Embedded or external PSC: **Embedded**
- Filename of the OVA you deployed: `vic-dev-v1.4.3-dev-5974-b7033624.ova`
- How was the OVA deployed? (Flex client, HTML5 client, ovftool): **Flex**
- Does the VIC appliance recieve configuration by DHCP? **DHCP**
- What stage of the Appliance Lifecycle is the VIC appliance in? **Running**

1. Uninstalled 1.4.1 UI by runni

[2018-09-04 03:40] DanielXiao commented on #1957
https://bugzilla.eng.vmware.com/show_bug.cgi?id=2192395 I am not sure if it is the same issue with vsphere65u2

[2018-09-04 06:14] jitinkumar2018 commented on #2011
@wjun @martin-borisov @renmaosheng
APIs work when json content is stored in a json file and curl command is structured like:
`curl -k  -X POST --data @test.json --header 'Content-Type: application/json' https://10.197.37.192:9443/plugin/install -v`
Thanks to Jun for pointing this out

[2018-09-04 06:15] #2011 closed

[2018-09-04 06:44] lgayatri commented on #1871
@martin-borisov , can you please let us know if we can address this bug soon. Embedded linked mode configuration is being preferred over external PSC.

@renmaosheng @jitinkumar2018

[2018-09-04 08:18] lgayatri commented on #1871
@renmaosheng Embedded linked mode is in 6.7 as well and we have the same issue. I filed this bug on 6.8.2 since I had the setup handy.

[2018-09-04 08:38] stuclem opened #2015 "Getting Started page is no longer called Getting Started"
As of build 5974, the Getting Started page of the appliance is not called Getting Started:

![gettingstd.png](https://images.zenhubusercontent.com/56afa3216caf56c9d38c1ecf/97254e59-a00d-4b97-a738-3f71c910f93a)

We need to rename this page in the docs to something like "vSphere Integrated Containers Appliance welcome page"

[2018-09-04 09:30] wjun commented on #2013
We only update ui plugin version for tagged commits, so rc or release builds will get correct version.

[2018-09-04 09:30] #2013 closed

[2018-09-04 10:02] martin-borisov commented on #1894
vRA 7.5 supports VIC 1.3.x and VIC 1.4.x, up to and including 1.4.2.

[2018-09-04 10:12] stuclem commented on #1945
We must wait until vSphere 6.7u1 GA before we mention this in the VIC docs.

[2018-09-04 10:13] stuclem commented on #1999
We must wait until vSphere 6.7u1 GA before we mention this in the VIC docs.

[2018-09-04 10:13] stuclem commented on #1894
We must wait until vRA 7.5 GA before we mention this in the VIC docs.

[2018-09-04 10:31] stuclem commented on #423
Changing the PDF generator might be a major faff. To be investigated after 1.4.3 GA.

[2018-09-04 12:09] stuclem commented on #2015
Do this after I merge https://github.com/vmware/vic-product/pull/2012 (automatic install/upgrade of plug-ins), as this will affect a lot of the same topics.

[2018-09-04 12:27] sergiosagu commented on #1871
The problem seems to be in the VA configuration...

The admiral_psc-config contains
[code]
which seems correct.

But when Admiral container tries to access that host, it fails with unknown host. The xenonHost.0.log cotains
[code]
and from that failure, since the access to PSC couldn't be initialized, all the next attempts to access PSC fail with
[code]

The `/etc/hosts` (from an newer VA deploymen

[2018-09-04 14:04] stuclem commented on #1356
It looks like two of the issues from Epic #1952 are in 1.4.3, the other two are slated for 1.5.0.

[2018-09-04 17:46] stuclem commented on #1932
Internal bug 2180643.

See also https://github.com/vmware/vic-planning/issues/115.

[2018-09-05 06:12] jitinkumar2018 opened #2018 "Connection Refused while trying to ssh to VIC appliance during Scale Testing"
Bug Report Basic Information
----------------------------

- vCenter Server version: 6.5 U2
- Embedded or external PSC: Embedded
- Filename of the OVA you deployed: vic-v1.4.3-dev-5974-b7033624
- How was the OVA deployed? Flex Client
- Does the VIC appliance receive configuration by DHCP? No
- What stage of the Appliance Lifecycle is the VIC appliance in? Application
- Attach the VIC appliance sup

[2018-09-05 06:14] lgayatri commented on #2018
@renmaosheng @martin-borisov

[2018-09-05 07:52] stuclem commented on #1944
https://github.com/vmware/vic-ui/issues/568 is fixed in PR https://github.com/vmware/vic-ui/pull/583.

[2018-09-05 17:53] stuclem opened #2021 "Documented procedure for upgrading by manually moving disks no longer works"
@lgayatri do you still test upgrading VIC by manually moving the disks? After the upgrade procedure was streamlined to automatically copy the disks from the old appliance to the new one (in 1.4.1?), we still retained the doc about upgrading by moving the disks manually, because the automatic disk copy doesn't work in all cases (I can't remember what those cases are, but I was definitely told to ke

[2018-09-05 17:56] stuclem commented on #2021
Here's what I saw when I attempted manual upgrade with the old appliance powered on after removing the disks:

[code]

I was attempting to upgrade from 1.4.2, but the detected version is 1.1.1, which I suspect translates as "don't know".

[2018-09-05 18:07] hickeng commented on #925
Reopening to link PR and track cherry-pick

[2018-09-06 02:09] zhoumeina commented on #1997
@wjun can you describe how can I reproduce it? I need a environment to debug it.

[2018-09-06 05:59] #1933 closed

[2018-09-06 06:32] renmaosheng commented on #2018
Hi Lakshmi,
     do we still have the environment? are we able to log into the VIC appliance through vCenter portal? thanks.

[2018-09-06 06:34] renmaosheng commented on #2006
@zhoumeina @wjun could you please take a look? thanks

[2018-09-06 06:35] lgayatri commented on #2018
Hi @renmaosheng , we do not have the environment as we started uptime with scale.
When the mentioned issue occurred, we were able to login to the VIC appliance from its console as well as from another VM.

[2018-09-06 06:46] renmaosheng commented on #1881
is this done? thanks.

[2018-09-06 06:50] renmaosheng commented on #1871
@lgayatri is this domain name 'cloud02-w3.stls.local' created by our test ? thanks.

[2018-09-06 07:08] lgayatri commented on #1871
Hi @renmaosheng, stls.local is the VCSA's domain name and to get it resolved, we have added entries in host file.

[2018-09-06 07:31] lgayatri commented on #2018
[code]

[2018-09-06 07:36] DanielXiao commented on #1881
Yes. It 's done. https://vic-jenkins.eng.vmware.com/view/Yifeng-Test/job/vic-scenario-test-manual-trigger-staging

[2018-09-06 07:36] #1881 closed

[2018-09-06 08:00] stuclem commented on #1269
See [comment](https://github.com/vmware/vic-product/issues/1197#issuecomment-352537278) from @andrewtchin on on Dec 18, 2017 for details.

[2018-09-06 08:03] stuclem commented on #1269
How to use the script needs to be added to https://vmware.github.io/vic-product/assets/files/html/1.4/vic_vsphere_admin/appliance_logs.html. Probably at the beginning, to state that you can obtain a bundle of all logs by using the script. Then leave the other entries there to show where the individual logs are

[2018-09-06 08:07] stuclem commented on #1269
Actually, the script is already mentioned in https://vmware.github.io/vic-product/assets/files/html/1.4/vic_vsphere_admin/appliance_logs.html. I has changed name to `appliance-support.sh` since #1197 was filed. But, we do not mention the 3 options listed in Andrew's comment, so we should add them.

[2018-09-06 08:34] stuclem commented on #1269
Looking at https://vmware.github.io/vic-product/assets/files/html/1.4/vic_vsphere_admin/appliance_logs.html, steps 4 -10 are a mixture of instructions about where to find individual logs, and how to set log retention. I wonder if there isn't a better way of presenting the log locations, possibly in a table after the procedure with headings **Component** | **Location** | **Log files**. People shoul

[2018-09-06 08:39] vidya-v opened #2027 "RC1 VIC engine bundle is empty"
- Filename of the OVA you deployed: vic-v1.4.3-rc1-6033-2fe6aa5f.ova
- How was the OVA deployed? (Flex client, HTML5 client, ovftool): Flex client

- What stage of the Appliance Lifecycle is the VIC appliance in? Running
- Attach the VIC appliance support bundle (e.g. vic_appliance_logs_2018-01-01-00-01-00.tar.gz)
 [vic_appliance_logs_2018-09-06-08-19-57.tar.gz](https://github.com/vmware/vic-produ

[2018-09-06 09:03] stuclem commented on #501
We don't really have enough information to create a meaningful troubleshooting topic here. We also document the requirements for the management network in https://vmware.github.io/vic-product/assets/files/html/1.4/vic_vsphere_admin/mgmt_network.html. The original doc issue for this is ancient (from 2016), and the networking doc has improved a lot since then. Closing this one as a non-issue.

[2018-09-06 09:03] #501 closed

[2018-09-06 09:11] #1774 closed

[2018-09-06 09:15] stuclem commented on #869
Per offline chat with @dbarkelew, we aren't really sure whether this kind of info should go into the official docs. @hickeng what do you think?

Moving back to Not Ready.

[2018-09-06 09:18] renmaosheng commented on #1770
There is one test against Firefox always failed due to the thumbprint window not pop up. raising to p0 to fix it before 1.4.3 rtm

[2018-09-06 09:31] stuclem commented on #987
Having looked at https://github.com/vmware/vic/issues/6515 and https://github.com/vmware/vic/issues/6271, I have no idea what we should document here.

@hickeng can you please provide more details?

[2018-09-06 09:36] stuclem commented on #644
We basically just need to add a 3rd bullet in https://vmware.github.io/vic-product/assets/files/html/1.4/vic_vsphere_admin/reinitialize_appliance.html that states that you can use the Reinitialize button to register the appliance with a new PSC if vCenter Server moves to a different PSC.

[2018-09-06 09:39] stuclem commented on #1811
Need to add vCenter Server HA in the section on unsupported vSphere features: https://vmware.github.io/vic-product/assets/files/html/1.4/vic_vsphere_admin/interop.html#notsupported

[2018-09-06 09:43] stuclem commented on #1896
@zjs and @hickeng what should we do about the current (incorrect) doc about backup, pending the ongoing investigation into a better backup solution?

[2018-09-06 09:45] stuclem commented on #969
Connected to the `dch-photon` doc improvements.

[2018-09-06 09:46] stuclem commented on #1088
We don't have sufficient info about this. @hickeng @renmaosheng where can we find information about how to configure NSX for use with VIC? Thanks!

[2018-09-06 10:00] stuclem commented on #1339
I think that we should create topics based on the following sections of https://github.com/vmware/vic-product/blob/master/installer/docs/SUPPORT.md:

- Troubleshooting Appliance Boot Errors, based on https://github.com/vmware/vic-product/blob/master/installer/docs/SUPPORT.md#boot-failures.
- Troubleshooting Appliance Initialization Errors: https://github.com/vmware/vic-product/blob/master/installe

[2018-09-06 10:08] stuclem opened #2029 "Thumbprint value must be provided in the json payload while initializing the VIC appliance APIs"
@jitinkumar2018 commented on [Wed Sep 05 2018](https://github.com/vmware/admiral/issues/285)

### Bug Report Basic Information
REQUIRED:
vCenter Server version: 6.5 U2
Embedded or external PSC: No
Filename of the OVA you deployed: vic-v1.4.3-rc1-6033-2fe6aa5f
How was the OVA deployed? ovftool
Does the VIC appliance recieve configuration by DHCP? No
What stage of the Appliance Lifecycle is the VIC

[2018-09-06 13:59] renmaosheng commented on #2027
could you please try https://storage.googleapis.com/vic-product-ova-releases/vic-v1.4.3-rc1-6053-e7623444.ova?

[2018-09-06 14:22] renmaosheng commented on #2027
@wjun  please take a look.

[2018-09-07 00:11] wjun commented on #2027
PR #2023 should fix it.

[2018-09-07 00:11] #2027 closed

[2018-09-07 00:51] wjun commented on #1770
We have PR #2004 and #1979 to address UI and API tests respectively.

[2018-09-07 00:51] #1770 closed

[2018-09-07 00:52] zhoumeina commented on #1996
fixed by :#2026

[2018-09-07 00:52] #1996 closed

[2018-09-07 00:54] wjun commented on #2018
@lgayatri Does Admiral or VIC appliance stopped responding? It looks to me port 8282 is Admiral?

[2018-09-07 00:55] #1997 closed

[2018-09-07 00:59] #1122 closed

[2018-09-07 01:14] #2006 closed

[2018-09-07 04:03] andrewtchin commented on #1269
I agree that seems like 4-10 are more for power users if they want to dig into logs. Normal users probably only need instructions to get a support bundle especially if we don't tell how to interpret them.

[2018-09-07 05:11] jitinkumar2018 commented on #2018
@wjun Admiral and VIC do not stop responding. We could SSH into VIC from a different machine. Admiral was also accessible. The only problem was the Ubuntu machine on which we ran the scale test was getting refused to connect to VIC (10.197.37.192)

[2018-09-07 06:02] #2029 closed

[2018-09-07 07:37] wjun commented on #2018
@lgayatri Is there any possibility about network accessibility issue, since it worked again after 24 hours?

[2018-09-07 07:40] lgayatri commented on #2018
@wjun, we will try on latest build or RC2 and update. There was no network issue during the time of the test.

[2018-09-07 10:34] stuclem opened #2037 "Document that UI bundle is no longer included in the VIC Engine bundle"
https://github.com/vmware/vic-product/pull/2023 seems to have separated the VIC Engine and VIC UI bundles. This has an impact on the procedures to manually install the plug-ins.

[2018-09-07 12:02] stuclem commented on #644
We also need to mention the **Install UI Plugin** checkbox and the thumbprint verification step.

[2018-09-07 12:05] stuclem commented on #2037
Actually, it seems that the `install.sh` and `install.bat` scripts are no longer provided. This means that the procedure for manually installing the plug-ins is not relevant in 1.4.3.

However, since we have the **Install UI Plugin** checkbox during appliance initialization and re-initialization, we can document that as a method of installing the plug-ins later. I just tested this on VC instance t

[2018-09-07 12:07] stuclem commented on #644
We should also add another bullet that says that if you deselected the **Install UI Plugin** checkbox during deployment, you can use the Reinitialize button to install the plug-in after deployment. I just tested this and it works.

See https://github.com/vmware/vic-product/issues/2037.

[2018-09-07 19:30] zjs commented on #1770
Do these PRs include the verification described in https://github.com/vmware/vic-product/issues/1770#issuecomment-415315940?

[2018-09-10 14:44] stuclem opened #2043 "Document that upgrade from 1.2.x to 1.4.x is not a supported path"
Per email exchange with @lgayatri @renmaosheng and @wjun, we do not support upgrading to 1.4.3 from 1.2.x.

[2018-09-10 15:27] stuclem commented on #2043
@zjs @renmaosheng, if we drop 1.2.x to 1.4.x as a supported upgrade path, can we remove [Upgrade the vSphere Integrated Containers Appliance by Manually Moving Disks](https://vmware.github.io/vic-product/assets/files/html/1.4/vic_vsphere_admin/upgrade_appliance_manual.html) from the docs?

Per https://github.com/vmware/vic-product/issues/2021, this procedure does not work for upgrading from 1.4.1

[2018-09-10 15:30] #2043 closed

[2018-09-10 15:32] stuclem commented on #2021
@wjun @lgayatri do we want to keep the doc [Upgrade the vSphere Integrated Containers Appliance by Manually Moving Disks](https://vmware.github.io/vic-product/assets/files/html/1.4/vic_vsphere_admin/upgrade_appliance_manual.html), but mark it as only possible for upgrading to 1.4.0, not to later 1.4.x releases?

[2018-09-11 00:18] hickeng opened #2046 "Possible issue with OVA first-boot during performance test"
Version: 1.4.3-rc1

We have a reported failure to initialize first-boot logic during a performance run. Logging into the system was rejected by SSH until I had logged into the VM console - there were several successful ssh logins prior to my failed attempt so unsure if the system had been altered.

<details><summary>systectl status shows Starting</summary><p>

[code]
</p></details>
<p/>

We can se

[2018-09-11 03:09] #1951 closed

[2018-09-11 07:10] #1943 closed

[2018-09-11 08:14] #1282 closed

[2018-09-11 09:54] #1269 closed

[2018-09-11 10:47] martin-borisov commented on #1871
Not sure why this was assigned to me. It should be handled in the OVA.

[2018-09-11 12:04] stuclem opened #2049 "Enforce nomenclature and capitalization standards in the docs"
We need to check how well we apply standards of product naming and capitalization. For example:

- vSphere Integrated Containers Engine. This is a product name, therefore capitalized. Subsequently, “engine” or “the engine”. Lower-case, as this is not a product name.
- “Docker container host” (lower case), but I just looked at the Docker docs and they just use “Docker host”: https://docs.docker.com

[2018-09-11 12:30] #1811 closed

[2018-09-11 13:15] gopakumarr commented on #2046
After adding thumbprint verification I was able to successfully initialize OVA and continue performance testing.

Reference: https://github.com/vmware/vic-product/blob/master/docs/user_doc/vic_vsphere_admin/ova_reg_api.md

[2018-09-11 13:55] jitinkumar2018 opened #2050 "Upgrade from VIC 1.3.1 to 1.4.3 failed because h5 and flex plugin cannot be upgraded"
Bug Report Basic Information
REQUIRED:

vCenter Server version: 6.5 U2
Embedded or external PSC: No
Filename of the OVA you deployed: v1.4.3-rc1-6053-e7623444
How was the OVA deployed? Flex client
Does the VIC appliance recieve configuration by DHCP? No
What stage of the Appliance Lifecycle is the VIC appliance in? Upgrade
VIC appliance support bundle:
[vic_appliance_logs_2018-09-11-13-48-40.tar.g

[2018-09-11 14:31] stuclem opened #2051 "Create glossary of approved nomenclature and capitalization"
Per request from field and training orgs. Not part of official docs, but for reference for things like when to capitalize, when to abbreviate, etc.

[2018-09-11 14:32] lgayatri commented on #2050
Log snippet:

[code]

[2018-09-11 14:32] lgayatri commented on #2050
@renmaosheng

[2018-09-11 14:48] stuclem commented on #2021
FYI @jitinkumar2018

[2018-09-11 15:03] stuclem commented on #2050
I think that this might be related to what I found in https://github.com/vmware/vic-product/issues/2021. I think that the manual method, as documented, is broken since 1.4.1.

[2018-09-11 16:48] zjs commented on #1897
Possibly related: vmware/vic#6114

[2018-09-11 18:31] zjs commented on #2050
It seems like this specific issue may be the result of a quoting error in the upgrade script:

https://github.com/vmware/vic-product/blob/0220fd56fb848aa0658ec4a5524fc242bbc6b136/installer/build/scripts/upgrade/upgrade.sh#L100-L101

This causes the JSON object `{"vc":"${vc}","plugin":"${plugin}"}` to be sent to the register API, instead of a JSON object with `${vc}` and `${plugin}` properly substi

[2018-09-11 18:36] zjs commented on #2050
This error is correctly flagged by `shellcheck`. We should investigate automatically running it in CI (like we've been working towards in vmware/vic-tools). In the meantime, we should be diligent about running it manually when making changes to shell scripts.

[code]

[2018-09-11 19:58] zjs commented on #2050
Verified #2053 by applying the patch to the `upgrade.sh` file and re-running upgrade on that system.

<details><summary>Console Output</summary>
<pre><code>root@vic-st-h2-132 [ /etc/vmware/upgrade ]# ./upgrade-patched.sh --manual-disks
-------------------------------
VIC Appliance Upgrade to v1.4.3
-------------------------------

2018-09-11 19:45:07 [=] Values containing $ (dollar sign), ` (backq

[2018-09-11 20:04] zjs commented on #2021
It seems that the failure observed in this issue is that same as #2050.

However, this is not a complete duplicate as it identifies another problem: we prompt for the old VIC appliance IP and username even though we do not use them. I'll use this issue to address that; skipping the prompts should make the process much less confusing.

It looks like the procedure worked with 1.4.1/1.4.2, but broke

[2018-09-11 23:52] renmaosheng commented on #2046
thanks Rahul. closing the issue now.

[2018-09-11 23:52] #2046 closed

[2018-09-12 04:02] #2050 closed

[2018-09-12 06:42] lgayatri opened #2059 "VIC 1.4.3 RC1 has a new folder autocomplete"
Build : vic-v1.4.3-rc1-6053-e7623444.ova
Extracting vic_v1.4.3-rc1.tar.gz gives a folder called autocomplete which was not in 1.4.2.
Is this folder required? @renmaosheng @zjs
[code]
FYI @stuclem @vidya-v

[2018-09-12 07:00] stuclem commented on #2059
@lgayatri this is documented in https://github.com/vmware/vic-product/pull/2045

[2018-09-12 07:04] #1940 closed

[2018-09-12 07:05] #1938 closed

[2018-09-12 07:10] stuclem commented on #1941
Fixed in https://github.com/vmware/vic-product/pull/2012.

[2018-09-12 07:10] #1941 closed

[2018-09-12 07:11] lgayatri commented on #2059
Thanks @stuclem

[2018-09-12 07:11] #2059 closed

[2018-09-12 07:14] #1928 closed

[2018-09-12 07:49] #1917 closed

[2018-09-12 08:08] stuclem opened #2062 "Document that you need to restart client after removing plugin from MOB"
If you use the MOB procedure in https://vmware.github.io/vic-product/assets/files/html/1.4/vic_vsphere_admin/uninstall_vic.html to remove the plug-ins, you need to restart the vSphere Client. We should add this as a post-req.

Also, now that we have the auto-install, we should move the instructions for restarting the client out of http://localhost:4000/vic_vsphere_admin/ts_ui_not_appearing.html an

[2018-09-12 09:02] lgayatri commented on #877
@stuclem ,implementing Travis will be very useful. Thanks for initiating.

[2018-09-12 09:05] stuclem commented on #1828
Comment from @lcastellano via email:

**Client Certificates**
I would have different sections/pictures for Client and Server certificates. In VIC, client certificates are only used to authenticate the DOCKER api client that talks to the VCH (or to the Docker daemon in case of DCH). That can either be the Docker CLI, the Management Portal or any application using the Docker API. If the VCH is creat

[2018-09-12 09:07] vidya-v opened #2064 "Simplify log collection directions"
https://vmware.github.io/vic-product/assets/files/html/1.4/vic_vsphere_admin/log_bundles.html

Merge Dani's comments from https://github.com/vmware/vic-product/pull/1984

[2018-09-12 09:12] stuclem opened #2065 "Document that plug-in shows appliance version and IP address"
Per https://github.com/vmware/vic-ui/issues/586 and PR https://github.com/vmware/vic-ui/pull/598. In 1.4.3 these will be for information only. The ability to select an appliance will be added in 1.5.

[2018-09-12 09:38] jitinkumar2018 commented on #2050
@lgayatri  @wjun  @stuclem Upgrade from 1.3.1 to 1.4.3  successful on Scale Testbed with latest RC1 build **vic-dev-v1.4.3-rc1-6137-ea764a69.ova**.

[2018-09-12 09:44] stuclem commented on #2021
Following another conversation with @jitinkumar2018, we should recommend copying disks rather than moving them.

We document to physically detach and move the disks, but this basically kills the old appliance. If you run the script without `--manual-disks` the script copies the VMDK files rather than moving them, which leaves the old appliance intact. We should document to copy the disks in the ma

[2018-09-12 09:56] stuclem commented on #2050
Great! Doc update in progress in https://github.com/vmware/vic-product/issues/2021

[2018-09-12 13:20] stuclem opened #2066 "Fix the locations of the appliance certificates in docs"
Per a comment from @jitinkumar2018 in https://github.com/vmware/vic-product/issues/1940#issuecomment-416197142, the certificate files are no longer in the locations described in https://vmware.github.io/vic-product/assets/files/html/1.4/vic_vsphere_admin/obtain_appliance_certs.html:

Copied from https://github.com/vmware/vic-product/issues/1940:

-----

@jitinkumar2018 commented 16 days ago
@lgaya

[2018-09-12 14:57] zjs commented on #2059
Thanks for filling this issue! In this case, it's expected (as Stuart notes), but it's definitely good to confirm new files in the .tar.gz were intentionally included!

[2018-09-13 06:53] #1432 closed

[2018-09-13 08:09] #740 closed

[2018-09-13 08:09] #1356 closed

[2018-09-13 15:04] zjs commented on #1432
This should probably be release noted as an enhancement.

[2018-09-13 15:18] zjs commented on #2046
I think this is worth a release note, as we've added a required thumbprint parameter to the OVA initialization API (breaking backward compatibility with earlier 1.4.x releases). The release note could mention that this change improves the security of that workflow.

[2018-09-13 15:45] #2066 closed

[2018-09-13 17:28] zjs opened #2072 "Error during pass-rate step of tag build CI pipeline"
Builds are completing with output that indicates an error occurred. This is not causing the build to fail, but should be investigated and addressed:

[code]

https://ci-vic.vmware.com/vmware/vic-product/6172/19

This does seem to prevent passrate information from being displayed in Slack, potentially decreasing our visibility into recurring issues.

[2018-09-13 17:39] zjs opened #2073 "Scan vic-product integration tests for masked failures"
@hickeng commented on [Thu Jun 28 2018](https://github.com/vmware/vic-tasks/issues/70)

vmware/vic-product#1278 added logic to re-run failed tests - this is in addition to all of the various nimbus retry logic.

This blends the output of the attempts, so if tests pass on the second attempt the overall status of the result is passed. The failed run is still available in the output, but it's non-obv

[2018-09-13 17:42] zjs opened #2074 "Intermittent error in 3-01-Admiral-UI: Element locator 'css=a[data-name=default-ca-cert]' did not match any elements"
Example failure:
[code]
https://ci-vic.vmware.com/vmware/vic-product/6175/12

More information about this failure is not available because the test was re-run and subsequently passed. (Related: #2073)

[2018-09-13 17:47] zjs opened #2075 "Intermittent error in 4-01-Harbor: Test timeout 5 minutes exceeded."
Example failure:
[code]

Log.html excerpt:
![image](https://user-images.githubusercontent.com/408880/45505692-17cf8280-b742-11e8-8cef-2c9cef3be2ed.png)

No selenium screenshot was taken when the failure occurred as the timeout had been reached.

https://ci-vic.vmware.com/vmware/vic-product/6175/12

[2018-09-13 17:49] zjs opened #2076 "Intermittent error in 4-01-Harbor: Keyword 'Docker Login To Harbor Registry' failed after retrying 12 times."
Example failure:
[code]

https://ci-vic.vmware.com/vmware/vic-product/6175/12

More information about this failure is not available because the test was re-run and subsequently failed with a different error. (Related: #2073)

[2018-09-13 17:54] zjs opened #2077 "Intermittent networking issues in CI"
We seem to be experiencing intermittent networking issues in the CI environment, causing a variety of tests to fail unpredictably.

Related: vmware/vic#8191

## WebDriverException: Message: Reached error page: about:neterror?...

https://ci-vic.vmware.com/vmware/vic-product/6173/11

<details><summary>Logs (`Group4-Harbor.4-01-Harbor`)</summary>
<pre><code>
=========================================

[2018-09-13 18:34] zjs opened #2078 "Intermittent error in 4-01-Harbor: Element locator 'id=VCSSO-Title' did not match any elements after 30 seconds"
Example failure:
[code]

More information about this failure is not available because the test was re-run and subsequently failed with a different error. (Related: #2073)

[2018-09-13 18:39] zjs opened #2079 "Intermittent error in 5-01-DCH Verify tlsverify enabled scenario for dch-photon"
Example failure:
[code]

https://ci-vic.vmware.com/vmware/vic-product/6174/13

More information about this failure is not available because the test was re-run and subsequently failed with a different error. (Related: #2073)

[2018-09-13 19:33] zjs opened #2082 "Intermittent error in unified-ova-build: losetup: /dev/loopX: detach failed: No such device or address"
Example failure:
[code]
https://ci-vic.vmware.com/vmware/vic-product/6169/11

[2018-09-13 23:50] morris-jason commented on #1432
Great job, Jun!

[2018-09-14 05:12] jitinkumar2018 commented on #2018
@wjun
We ran scale test on RC2 build. 50 VCH's, 50 containers each, 50 projects. While trying to add the 50 VCH's to one of the projects via post commands (from our ScaleTest Ubuntu VM), we again faced the error of not able to connect to the VIC appliance from our ScaleTest Ubuntu VM.

When we tried to ssh into the VIC from out ScaleTest Ubuntu VM we hit this error:
`ssh:connect to host 10.197.37.

[2018-09-14 07:01] #2018 closed

[2018-09-14 07:05] jitinkumar2018 commented on #2018
Closed the issue as there was a VCH with duplicate IP (same as VIC appliance).

[2018-09-14 09:40] stuclem commented on #1760
https://github.com/vmware/vic-product/pull/1989 addresses the linking in the DCH Photon topics. I will check that all other procedures have a What to Do Next section.

[2018-09-14 10:02] lgayatri commented on #1871
I tried embedded linked mode configuration with 6.7U1 build and excited to share the VIC OVA registration succeeded. I could even open the Admiral UI.

However, I could not get VCSA 6.8.2 working with 1.4.3
@renmaosheng

[2018-09-14 16:19] zjs commented on #1871
Given this, I think we can defer this from 1.4.3.

[2018-09-16 09:17] #1895 closed

[2018-09-17 07:36] #2062 closed

[2018-09-17 10:46] stuclem commented on #1432
Documented as new feature in https://github.com/vmware/vic-product/releases/tag/v1.4.3#features. Documented fully in https://vmware.github.io/vic-product/assets/files/html/1.4/vic_vsphere_admin/deploy_vic_appliance.html.

Removing doc impact labels.

[2018-09-17 10:47] stuclem commented on #1933
Moved up to Resolved issues in https://github.com/vmware/vic-product/releases/tag/v1.4.3

[2018-09-17 10:50] stuclem commented on #2046
Documented as an enhancement in https://github.com/vmware/vic-product/releases/tag/v1.4.3

[2018-09-17 10:51] stuclem commented on #925
Moved into resolved issues in https://github.com/vmware/vic-product/releases/tag/v1.4.3

[2018-09-17 13:37] #644 closed

[2018-09-18 23:30] renmaosheng commented on #1871
@clouderati what is our inter-op matrix for VIC 1.5? thanks a lot.

[2018-09-19 10:00] KeithRichardLee opened #2098 "Add link to Reconfigure Appliance in the Upgrade Appliance doc"
Currently in the upgrade appliance doc, https://vmware.github.io/vic-product/assets/files/html/1.4/vic_vsphere_admin/upgrade_appliance.html, it has the following...

_If you deployed the old version of the vSphere Integrated Containers appliance with a static IP address, and you want the new appliance to retain the same IP address after the upgrade, reconfigure the old appliance to use a temporary

[2018-09-19 10:51] KeithRichardLee opened #2099 "Improve text for Upgrade Appliance regards Initialization"
I believe the text regards Initialization is confusing for the reader in the Upgrade Appliance document found here...
https://vmware.github.io/vic-product/assets/files/html/1.4/vic_vsphere_admin/upgrade_appliance.html

Excerpt of text...
_Power on the new version of the vSphere Integrated Containers appliance and wait for it to initialize. Initialization can take a few minutes._

_IMPORTANT: After

[2018-09-20 12:00] stuclem commented on #2099
@KeithRichardLee yes indeed. The problem is that we have unfortunate messaging in the OVA deployment itself. Just after you power on the appliance, if you go to the appliance IP address in a browser, you see a message along the lines of "VIC Appliance is initializing, please wait...".

Then, once that step is complete, the screen in which you enter the VC/PSC details is entitled "Initialize the VI

[2018-09-20 12:08] stuclem commented on #2099
I think that the upgrade script also uses "initializing" during the boot phase of the appliance.

[2018-09-25 08:47] stuclem commented on #1894
vRA 7.5 is now live: https://docs.vmware.com/en/vRealize-Automation/index.html

[2018-09-25 09:20] #2064 closed

[2018-09-25 14:54] zjs opened #2103 "Photon 2.0 - OVA appliance"
@DanielXiao commented on [Fri Sep 21 2018](https://github.com/vmware/vic/issues/8290)

#### Summary
Switch OVA appliance to Photon 2.0.

#### Details
1. Develop build scripts to install photon 2.0 OS.
2. Ensure no regression in OVA tests. CI and nightly pass(not include upgrade).
3. Upgrade script development and test(All paths).

#### See Also

[2018-09-25 14:57] zjs opened #2104 "Photon 2.0 - DCH"
@DanielXiao commented on [Fri Sep 21 2018](https://github.com/vmware/vic/issues/8291)

#### Summary
Switch DCH OS to photon 2.0

#### Details
Rebuild container and regression testing.

#### See Also

[2018-09-26 12:41] KeithRichardLee opened #2106 "vSphere HTML5 client blank after VIC upgrade"
Bug Report Basic Information
----------------------------
- vCenter Server version: 6.5.0 build 8307201
- Embedded or external PSC: Embedded
- Filename of the OVA you deployed: vic-v1.4.3-6240-deedb985.ova
- How was the OVA deployed? (Flex client, HTML5 client, ovftool): Flex
- Does the VIC appliance receive configuration by DHCP? No
- What stage of the Appliance Lifecycle is the VIC appliance in?

[2018-09-26 13:24] KeithRichardLee opened #2107 "VCH guest OS still showing 1.4.1 after upgrade to 1.4.3"
Bug Report Basic Information
----------------------------
- vCenter Server version: 6.5.0 build 8307201
- Embedded or external PSC: Embedded
- Filename of the OVA you deployed: vic-v1.4.3-6240-deedb985.ova
- How was the OVA deployed? (Flex client, HTML5 client, ovftool): Flex
- Does the VIC appliance receive configuration by DHCP? No
- What stage of the Appliance Lifecycle is the VIC appliance in?

[2018-09-26 18:32] dbarkelew opened #2108 "Improve the VIC Appliance backup and restore process."
**User Statement:**
Current back up method is more difficult than needed on restore causing production deployments to be down longer.

Backups require down time to have a stable disk to restore from.

**Details:**
Restore currently involves deploying a new VIC Appliance and attaching the restored disks to the new VIC Appliance due to the ovfEnv requirements.

Do to the need to have the file system

[2018-09-26 18:51] dbarkelew opened #2109 "Project, container host and user replication between VIC Appliances."
**User Statement:**
In addition to image replication also replicate project settings and user permissions from one VIC Appliance to another.

**Details:**
Users may have the same users and projects across multiple VIC Appliances. Quality of life feature to configure permissions for a user and project on one appliance and have the changes automatically apply to each VIC Appliance.

Also has the pot

[2018-09-26 20:06] dbarkelew opened #2110 "Corrections to VIC Appliance backup documentation around snapshots"
Documentation needs to be updated to shutdown the VIC Appliance before taking the snapshot to ensure the base file system and databases are in a consistent state. Since quesicing is not supported option right now.

The current recommended snapshot methods, snapshot with memory and snapshot without memory mentioned, in the documentation results in crash consistent states. This is not okay for makin

[2018-09-27 07:39] KeithRichardLee commented on #2106
Hit issue again of blank screen, as seen below. This time there was no action (I'm aware of) leading to it, eg no upgrade.

![image](https://user-images.githubusercontent.com/41379304/46130264-c38fcc80-c230-11e8-8f73-9675eca95e77.png)

[2018-09-27 09:23] renmaosheng opened #2111 "Create a testbed for upgrade and modify test cases."
**User Statement:**
current vic-product nightly testing for upgrade (group 7 and group 8), the ESX resource is not enough to run two ova on the ESX host, which causes the testing not stable,  https://vic-jenkins.eng.vmware.com/view/Scenario/job/vic-product-release-scenario-test/

**Acceptance Criteria:**
the vic-product nightly testing for upgrade (group 7 and group 8) pass consistently

[2018-09-27 09:41] renmaosheng opened #2112 "Support Nimbus location switch from parameter. wdc and sc"
**User Statement:**
Based on the experience of 1.4.3 release, we found every Tuesday and Thursday, we hit the overall quota exceeding issue while using the sc resources, it is better to have a way of switching to wdc during the release time.
**Details:**

**Acceptance Criteria:**
Avoid the resource limitation issue  to running the nightly tests during release time frame.

[2018-09-27 11:14] stuclem commented on #1896
According to @hickeng we need to document the following for the existing releases:

Current backup solution:

1. shut down the appliance (to quiesce database)
2. back up via whatever mechanism (snapshot)
3. extract ovfEnv config (manually as VM backup)

Current restore solution:

1. restore appliance (via whatever means)
2. convert restored VM into vApp (hopefully possible)
3. restore the ovfEnv.

[2018-09-27 13:48] stuclem opened #2113 "Corrections required in dch-photon doc"
In https://vmware.github.io/vic-product/assets/files/html/1.4/vic_app_dev/test_photon.html, step 4 needs to be updated from

`docker rmi registry_address/default-project/dch-photon:1.13`

to

`docker -H vch_address:12375 rmi registry_address/default-project/dch-photon:1.13`

[2018-09-27 13:49] stuclem commented on #2113
Also, in https://vmware.github.io/vic-product/assets/files/html/1.4/vic_app_dev/test_photon.html

The steps inform to use the VCH address with the port the DCH is mapped to eg `docker -H vch_address:12375 info`. If a VCH is deployed using the separate networks, then the VCH endpoint is exposed on the Client network. Then when a DCH is deployed on the VCH, it will be exposed on the Public network.

[2018-09-27 15:33] #1894 closed

[2018-09-28 12:37] KeithRichardLee opened #2114 "VCH creation using vSphere Client failing with "Error parsing network mask for container network container-nw: exactly one subnet must be specified""
Bug Report Basic Information
----------------------------
- vCenter Server version: 6.5.0 build 8307201
- Embedded or external PSC: Embedded
- Filename of the OVA you deployed: vic-v1.4.1-5547-ad7eb5f8.ova
- How was the OVA deployed? (Flex client, HTML5 client, ovftool): Flex
- Does the VIC appliance receive configuration by DHCP? No
- What stage of the Appliance Lifecycle is the VIC appliance in?

[2018-10-01 10:04] jitinkumar2018 opened #2115 "Container powers off when its cpu is overloaded continuously"
Bug Report Basic Information
----------------------------
REQUIRED:
- vCenter Server version: 6.5.0.28819
- Embedded or external PSC: Embedded
- Filename of the OVA you deployed: vic-v1.4.3-6240-deedb985.ova
- How was the OVA deployed? (Flex client, HTML5 client, ovftool): ovftool
- Does the VIC appliance recieve configuration by DHCP? No, static
- What stage of the Appliance Lifecycle is the VIC

[2018-10-04 04:27] #1339 closed

[2018-10-04 09:41] #323 closed

[2018-10-05 13:07] stuclem opened #2118 "Document workaround for network range conflicts"
Per https://vmware-com.socialcast.com/messages/39212380, we should update https://vmware.github.io/vic-product/assets/files/html/1.4/vic_vsphere_admin/ts_no_access_to_vic_services.html to point to https://ikb.vmware.com/s/article/56445.

[2018-10-09 13:08] KeithRichardLee commented on #2106
Hi @zhoumeina the env where it was observed is firewalled off, a remote session would be needed but currently the env is not demonstrating the issue. On next occurrence I will leave the env as is and update ticket.

[2018-10-10 09:44] Tal8JB opened #2119 "Can't Access Management Portal - This site can’t be reached (new Deployment)"
vCenter Server version: vCenter Server 6.7
Embedded or external PSC: External
Filename of the OVA you deployed: vic-v1.4.3-6240-deedb985.ova
How was the OVA deployed? (Flex client, HTML5 client, ovftool): Flex Client
Does the VIC appliance recieve configuration by DHCP? No

IP address of VIC appliance: 10.0.8.30
Hostname of VIC appliance: iky-ed-vic01.ad.shared
IP address of vCenter Server: 10.0.9

[2018-10-10 15:40] pescerosso commented on #2119
Hi Tal8JB, Have you tried to open a service request with VMware support?

[2018-10-16 13:41] grekier opened #2120 "Registry config error"
Bug Report Basic Information
----------------------------

REQUIRED:

- vCenter Server version: 6.7.0
- Embedded or external PSC: embedded
- How was the OVA deployed? (Flex client, HTML5 client, ovftool): Flex client
- Does the VIC appliance recieve configuration by DHCP? Yes
- VIC 1.4

VIC is up and running and I can perform all operations I wished up till now.
I have issue when trying to registe

[2018-10-17 12:28] stuclem commented on #1945
vSphere 6.7u1 is now live.

[2018-10-18 17:36] arslanabbasi opened #2126 "The latest Selenium containers are failing on VIC"
##### For bug reports, please include the information below:

Please fill out both the Basic Information and Detailed Information sections.

Bug Report Basic Information
----------------------------

REQUIRED:

- vCenter Server version:
- Embedded or external PSC:
- Filename of the OVA you deployed:
1.4.3 GA

- How was the OVA deployed? (Flex client, HTML5 client, ovftool):
- Does the VIC applianc

[2018-10-18 17:40] arslanabbasi opened #2127 "Include COMPOSE_TLS_VERSION variable in VCH environment file"
##### For bug reports, please include the information below:

Please fill out both the Basic Information and Detailed Information sections.

Bug Report Basic Information
----------------------------

REQUIRED:

- vCenter Server version:
- Embedded or external PSC:
- Filename of the OVA you deployed:
- How was the OVA deployed? (Flex client, HTML5 client, ovftool):
- Does the VIC appliance recieve

[2018-10-19 02:46] renmaosheng opened #2129 "Using Harbor 1.5.4 for VIC 1.4.4"
VIC product needs to pick up Harbor 1.5.4 to include
- fix one clair issue - https://github.com/goharbor/harbor/pull/6042
- fix a dns issue - https://github.com/goharbor/harbor/pull/6058

[2018-10-19 12:10] stuclem commented on #1999
Added the same note to the core docs in https://github.com/vmware/vic-product/pull/2130/commits/9b172037ef57c7e2bb4db5eed71db785a17c87f5.

[2018-10-24 06:47] jitinkumar1994 opened #2135 "Upgrade from VIC 1.4.3 to VIC 1.4.4 appliance failed"
Bug Report Basic Information
----------------------------

REQUIRED:

- vCenter Server version: 6.5.0
- Embedded or external PSC: Embedded
- Filename of the OVA you deployed: vic-dev-v1.4.4-dev-6321-be889a92.ova
- How was the OVA deployed? (Flex client, HTML5 client, ovftool): ovftool
- Does the VIC appliance recieve configuration by DHCP? No, Static
- What stage of the Appliance Lifecycle is the

[2018-10-24 06:57] stuclem commented on #877
We have several branches of the docs, for each version of VIC. So, if and when we implement this, would it be possible to have the branch for each doc version publish to the appropriate folder in gh-pages? Namely:

- `master` publishes to a `wip` or `latest` folder
- the `1.3-docs` branch publishes to the https://github.com/vmware/vic-product/tree/gh-pages/assets/files/html/1.3 folder
- the `1.4-d

[2018-10-24 07:42] renmaosheng opened #2136 "Integrating with new harbor/admiral with updated clarity 0.12 version."
Harbor and admiral is updating clarity version to v0.12.
Once this is done, we need to do integration testing on vic-product to make sure there is no regression changes.

[2018-10-24 11:50] #2135 closed

[2018-10-24 21:21] zjs commented on #877
That seems doable!

As an aside: I've been meaning to take another look at this now that GitHub has announced [actions](https://github.com/features/actions) as that may be a more natural way to automate this than Drone.

[2018-10-26 00:44] zhoumeina commented on #2136
@DanielXiao , we can use:
https://hub.docker.com/r/vmware/admiral/tags/
vic-dev
in docker hub to do this.
However, I have no idea how to do the integration. Maybe we can discuss today.

[2018-10-26 05:50] jitinkumar1994 opened #2137 "Adding VCH to a project in Admiral leads to it getting added to a different project"
Bug Report Basic Information
----------------------------

REQUIRED:

- vCenter Server version: 6.5U2
- Embedded or external PSC: Embedded
- Filename of the OVA you deployed: vic-dev-v1.4.4-dev-6326-5874a1d2.ova
- How was the OVA deployed? (Flex client, HTML5 client, ovftool): ovftool
- Does the VIC appliance recieve configuration by DHCP? No, static
- What stage of the Appliance Lifecycle is the

[2018-10-26 06:03] lgayatri commented on #2137
This is with VIC 1.4.4

[2018-10-26 06:09] renmaosheng commented on #2137
Hi Lakshmi, is this a regression from 1.4.3?

[2018-10-26 06:15] lgayatri commented on #2137
Hi Steven, Jitin is verifying if this is a regression. Will update asap.

[2018-10-26 06:41] renmaosheng commented on #2137
I can successfully add vch to the new project, my vic appliance is 10.192.208.11

[2018-10-26 07:20] lgayatri opened #2138 "VCH deployment log is truncated"
Bug Report Basic Information
----------------------------

REQUIRED:

- vCenter Server version:                                   6.5U2
- Embedded or external PSC:                            Embedded PSC
- Filename of the OVA you deployed:               vic-dev-v1.4.4-dev-6326-5874a1d2.ova
- How was the OVA deployed? (Flex client, HTML5 client, ovftool): ovftool
- Does the VIC appliance recieve co

[2018-10-26 08:40] jitinkumar1994 commented on #2137
Observing the same behavior in 1.4.3

[2018-10-26 09:54] renmaosheng commented on #1328
closing this as we didn't observe such failure in recent build.

[2018-10-26 09:54] #1328 closed

[2018-10-26 09:55] renmaosheng commented on #1697
didn't observe this issue with recent build, closing it.

[2018-10-26 09:55] #1697 closed

[2018-10-29 09:09] #1999 closed

[2018-10-29 09:11] stuclem commented on #1945
Merged in https://github.com/vmware/vic-product/pull/2130

[2018-10-29 09:11] #1945 closed

[2018-10-30 06:10] DanielXiao opened #2144 "Clean up vic-product CI testbed regularly"
**User Statement:**
There are orphan VMs left in vic-product testbed 10.158.214.107,  we need to clean up them every week to ensure there are enough resource for CI testing.

**Details:**

**Acceptance Criteria:**
Orphan VMs are cleaned up automatically every week without affecting running CI.

[2018-10-31 02:55] renmaosheng commented on #2129
https://github.com/vmware/vic-product/pull/2139

[2018-10-31 02:55] #2129 closed

[2018-10-31 06:17] zhoumeina commented on #2106
@KeithRichardLee , do you mind if I close this issue, if you find this issue again, you can reopen it.

[2018-10-31 06:17] #2106 closed

[2018-10-31 08:15] stuclem commented on #928
More info about doc gaps when using templates are in this [internal thread](https://vmware-com.socialcast.com/messages/39239361).

[2018-10-31 10:10] lazarin commented on #2137
Hi @jitinkumar1994, we were not able to reproduce that with docker or vch hosts.
Can you verify these steps and then we can schedule a zoom session
1 create a new project in Administration tab
2 from Home tab switch to the newly created project (upper left corner)
3 add a container host (vch or docker) - host should appear in container hosts view
4 verify that when you switch to other project host

[2018-10-31 11:06] stuclem commented on #928
See also internal bug 2224510

[2018-10-31 11:07] stuclem commented on #928
Customer requests info about using container networks with template, so bumping up priority.

[2018-10-31 13:30] jitinkumar1994 commented on #2137
Hi @lazarin , I produced the error using the following steps and not with your procedure:
1) create a new project in Administration tab
2) Select the project you created in the Administration tab
3) Clicking on + CONTAINER HOST in the Infrastructure tab and providing VCH details
4) Refresh symbol appears and VCH is not seen on the infrastructure tab of the project but rather added to default-proje

[2018-10-31 13:53] lazarin commented on #2137
Confirmed, it's reproducible.
If I create a new project it is opened directly and when immediately add a host it's added to the right project. But if I go first to Home tab, select another project, then back to Administration, select the new project and add a host -> it is going to the default project.

@jitinkumar1994 thanks for reporting we will work on that one.

[2018-11-01 02:51] DanielXiao commented on #2144
I already push script to https://github.com/DanielXiao/vic-tools/blob/release-test/jenkins/jobs/clean-up/clean_up_vic_product_ci.sh.
We need to add a job in Jenkins to manually trigger it when there is no job running.

[2018-11-01 02:55] DanielXiao opened #2151 "Fix 5-03-Multiple-Datacenter.robot"
#### Summary

UI has changed and need to fix 5-03-Multiple-Datacenter.robot

#### Details

#### See Also

[2018-11-01 02:58] DanielXiao opened #2152 "Fix 5-05-Enhanced-Linked-Mode.robot"
##### For feature requests/user stories, please include the information below:

**User Statement:**
UI changed so need to fix 5-05-Enhanced-Linked-Mode.robot

**Details:**

**Acceptance Criteria:**

[2018-11-01 03:14] DanielXiao opened #2153 "Run scenario tests in parallel"
#### Summary

Enable run scenario tests in parallel.
1. Use linked clone for esxi installation instead of pxe boot.
2. Use nimbus testbed spec to deploy testbed instead of deploying individual vc, esx. This is also easy to clean up without affect other testbed.

#### Details

#### See Also

[2018-11-02 05:30] luwang-vmware commented on #2112
I checked with nimbus team about whether there is a cmdline to check the nimbus resource before we launch the pabot scripts. Unluckily the answer is that the only way of knowing each nimbus location resource left is to launch the nimbus-** deploy related cmd.

Ideally implementation method is to add retry mechnasim in the robot resource scripts(Nimbus-Util.robot) to try different nimbus location i

[2018-11-02 18:29] zjs commented on #93
Closing as vmware/vic#3766 was closed.

[2018-11-02 18:29] #93 closed

[2018-11-02 18:32] zjs commented on #96
Closing as vmware/vic#382 was closed.

[2018-11-02 18:32] #96 closed

[2018-11-02 18:37] zjs commented on #97
Closing as vmware/vic#3767 has been closed.

[2018-11-02 18:37] #97 closed

[2018-11-02 18:43] zjs commented on #103
Closing as vmware/vic#381 was closed.

[2018-11-02 18:43] #103 closed

[2018-11-02 18:45] zjs commented on #104
Closing as vmware/vic#501 has been closed.

[2018-11-02 18:45] #104 closed

[2018-11-02 18:48] zjs commented on #105
Closing as vmware/vic#2899 was closed.

[2018-11-02 18:48] #105 closed

[2018-11-02 18:50] zjs commented on #106
Closing as vmware/vic#1928 has been closed.

[2018-11-02 18:50] #106 closed

[2018-11-02 18:58] zjs commented on #127
Closing as vmware/vic#4496 was closed.

[2018-11-02 18:58] #127 closed

[2018-11-02 19:02] zjs commented on #130
As noted in https://github.com/vmware/vic/issues/4519#issuecomment-435477261, our recommendation is to create a new VCH in order to switch to a different image store. We may wish to document this, along with the overall process (something like: create the new VCH with the new image store, re-pull images, re-deploy containers on new VCH over time).

[2018-11-02 19:10] zjs commented on #209
Yes.

Closing this as vmware/vic#4982 has been closed and VM-Host affinity has already been documented.

[2018-11-02 19:10] #209 closed

[2018-11-02 19:20] zjs commented on #329
Closing as vmware/vic#4736 was closed.

[2018-11-02 19:20] #329 closed

[2018-11-06 14:49] stuclem commented on #197
Looks like this is in 1.5.0

[2018-11-06 14:54] stuclem opened #2157 "Document that all components run Photon OS 2.0"
Per https://github.com/vmware/vic/issues/8293, part of Epic https://github.com/vmware/vic-planning/issues/100.

[2018-11-06 14:57] stuclem opened #2158 "Document how to use alternative Linux kernels for container VMs"
Per https://github.com/vmware/vic-planning/issues/47

[2018-11-06 15:11] stuclem commented on #1088
NSX-T support is new in 1.5, but we currently do not provide any docs about NSX at all.

[2018-11-06 15:11] stuclem commented on #1088
Per https://github.com/vmware/vic-planning/issues/92.

[2018-11-06 15:14] stuclem opened #2159 "Document --storage-quota options"
Per https://github.com/vmware/vic-planning/issues/43. Applies to both `vic-machine create` and `vic-machine configure`.

[2018-11-06 15:16] stuclem opened #2160 "Document that initialization of appliance is authenticated"
Per https://github.com/vmware/vic-tasks/issues/93

[2018-11-06 15:20] stuclem opened #2161 "Document new behaviour when multiple appliances connect to VC"
Per https://github.com/vmware/vic-ui/issues/587

[2018-11-06 15:25] stuclem opened #2163 "Document that vCenter Server HA is supported"
Per https://github.com/vmware/vic-ui/issues/506

[2018-11-06 15:29] stuclem opened #2165 "Document scope of support for dch-photon"
Per https://github.com/vmware/vic-planning/issues/115. We need to clearly list which use cases are supported and which are not.

[2018-11-06 15:31] stuclem commented on #1879
@hickeng @zjs is there a doc impact for this?

[2018-11-06 15:34] stuclem commented on #777
@zjs is there a doc impact here?

[2018-11-06 15:36] stuclem commented on #2159
Per https://github.com/vmware/vic/issues/8313, the storage quota is also shown in `docker info`.

[2018-11-06 15:42] stuclem commented on #1042
Looks like this is in 1.5.0

[2018-11-06 15:53] stuclem opened #2166 "Document that bridge network supports netmask smaller than 16 bits"
Per https://github.com/vmware/vic/issues/3943

[2018-11-06 16:44] stuclem commented on #2113
@zjs is there any way around the issue described above? This comment (I cannot remember who sent it to me, unfortunately) basically undermines the whole `dch-photon` example in the docs because it limits `dch-photon` use to VCHs that share a port group for the client and public netowrks.

[2018-11-07 10:16] renmaosheng commented on #2136
this has been done. VIC 1.5 now picks the latest harbor and admiral.

[2018-11-08 03:40] luwang-vmware opened #2170 "Fix 5-04-Multiple-Cluster.robot"
Summary
UI has changed and need to fix 5-04-Multiple-Cluster.robot

Details
See Also

[2018-11-09 08:56] luwang-vmware opened #2172 "Add appliance log collecting function in scenario testing"
We need to add function to collect appliance and VCH related log during suite cleanup in vic-product scenario testing.

[2018-11-09 22:13] evilhamsterman opened #2173 "Extra spaces inserted into certificates"
Please fill out both the Basic Information and Detailed Information sections.

Bug Report Basic Information
----------------------------

REQUIRED:

- vCenter Server version: 6.7U1
- Embedded or external PSC: Embedded
- Filename of the OVA you deployed: vic-v1.4.4-6375-0a6da3d4.ova
- How was the OVA deployed? (Flex client, HTML5 client, ovftool): HTML5
- Does the VIC appliance receive configuratio

[2018-11-12 19:14] zjs commented on #1258
There was another customer request for this (including support for authenticated proxies) at VMworld 2018 Europe.

[2018-11-12 23:01] zjs commented on #777
Probably no direct impact.

[2018-11-13 18:22] zjs commented on #940
As part of this design, we should consider whether a third interface is needed for public network connectivity to allow outbound connections from Harbor.

[2018-11-15 06:00] #2115 closed

[2018-11-19 03:35] renmaosheng commented on #2126
Yanzhao,
      could you please take a look? thanks a lot.

[2018-11-20 10:22] stuclem opened #2176 "Fix Storage DRS support statement"
Per comment in internal bug:

We would need to update the following documentation link :
https://vmware.github.io/vic-product/assets/files/html/1.4/vic_vsphere_admin/interop.html

This section/paragraph is misleading :
vSphere Storage DRS™: You cannot configure VCHs to use Storage DRS datastore clusters. However, you can specify the path to a specific datastore within a Storage DRS datastore clust

[2018-11-21 07:34] #2136 closed

[2018-11-21 08:47] renmaosheng opened #2178 "Updating to v1.5.0 license"
Updating the open_source_license to v1.5.0

[2018-11-21 18:00] dbarkelew opened #2179 "Release notes need to better explain that the Clair issue causing DOS to NIST is resolved"
#### Summary

The release note are not clear that VIC 1.4.4 correct the issue behind Clair causing DOS issues to the NIST servers due to getting stuck in a CVE loop.

#### Details

The resolved issues in Harbor and the pull do not make this clear enough for customer.

https://docs.vmware.com/en/VMware-vSphere-Integrated-Containers/1.4.4/rn/vSphere-Integrated-Containers-144-Release-Notes.html
https

[2018-11-22 07:12] #2111 closed

[2018-11-22 15:42] stuclem commented on #969
Fixed in https://github.com/vmware/vic-product/pull/1989/commits/9e68f3d5ddd68bf1798d535d39e43a039a0fbf55.

[2018-11-22 15:43] stuclem commented on #2113
Documented that public and client must share a port group for the examples to work. @zjs is this OK?

[2018-11-23 08:49] #2103 closed

[2018-11-23 08:56] stuclem opened #2181 "Clarify whether restarting the VCH manually is a problem"
Per internal bug:

A question came up on a section in the documentation.
" Manually restarting container VMs can result in incorrect end-times for container operations. Do not manually restart the VCH or container VMs. Always use Docker commands or the vSphere Integrated Containers Management Portal to perform operations on container VMs."
https://vmware.github.io/vic-product/assets/files/html/1.3

[2018-11-26 07:56] YanzhaoLi opened #2184 "Upgrade-harbor.sh script should be updated"
#### Summary

Since harbor has made some updates,  the `runMigratorCmd` function in [upgrade-harbor.sh](https://github.com/vmware/vic-product/blob/master/installer/build/scripts/upgrade/upgrade-harbor.sh) should be updated.
And also, some related code should be updated if needed.

##### Support information
- Figure out how `upgrade.sh` works
- Read  [upgrade_appliance.md](https://github.com/vmware

[2018-11-27 08:23] stuclem opened #2186 "Document that restarting container VMs from client is supported"
Per comment by @hickeng in https://github.com/vmware/vic-product/pull/2182#issuecomment-441750302, this is possible in 1.5 thanks to https://github.com/vmware/vic/pull/6943.

[2018-11-29 05:42] jitinkumar2018 opened #2196 "VIC 1.4.4 H5 plugin is not being installed (install UI plugin radio button) during VIC registration with VC 6.7 U2"
Bug Report Basic Information
REQUIRED:

vCenter Server version: 6.7 U2
vCenterBuild: 10882746
Embedded or external PSC: No
Filename of the OVA you deployed: vic-v1.4.4-6375-0a6da3d4
How was the OVA deployed? Ovftool
Does the VIC appliance receive configuration by DHCP? No
What stage of the Appliance Lifecycle is the VIC appliance in? Initialization Stage

Bug Details:
VIC H5 plugin does not get in

[2018-11-29 09:17] jitinkumar2018 opened #2197 "VCH deletion fails with context deadline exceeded error or vmdk file not found error"
**Bug Report Basic Information**
**REQUIRED**:

vCenter Server version: 6.5 p03
Embedded or external PSC: No
Filename of the OVA you deployed: vic-v1.4.4-6375-0a6da3d4
How was the OVA deployed? ovftool
Does the VIC appliance recieve configuration by DHCP? No
What stage of the Appliance Lifecycle is the VIC appliance in? Application
Vic Appliance Logs: Unable to upload Log bundle as it exceeded 10M

[2018-11-29 09:19] jitinkumar2018 commented on #2197
@lgayatri @renmaosheng

[2018-11-29 15:36] renmaosheng commented on #2196
Meina,
     could you please take a look? thanks.

[2018-11-29 15:37] renmaosheng commented on #2197
Jitin,
      do you have the environment or logs for us to take a look?

[2018-11-29 15:40] jitinkumar2018 commented on #2197
I shall send the vic_appliance_logs via slack. The environment was cleaned. I shall recreate it again and provide you the VC and VIC ip

[2018-11-30 03:30] #2104 closed

[2018-11-30 07:17] jitinkumar2018 commented on #2197
I have recreated the testbed. 10 VCH's ( U-VIC-0001 - U-VIC-00010) have persistent volumes and the rest don't. We use a script that performs concurrent VCH deletion (50 threads that each perform vic-machine-linux delete).
Will send the VC and VIC login credentials to @wjun.

[2018-12-03 03:07] #2184 closed

[2018-12-03 12:02] #2181 closed

[2018-12-04 01:48] zhoumeina commented on #2196
@pureshine, could you please take a look?I can help you investigate together.

[2018-12-04 03:58] wjun commented on #2173
@evilhamsterman Just double confirm that the cert files you provided do not have white spaces as shown above, and when you deploy the ova through HTML5 web client, the generated vic appliance added white spaces into cert files?

[2018-12-04 13:54] stuclem opened #2205 "Document supported upgrade paths for 1.5.0"
@renmaosheng @zjs @lgayatri do we support upgrade from 1.2.x and 1.3.x?

Also, is the procedure for upgrading by manually copying disks still supported in 1.5?

Thanks!

[2018-12-04 20:55] dbarkelew opened #2208 "Support forwarding logs to syslog servers"
#### Summary

Support forwarding logs from the VIC Appliance to a syslogging server.

#### User statement(s)

Allow for consolidating logs from multiple sources into a single location on a syslog server so troubleshooting and monitoring is easier. Syslog server can also keep a longer time frame of logs.

#### Details

Forward logs to syslog services like Splunk and vRealize Log Insight

#### See a

[2018-12-04 23:48] renmaosheng commented on #2170
please close it if this is fixed.

[2018-12-05 09:12] #1212 closed

[2018-12-05 09:12] #1759 closed

[2018-12-05 09:12] #1761 closed

[2018-12-05 09:12] #2049 closed

[2018-12-05 09:20] stuclem commented on #1932
Fixed in https://github.com/vmware/vic-product/pull/1989

[2018-12-05 09:20] #1932 closed

[2018-12-05 09:20] stuclem commented on #1791
Fixed in https://github.com/vmware/vic-product/pull/1989

[2018-12-05 09:20] #1791 closed

[2018-12-05 09:20] stuclem commented on #1760
Fixed in https://github.com/vmware/vic-product/pull/1989

[2018-12-05 09:20] #1760 closed

[2018-12-05 09:21] stuclem commented on #948
Fixed in https://github.com/vmware/vic-product/pull/1989

[2018-12-05 09:21] #948 closed

[2018-12-05 09:21] stuclem commented on #969
Fixed in https://github.com/vmware/vic-product/pull/1989

[2018-12-05 09:21] #969 closed

[2018-12-05 09:21] stuclem commented on #2113
Fixed in https://github.com/vmware/vic-product/pull/1989

[2018-12-05 09:21] #2113 closed

[2018-12-05 14:38] stuclem commented on #2160
Just seen this in action:

![vic-init](https://user-images.githubusercontent.com/16718369/49520557-cf88b200-f8a3-11e8-9691-a62303d73a0b.png)

[2018-12-05 14:51] stuclem opened #2212 "Update links in Getting Started page to point to 1.5 docs"
All of the links in the Getting Started page need to point to the 1.5 version of the docs.

I have posted a placeholder version of the 1.5 docs at https://vmware.github.io/vic-product/assets/files/html/1.5/.

@renmaosheng can you please assign this accordingly?

[2018-12-05 16:01] stuclem opened #2213 "Review of the dch-photon docs"
@yuyangbj I have merged and published https://github.com/vmware/vic-product/pull/1989, but it would still benefit from an engineering review.

To make things easier, here are the links to the online versions of the docs:

- [Building and Pushing Images with the dch-photon Docker Engine](https://vmware.github.io/vic-product/assets/files/html/1.4/vic_app_dev/build_push_images.html)
  - [Deploy a Tes

[2018-12-05 16:38] evilhamsterman commented on #2173
Yes they are valid certs with none of the whitespaces show. When I deploy using the HTML5 client they are added, they are not added when I use the Flash client.

[2018-12-05 19:07] renmaosheng commented on #2212
Yanzhao, could you please fix this? thanks.

[2018-12-06 02:41] #2170 closed

[2018-12-06 02:44] luwang-vmware commented on #2152
Close it since the case runs smoothly now.

[2018-12-06 02:44] #2152 closed

[2018-12-06 02:45] luwang-vmware commented on #2151
Close it since the case runs smoothly now.

[2018-12-06 02:45] #2151 closed

[2018-12-06 15:11] stuclem commented on #2205
@renmaosheng informed me that we support upgrade from 1.3.x and 1.4.x to 1.5.0.

[2018-12-06 15:14] stuclem commented on #2205
@lgayatri informed me that she will be testing the upgrade by manually moving disks as well as the script-based upgrade.

[2018-12-06 15:15] stuclem commented on #1088
@lgayatri can you please confirm the supported versions of NSX-T? Thanks!

[2018-12-06 15:32] lgayatri commented on #1088
@stuclem , Version would be NSX T 2.3 (with latest patches)

[2018-12-06 15:34] stuclem commented on #1088
Thank you @lgayatri !

[2018-12-06 15:39] lgayatri commented on #2205
@stuclem below are the paths which will be tested

1.3.x to 1.5
1.4.x to 1.5
1.3.x to 1.4.x to 1.5

We wont have 1.2.x being covered for upgrade.

[2018-12-06 15:49] stuclem opened #2216 "Going to https://vic_appliance_address redirects you to a Harbor log in page"
#### Summary

After deploying and initializing the appliance, if you enter https://vic_appliance_address in a browser you are sent to https://vic_appliance_address/harbor/sign-in :

![harborlogin.png](https://images.zenhubusercontent.com/56afa3216caf56c9d38c1ecf/85804bf9-82c4-45e0-9682-aadca149738a)

Neither the vSphere Admin credentials nor the VIC appliance root password work on this page.

Ente

[2018-12-06 15:51] stuclem commented on #2205
Great, thanks @lgayatri !

[2018-12-06 15:56] stuclem commented on #197
Looks like this is not in 1.5.0.

[2018-12-06 15:57] stuclem commented on #2158
Looks like this is in 1.5.0

[2018-12-06 15:58] stuclem commented on #2161
Looks like this is not in 1.5.0

[2018-12-06 15:59] stuclem commented on #2163
Looks like this is not in 1.5.0

[2018-12-06 16:03] stuclem commented on #1042
Looks like this is not in 1.5.0

[2018-12-06 16:04] stuclem commented on #2166
Looks like this is not in 1.5.0

[2018-12-06 16:04] stuclem commented on #1946
Looks like this is not in 1.5.0

[2018-12-06 16:06] stuclem commented on #2186
Looks like this is in 1.5.0

[2018-12-06 16:10] stuclem opened #2217 "Document supported version of dch-photon in VIC 1.5.0"
@renmaosheng @yuyangbj if we are bumping `dch-photon` up to Photon OS 2.0 in 1.5.0, what will be the new version number for the `dch-photon` image that ships in the default-project? Thanks!

[2018-12-07 06:03] DanielXiao commented on #1390
Bug: 2244660

[2018-12-07 06:16] luwang-vmware opened #2220 "Fix random failure of case 5-01-Distributed-Switch-No-Cluster.robot"
5-01-Distributed-Switch-No-Cluster.robot is randomly failure in scenario testing. The root cause is that our case is using Nimbus to create 3 ESXi which all have datastore1 and when they are added to VC, the 2nd and 3rd hosts' datastore1 is named as datastor1(*). VIC UI sorted the 3 ESXi host with their ip address and our case are hardcode to use the 1st host as VCH compute resource, but sometimes

[2018-12-07 11:14] stuclem opened #2223 "Documents that developers can DL registry cert from UI"
Per https://github.com/goharbor/harbor/pull/6065. Must check if this is in 1.5.

[2018-12-10 09:42] stuclem opened #2225 "Document maximum length of VIC appliance password"
Per comment from @zjs in https://github.com/vmware/vic-product/pull/2195#ref-pullrequest-388221853, we need to document the max password length.

[2018-12-10 14:43] stuclem commented on #2099
Actually, the screen that pops up after appliance initialization says "Complete VIC appliance installation". So, this is indeed a doc problem, not a problem with the implementation itself.

[2018-12-10 22:16] zjs commented on #2144
When cleaning up the testbed, we should record information about the resources being deleted. We should use that information to identify which test(s) are leaking resources and fix those tests.

[2018-12-10 22:56] zjs commented on #2127
Putting this into the env file seems entirely reasonable. Including it in the CLI output may not be, as it may clutter the output.

[2018-12-10 23:01] zjs commented on #2107
We should investigate to _at least_ ensure that this issue does not affect 1.5.0.

[2018-12-10 23:05] zjs commented on #1957
Re-open if we reproduce.

[2018-12-10 23:05] #1957 closed

[2018-12-10 23:35] zjs commented on #777
We should add at least basic logging for 1.5.0. If more logging is needed than we have time for, we can add some logging and defer the issue to 1.5.1.

[2018-12-11 02:43] zhoumeina commented on #2196
@jitinkumar2018,  please try to login again. Need to logout and login again the plugin will appear.

[2018-12-11 05:14] jitinkumar2018 commented on #2196
I tried logging in and logging out and plugin does not appear. Please note: it is a nimbus VC

[2018-12-12 04:30] pureshine commented on #2196
@jitinkumar2018 We tested on numbus vc, the h5 plugin can be displayed on the menu, could you please  clear your browser cache and try to redeploy ova to reinitialize and try to log in again twice.
![image](https://user-images.githubusercontent.com/40712758/49847042-1a0cb000-fe09-11e8-9136-3edd05e56d3b.png)

[2018-12-12 06:54] #2212 closed

[2018-12-12 07:31] wy65701436 commented on #2216
We got the root cause of this issue, it's caused by the changes of Harbor on v1.7.0

[Backgroud]
Harbor redirects all the request to admiral endpoint in the source code, see the details at
https://github.com/goharbor/harbor/blob/985b570bdc371f010b030c3816e6e208ff9718e4/src/ui/controllers/index.go#L30

We do not update the code in v1.7.0 but update the configuration of Nginx because of introducing

[2018-12-13 01:10] YanzhaoLi commented on #2126
@arslanabbasi , Could you please provide your error message? I tested the latest hub image in my vic1.3 and it worked well.
There maybe two possible reasons for failing to start:
-  no space left in /tmp,    using `bin/vic-machine-linux configure --memory 8192`  to fix
-  poor network connectivity,  using `export export COMPOSE_HTTP_TIMEOUT=300` to fix

[2018-12-13 04:34] pureshine commented on #2196
@jitinkumar2018 Could you please provide your vc environment? I will test it again using your environment.thanks

[2018-12-13 04:49] jitinkumar2018 commented on #2196
vc IP: 10.193.36.210

[2018-12-13 05:36] pureshine commented on #2196
vsphere-client-serenity/com.vmware.vic-1.4.4.1405 org.osgi.service.subsystem.SubsystemException: org.osgi.service.resolver.ResolutionException: Unable to resolve /etc/vmware/vsphere-ui/vc-packages/vsphere-client-serenity/com.vmware.vic-1.4.4.1405/com.vmware.vic-1.4.4.1405.esa/vic.war: missing requirement org.apache.aries.subsystem.core.archive.ImportPackageRequirement: namespace=osgi.wiring.packag

[2018-12-13 06:00] zhoumeina commented on #2196
The org.springframework.web.servlet) need to be version>=3.1     <=4.3.17. Seems in vc 6.7 u2, it upgrade this depencency

[2018-12-13 06:05] zhoumeina commented on #2196
@jitinkumar2018 , could you please provide vcenter build number? let me try to install it locally.

[2018-12-13 06:06] jitinkumar2018 commented on #2196
Sure, Vcenter build: 10882746

[2018-12-13 06:15] zhoumeina commented on #2196
I found this build in : https://buildweb.eng.vmware.com/ob/10882746/
However, not sure how to download it. Do you know?

[2018-12-13 07:00] jitinkumar2018 commented on #2196
I am not quite sure. I shall let you know if I get my hands on this build

[2018-12-13 07:39] #2220 closed

[2018-12-13 08:39] stuclem commented on #2160
https://github.com/vmware/vic-product/pull/2222 added the password check to the APIs as well as to the UI.

[2018-12-13 08:45] lgayatri commented on #2196
@zhoumeina Build is available now.

[2018-12-13 09:40] stuclem commented on #2159
The `--storage-quota` option is implemented in https://github.com/vmware/vic/pull/8327.

[2018-12-13 11:46] stuclem opened #2234 "Typo in upgrade script message"
OVA build 6659

During upgrade, the upgrade script reports that it is `Waiting for register appliance...`

![upgrade.png](https://images.zenhubusercontent.com/56afa3216caf56c9d38c1ecf/afdaade2-a6eb-4652-b3f1-e6249fb65d1c)

This should be `Waiting to register appliance...` or `Waiting for appliance registration ...`

[2018-12-14 02:59] zhoumeina commented on #2196
@jitinkumar2018 , after we investigate the vc 6.7 library, many libs have been changed which are not adapt to our api. I am afraid we can not support u2 version in short time. I think this need to be delayed and target in later release. @renmaosheng

[2018-12-14 03:06] zhoumeina commented on #2216
@DanielXiao , file path: /harbor/make/common/templates/nginx/nginx.https.conf

[2018-12-14 03:07] zhoumeina commented on #2216
Still, I think we modified the harbor source code is not a elegant way. It should be something can be config.

[2018-12-14 03:34] lgayatri commented on #2196
@stuclem lets document this

[2018-12-14 06:42] jitinkumar2018 opened #2237 "Manual upgrade from VIC 1.4.4 to VIC 1.5 failed because the new VIC appliance failed to register with VC"
- Embedded or external PSC: No
- How was the OVA deployed? (Flex client, HTML5 client, ovftool): Flexclient
- Does the VIC appliance recieve configuration by DHCP? No, Static
- IP address of VIC appliance: 10.197.37.182
- Hostname of VIC appliance: vic-st-h2-182.eng.vmware.com
- IP address of vCenter Server: w2hs2-rdp04.eng.vmware.com

##### Actual behavior
Failed to upgrade as the VIC appliance f

[2018-12-14 09:43] #1390 closed

[2018-12-14 13:49] stuclem commented on #1828
Reopening, as even though https://github.com/vmware/vic-product/pull/1918 is merged, not all of the comments in this issue or in the PR have been fully addressed yet.

[2018-12-14 14:51] stuclem commented on #2237
See also https://github.com/vmware/vic-product/issues/2234

[2018-12-17 03:13] wjun commented on #2234
Fixed in #2236

[2018-12-17 03:44] wjun commented on #2237
We add a new parameter into upgrade.sh for security reason: --upgrade-password. The value is the ova appliance's root password. @luwang-vmware will generate a new build with upgrade tests passed.

[2018-12-17 06:41] lgayatri commented on #2237
@wjun, do we need an additional parameter? We already take the root password of old OVA as an input.

[2018-12-17 08:12] stuclem commented on #2237
@wjun, I agree with @lgayatri. It doesn't seem like a good user experience to have to enter the root password twice.

[2018-12-17 08:34] #2225 closed

[2018-12-17 09:58] wjun commented on #2237
@stuclem @lgayatri The new parameter is for the new vic appliance's root password, which can be different from the old appliance's root password. It is introduced by a security issue that an attacker may mimic a vc, and if we do not ask for vic root password, the attacker can locate vic registration to this mimic vc.

[2018-12-17 10:47] #2099 closed

[2018-12-17 10:47] #2205 closed

[2018-12-17 11:38] stuclem opened #2247 "Document that new appliance pw is required during upgrade"
Per https://github.com/vmware/vic-product/issues/2237#issuecomment-447786516

[2018-12-17 11:38] stuclem commented on #2237
@wjun thanks for the explanation. I opened https://github.com/vmware/vic-product/issues/2247 for the doc update.

[2018-12-17 12:48] stuclem commented on #1088
Some info from @yuyangbj via email:

1. You need to create at least two logical switches for bridge and container network in NSXT
2. Make sure you can see these two opaque networks in vCenter
3. Make sure all hosts in the compute cluster are managed by these two opaque networks
4. Set these two opaque networks as bridge and container network via `vic-machine` cmd or UI
5. If you use logical switch

[2018-12-17 15:04] lgayatri commented on #2237
Thanks @wjun .

[2018-12-17 15:04] #2237 closed

[2018-12-18 02:55] renmaosheng commented on #2107
Wending,
       Could you please check the upgrading from 1.4.4 to 1.5 the VCH version is upgraded? thanks.

[2018-12-18 06:20] stuclem commented on #2196
OK, thanks @renmaosheng

[2018-12-18 06:31] stuclem opened #2248 "Document that only 1.5.3 supports 6.7u2"
Per https://github.com/vmware/vic-product/issues/2196#issuecomment-448073499, we won't support running 1.4.x on 6.7u2 when it comes out.

Doc update must wait until 6.7u2 is released, after 1.5.0 GA.

[2018-12-18 07:21] stuclem opened #2249 "Document that vRA 7.6 supports VIC 1.5"

[2018-12-18 08:18] luwang-vmware commented on #2107
Feel sorry to give wrong info. The issue still exists after upgrading from 1.4.3 to 1.5.0. So reopen it.
![image](https://user-images.githubusercontent.com/43165500/50140638-60b64a80-02e0-11e9-9a8e-abd95d915a29.png)

[2018-12-18 08:53] DanielXiao opened #2250 "DCH image is not showing in Built-in Repositories"
#### Summary

Built-in Repositories show no image.

##### VIC Appliance version

vic-dev-v1.5.0-dev1-6718-853ddd3b.ova

#### Details

DCH image should show in Built-in Repositories

##### Steps to reproduce

Log in admiral UI then click Built-in Repositories

##### Actual behavior

Show no image at all
I can pull image successfully:
[code]
##### Expected behavior

Show dch-photon:17.06

[2018-12-18 08:54] DanielXiao commented on #2250
![screen shot 2018-12-18 at 4 54 13 pm](https://user-images.githubusercontent.com/1393804/50142658-9a3d8480-02e5-11e9-9050-0fe7b1598121.png)

[2018-12-18 09:30] #2216 closed

[2018-12-19 07:51] luwang-vmware commented on #2112
We have  finished NIMBUS_LOCATION change for VIC. We will implement it in vic-product in Sprint 40.

[2018-12-19 10:06] stuclem commented on #2160
The upgrade password is being addressed in https://github.com/vmware/vic-product/issues/2247.

Closing this one as it was fixed in https://github.com/vmware/vic-product/pull/2233

[2018-12-19 10:06] #2160 closed

[2018-12-19 10:15] stuclem commented on #2217
Per https://github.com/vmware/vic-product/pull/2218#pullrequestreview-185498014, the `dch-photon` version in 1.5 is 17.06.

[2018-12-19 14:46] mshipkovenski commented on #2120
Hi @grekier, I have identified the problem. Before addressing the issue can you confirm that you are able to pull any image from this registry via `docker pull nexus.osnode.com/repository/docker/<myimage>`? Thanks.

[2018-12-19 15:07] stuclem commented on #2223
This is in 1.5

[2018-12-20 00:46] DanielXiao commented on #2217
Yes. 17.06 is the correct version that ships in the default-project.

[2018-12-20 02:50] DanielXiao commented on #2107
Only see this issue in upgraded VCH.

[2018-12-20 07:51] #2157 closed

[2018-12-20 10:22] stuclem opened #2257 "Add more What to Do Next sections to topics"
The Cloud Admin, Dev/DevOps, and AppDev pubs are lacking in decent What to Do Next links.

[2018-12-20 10:32] stuclem opened #2258 "New Registry Certificate download button not showing up correctly and download not working"
@stuclem commented on [Wed Dec 19 2018](https://github.com/vmware/admiral/issues/290)

@stuclem commented on [Wed Dec 19 2018](https://github.com/vmware/vic-ui/issues/641)

1. Deployed vic-dev-v1.5.0-dev1-6723-dc7489d3.ova, fresh install, not upgrade.
2. Logged into Management Portal as vSphere Admin.
3. Went to **Administration** > **Projects** > **Internal Repositories**.

    Button to download

[2018-12-20 10:32] stuclem commented on #2258
I'm also seeing bad formatting in the Registry Replication view:

![reg_rep](https://user-images.githubusercontent.com/16718369/50279764-fbcb3380-044a-11e9-96ce-4306d84569c0.png)

[2018-12-20 11:01] stuclem commented on #2217
This was fixed in https://github.com/vmware/vic-product/pull/2218

[2018-12-20 11:01] #2217 closed

[2018-12-20 11:14] YanzhaoLi commented on #2107
This is fixed by vic's PR 8427.

[2018-12-20 15:16] stuclem commented on #2258
Same problem in Admin > Configuration:

![admin-config](https://user-images.githubusercontent.com/16718369/50292873-8ffcc100-0472-11e9-8268-faae60539c0f.png)

[2018-12-20 15:18] stuclem commented on #2258
Same for replication rules:

![rep-rules](https://user-images.githubusercontent.com/16718369/50292995-de11c480-0472-11e9-9fbc-45727d8fb492.png)

[2018-12-20 15:21] stuclem commented on #2158
We probably have to document that alternative kernels might run slower than the standard Photon OS kernel.

[2018-12-21 01:21] zhoumeina commented on #2258
@stuclem , could you please try to hard reload the page? It seems the resource files are not correctly show.

[2018-12-21 03:15] DanielXiao opened #2260 "Integration tests of different build can not run in parallel"
#### Symptom

There is only one testbed for CI so there will be contention on VC UI testing because VC can only accept one VIC UI plugin at one time.

A quick walk around is to run CI sequentially to avoid they from affecting each other. However concurrent CI verification is expected to fix this issue.

[2018-12-21 08:48] jitinkumar2018 opened #2262 "VCH deletion cause containers inside resource pools to be pushed outside the resource pools, and not deleted"
**Bug Report Basic Information**
**REQUIRED:**
vCenter Server version: 6.5 p03
Embedded or external PSC: No
Filename of the OVA you deployed: vic-dev-v1.5.0-dev1-6723-dc7489d3
How was the OVA deployed? ovftool
Does the VIC appliance recieve configuration by DHCP? No
What stage of the Appliance Lifecycle is the VIC appliance in? Application
Vic Appliance Logs:
[vic_appliance_logs_2018-12-21-08-43-5

[2018-12-21 08:50] jitinkumar2018 commented on #2262
![image](https://user-images.githubusercontent.com/42163572/50333479-81261500-052b-11e9-88a5-7de69b6f9607.png)

[2018-12-21 09:11] zhoumeina commented on #2258
@stuclem , we just found it is because harbor globalization api not provided now. Harbor will generate a 1.7.1 release to fix this.

[2018-12-21 09:12] stuclem commented on #2258
Thanks @zhoumeina !

[2018-12-21 14:09] clouderati commented on #1258
Proxy also needed to pull latest Clair vul'n data.

[2018-12-21 16:07] vchrisst commented on #2120
Hi @mshipkovenski , I have an identical issue with a Docker Enterprise Registry. When I try to add the registry, I got the following message:
Operation for registry https://my.reg.test:443 failed: Ping attempts failed with errors: Service https://my.reg.test:443/v1/_ping returned error 404 for GET. id 52712060 -- Service https://my.reg.test:443/v2/_catalog?n=1 returned error 401 for GET. id 527120

[2018-12-24 08:21] DanielXiao commented on #831
During VIC appliance installation, root password is required for verification. So the user who run ova-webserver process must have enough privileges to access the shadow password database, which is currently root user of VIC appliance OS. If I run ova-webserver in a container with a non-root user, it is impossible to access password database of host OS. I would like to skip this issue unless we ha

[2018-12-25 03:49] DanielXiao commented on #1258
@sergiosagu From client initial setting, I didn't see code to handle authenticated proxies.  Does Admiral support it?
[code]
https://github.com/vmware/admiral/blob/507f227c68561b6f890145a297eeba473d6da337/adapter/registry/src/main/java/com/vmware/admiral/adapter/registry/service/RegistryAdapterService.java#L138

[2018-12-26 08:02] zhoumeina commented on #2258
fixed by: #2268

[2018-12-26 08:02] #2258 closed

[2018-12-27 03:05] luwang-vmware commented on #2260
Change CI run as sequential in PR 2261.

[2018-12-27 03:05] #2260 closed

[2018-12-27 05:48] danfengliu opened #2269 "Fail to deploy VCH by GUI when input required vSphere user name with blank space in the tail"
* VIC Engine (VCHs, Container VMs, and their lifecycles)

#### Summary
When creating VCH in vSphere client, at the last step, vSphere client user credential was needed, if blank space was attached by accident, there will be a failure of creating VCH. Please add trim function in GUI to tolerant this kind of input.

##### vSphere and vCenter Server version
vSphere Client version 6.7.0

https://stora

[2018-12-27 15:16] stuclem commented on #2159
Doesn't appear in UI.

[2018-12-28 00:51] zhoumeina opened #2272 "OVA build result path from CI not consistent with google ova builds."
I submitted a pr to generate a ova.
From the ci console out put , the ova path is :
![image](https://user-images.githubusercontent.com/4946616/50498668-abbd2400-0a7d-11e9-859d-b740bb95d90b.png)

Actually, when I try to deploy this ova, I found this url is not correct.
the correct url is :
![image](https://user-images.githubusercontent.com/4946616/50498682-cee7d380-0a7d-11e9-9cbd-4265156c26b6.png)

[2018-12-31 09:20] stuclem commented on #2158
@renmaosheng agrees with me that the best approach is to link to https://github.com/vmware/vic/tree/master/isos/base/repos#how-to-build-an-custom-iso from the core docs, so as to avoid duplication of complex information.

[2019-01-02 03:36] pureshine commented on #2269
fixed by pr vic-ui- #642 (https://github.com/vmware/vic-ui/pull/642)

[2019-01-02 03:37] pureshine commented on #2269
fixed by pr  (vmware/vic-ui#642)

[2019-01-02 03:37] #2269 closed

[2019-01-02 05:15] pureshine commented on #998
@andrewtchin Are you talking about the error message that appears here when the initialization fails, or can you provide a screenshot?
![image](https://user-images.githubusercontent.com/40712758/50581008-54a9bb80-0e90-11e9-8199-fbdcf0080a31.png)

[2019-01-02 07:32] renmaosheng commented on #2196
I should have said that 6.7 U2 will be GAed later than VIC 1.5, so we have to use our next patch after 1.5 to support 6.7 U2. thanks.

[2019-01-02 07:33] renmaosheng commented on #2144
the scripts are checked in  as well.

[2019-01-02 07:33] #2144 closed

[2019-01-02 07:39] renmaosheng commented on #2107
https://github.com/vmware/vic/pull/8427

[2019-01-02 07:39] #2107 closed

[2019-01-02 09:52] mshipkovenski commented on #2120
Hi @vchrisst , your problem seems quite different. You get an error 401 which translates to "Not Authorized".
1. Did you supply the credentials when you configured the registry in Admiral?
2. Is https://my.reg.test:443 the full address of your registry?

[2019-01-02 10:16] #1822 closed

[2019-01-02 10:16] renmaosheng commented on #1822
not observed any more

[2019-01-02 10:43] YanzhaoLi commented on #2127
This is fixed by vic's pr #8440

[2019-01-02 11:07] vchrisst commented on #2120
Hi @mshipkovenski,

I provided the credentials yes. Also the FQDN is correct. It doesn't make a difference if a use a full path (for example https://my.reg.test:443/vchrisst/) or only the FQDN of the registry.

[2019-01-03 04:13] lgayatri commented on #1088
@stuclem , the NSX T version we are using for this release is 2.3.1.

[2019-01-03 04:47] yuyangbj commented on #2262
I will try to reproduce it on my side first.

[2019-01-03 09:38] #2127 closed

[2019-01-03 12:35] jitinkumar2018 commented on #2262
I am currently running large scale VIC workload on vsphere67u1 with static IPs for VCH's. I shall run large scale workload with VIC RC1 on 6.5p03 tomorrow and confirm if I can reproduce the issue.

[2019-01-04 13:35] tsimchev opened #2278 "VIC Appliance 1.4.4 registration with VCSA 6.7u1 has failed. Wrong Appliance UUID"
#### Summary

When I started my fresh VIC Appliance 1.4.4 into my vCenter 6.7u1 and registered the vCenter I received an error "failed to get product vm : can't find the hosting vm". When I checked the code I saw that VIC appliance is reading VM UUID from "/sys/class/dmi/id/product_serial" and this UUID was different than the one in my vCenter VIC Appliance VM.

When I updated my vCenter VIC Appli

[2019-01-07 07:49] DanielXiao commented on #2272
PR will not generate ova build and the step "bundle dev builds" is only for push and tag. If you modify .drone.yml to generate PR build for personal testing, you should print the artifact URL in your PR.

[2019-01-07 08:38] #2159 closed

[2019-01-07 09:54] #2272 closed

[2019-01-07 23:19] zjs commented on #497
Closing as vmware/vic#475 has been closed.

[2019-01-07 23:19] #497 closed

[2019-01-07 23:22] zjs commented on #498
Closing as vmware/vic#1366 has been closed.

[2019-01-07 23:22] #498 closed

[2019-01-07 23:35] zjs commented on #503
Closing as vmware/vic#2899 was closed.

[2019-01-07 23:35] #503 closed

[2019-01-07 23:40] zjs commented on #504
Closing as vmware/vic#2424 was closed.

[2019-01-07 23:40] #504 closed

[2019-01-07 23:41] hickeng commented on #502
@stuclem This is functional (and has been since 1.3.0) - basically you are able to forward a port within a cVM, in the same way you can via endpoint NAT.

E.g.
`docker run --net=published-container-net -p 80:8080 -d tomcat:alpine`

The above would allow you to access the tomcat webserver via port `80` on the cVM, via `published-container-net` instead of being fixed to port `8080` as defined in the

[2019-01-07 23:48] zjs commented on #507
Closing as vmware/vic#2943 has been closed.

[2019-01-07 23:48] #507 closed

[2019-01-07 23:55] zjs commented on #580
NTP is now configurable: #2232

[2019-01-07 23:55] #580 closed

[2019-01-07 23:58] zjs commented on #606
Closing issue due to inactivity.

[2019-01-07 23:58] #606 closed

[2019-01-08 00:00] zjs commented on #609
While this is an annoying issue internally, as we have high churn with OVA installation, it seems unlikely to have significant impact on customers. As noted above, a workaround exists.

[2019-01-08 00:00] #609 closed

[2019-01-08 00:01] zjs commented on #643
Closing due to inactivity.

[2019-01-08 00:01] #643 closed

[2019-01-08 00:07] hickeng commented on #790
This is marked as sev2 because it's all fine until it goes wrong, then it's really problematic to determine what occurred.

[2019-01-08 00:14] hickeng commented on #809
I dislike the entire "content trust" pattern as it stands. The current design was put in place because the delivery window we had did not allow for implementing notary client support in the VCH endpoint VM.
As such the combination of locking a VCH to the harbor registry, and ensuring that only signed images can be pulled gave us effectively the same functional behavior as a full notary client impl

[2019-01-08 00:18] zjs commented on #810
Our versions are a mess. We should take a holistic approach to cleanup: we should ensure that we are compatible with reasonable versions, that those versions are consistent across all components, and that our testing reflects our support statements.

Leaving this as-is for now, but there may be better ways to track this work.

@clouderati, I think this is something that should be considered for th

[2019-01-08 00:31] hickeng commented on #831
@DanielXiao Is it viable to use PAM to do this password validation? Anything that allows access to shadow is dangerous.

See the example here: https://www.socketloop.com/tutorials/golang-verify-linux-user-password-again-before-executing-a-program-example

[2019-01-08 04:34] andrewtchin commented on #998
@pureshine Yes the bar is similar to the one you have highlighted, but it is the red bar that is displayed when appliance initialization fails. If the user misses this warning then reloads the page, the bar is no longer displayed so the user has no indication that the appliance will not work.

[2019-01-08 06:18] #2112 closed

[2019-01-08 06:54] jitinkumar2018 commented on #2197
Thanks Jun

[2019-01-08 07:16] luwang-vmware opened #2286 "Stabilize CI for vic-product"
We randomly hit failure in vic-product CI testing. We will focus on following tasks.
1. Debugging the random failure and stabilize them when CI is triggered as sequential.
2. Make vic-product CI as parallel testing.

[2019-01-08 07:58] #1452 closed

[2019-01-08 10:22] renmaosheng commented on #1765
@virtuosityyc is this still an issue for you? thanks.

[2019-01-08 12:47] mshipkovenski commented on #2120
According to the [NXRM3 documentation](https://support.sonatype.com/hc/en-us/articles/115013153887-Docker-Repository-Configuration-and-Client-Connection) "When you make a request using the Docker client, you provide a hostname and port **followed by the Docker image**. Docker **DOES NOT** support the use of a context to specify the path to the repository."

Registries like JFrog Artifactory or Nex

[2019-01-10 08:55] #2158 closed

[2019-01-10 09:01] stuclem commented on #2223
Removing from 1.5 as this feature is currently only available in standalone Harbor. Keeping this issue and the associated PR for later use.

[2019-01-10 10:55] stuclem opened #2295 "Document that vch.env file now includes COMPOSE_TLS_VERSION"
Per https://github.com/vmware/vic/pull/8440

[2019-01-10 11:29] stuclem opened #2297 "Document that you can specify NTP server during appliance deployment"
Per https://github.com/vmware/vic-product/pull/2232

[2019-01-10 11:46] stuclem commented on #505
https://github.com/vmware/vic/issues/1339 is closed

[2019-01-10 11:46] #505 closed

[2019-01-10 15:10] stuclem opened #2300 "Fix Slack sign up address on github.io landing pages"
The link to sign up to the public Slack goes to the top level vmware{code} page. The correct link is https://code.vmware.com/web/code/join.

[2019-01-10 15:13] stuclem commented on #2098
This is already fixed in 1.5: https://vmware.github.io/vic-product/assets/files/html/1.5/vic_vsphere_admin/upgrade_appliance.html

[2019-01-10 16:46] #2098 closed

[2019-01-10 16:48] #130 closed

[2019-01-11 06:44] DanielXiao opened #2304 "VMware CA is missing in VIC appliance ova"
#### Summary

When you deploy VIC appliance from web client, you will see "No certificate present" in Publisher property. See the screenshot.
<img width="959" alt="screen shot 2019-01-11 at 11 18 13 am" src="https://user-images.githubusercontent.com/1393804/51017318-a5b36100-15ae-11e9-8a52-863151fbe263.png">

##### VIC Appliance version

Any version.

#### Details

The ova should include a VMware

[2019-01-11 08:18] #2295 closed

[2019-01-11 08:48] #2247 closed

[2019-01-14 02:20] renmaosheng commented on #2120
@grekier is above method working? I will close the issue if there is no further questions.

[2019-01-14 02:45] renmaosheng commented on #2126
@YanzhaoLi @luwang-vmware could we check our current nightly, which version of images are used?

[2019-01-14 08:35] #2297 closed

[2019-01-15 07:48] #2176 closed

[2019-01-15 11:07] #1088 closed

[2019-01-15 11:15] stuclem commented on #1828
Merged in https://github.com/vmware/vic-product/pull/2306

[2019-01-15 11:15] #1828 closed

[2019-01-15 11:48] #2186 closed

[2019-01-16 08:36] stuclem commented on #502
Fixed in https://github.com/vmware/vic-product/pull/2252

[2019-01-16 08:36] #502 closed

[2019-01-22 03:56] DanielXiao opened #2315 "OpenSSH Vulnerability"
#### Summary

NEXPOSE reports below vulnerabilities:
OpenSSH Vulnerability: CVE-2017-15906 (openbsd-openssh-cve-2017-15906)
OpenSSH Vulnerability: CVE-2018-15473 (openbsd-openssh-cve-2018-15473)
OpenSSH Vulnerability: CVE-2018-15919 (openbsd-openssh-cve-2018-15919)

#### Details

Upgrade photon OpenSSH package when patches are available for them.

[2019-01-22 06:12] DanielXiao commented on #2315
Bug #2259311

[2019-01-22 06:20] DanielXiao opened #2316 "Setting an alarm for virtual machine hard disk usage - use compatible vmware tools"
#### Summary

VMware tools in VIC appliance is not a full version, we need to report disk stats to vSphere so alarms occurs when disk usage exceeds the threshold.

#### Details

Install the compatible vmware tool.

##### Actual behavior

VIC appliance show "The VMware tools status is unknow."

##### Expected behavior

VIC appliance show vmware tools status is compatible

Bug: #2217497

[2019-01-22 23:36] zjs commented on #864
Is this still an issue? If so, it may be worth fixing this; it seems to be an easy user experience improvement.

[2019-01-22 23:43] zjs commented on #869
I discussed this with @hickeng and we agree this seems useful for the official docs as we prefer not to hide this valuable information. This could be framed as how to workaround the current lack of capabilities (if such framing is useful). @stuclem, please work with @dbarkelew to gather instructions and ask @renmaosheng for QE resources to validate/review.

[2019-01-22 23:45] #882 closed

[2019-01-22 23:49] zjs commented on #886
No longer seems relevant.

[2019-01-22 23:49] #886 closed

[2019-01-22 23:53] zjs commented on #889
Adding a link to the relevant documentation and note/warning text to the would be an easy user experience improvement.

[2019-01-22 23:56] zjs commented on #908
Closing this as it is a very old issue. (If still relevant, please reopen.)

[2019-01-22 23:57] #911 closed

[2019-01-22 23:59] zjs commented on #915
Closing this as it seems to be perceived as extremely low priority. If we believe this affects customers, we should reopen with supporting information.

[2019-01-23 00:01] zjs commented on #916
We should prefer NTP to host time sync; customers like being able to control the timezone for workloads separately from the timezone for the infrastructure.

[2019-01-23 00:04] hickeng commented on #916
The ask for this came from field facing staff who noted that they could not run Guest Customization due to toolbox not supporting that.

If we move to open-vm-tools we _must_ add testing to ensure that the OVA continues to function if guest customizations are performed via tools.

[2019-01-23 00:10] zjs commented on #932
Closing as vmware/vic#6339 was closed.

[2019-01-23 00:10] #932 closed

[2019-01-23 00:18] zjs commented on #987
@yuyangbj, could you provide @stuclem with the requested details? (Ping @hickeng for a pointer to the relevant code if needed.)

[2019-01-23 00:18] hickeng commented on #987
#2252 added some information regarding `-p` and container networks, but not the table that's requested.

[2019-01-23 00:20] zjs commented on #1002
This information should be in the OVA's guestinfo; that's how we publish the information for VCHs to connect securely.

[2019-01-23 00:31] #1071 closed

[2019-01-23 00:32] #1074 closed

[2019-01-23 00:35] zjs commented on #1089
May no longer be an issue now that we're on Photon 2.0 with an updated set of dependencies. We should review bug cited above and re-test.

[2019-01-23 04:35] lgayatri commented on #889
Yes, warning message will help to notify the users.

[2019-01-23 04:42] lgayatri commented on #864
@zjs , yes -if we hit VIC OVA with http:// then we see

![image](https://user-images.githubusercontent.com/25006749/51583593-5c8cd680-1ef7-11e9-89ce-98d5e7dc8e05.png)

[2019-01-23 06:32] lgayatri commented on #915
Most of the customers are using custom ports, but I am not sure how many of them use VIC. @clouderati  ?

[2019-01-23 13:14] stuclem commented on #869
OK, thanks @zjs

[2019-01-23 13:17] stuclem commented on #2300
Fixed in https://github.com/vmware/vic-product/pull/2310

[2019-01-23 13:17] #2300 closed

[2019-01-24 08:26] dukesrg opened #2317 "Wrong vIC Plugin network source in Network diagram"
#### Summary
The network diagram in Ports and Protocols section
https://vmware.github.io/vic-product/assets/files/html/1.5/vic_vsphere_admin/network_reqs.html#
contains wrong network path from vCenter to vIC: vIC Plugin actually runs in client browser, so arrow with https (tcp:8443) must be originated from the Cloud admin, but not vCenter.

#### Details

##### Section reference(s)

##### Product v

[2019-01-24 16:53] dukesrg commented on #2317
Another not mentioned network flow is from VCH Management interface to vIC 443 & 8282

[2019-01-25 12:39] stuclem opened #2319 "Document that proxies are used for docker login"
Per internal bug:

The documentation below says "The proxy is used only when pulling images, and not for any other purpose."
https://vmware.github.io/vic-product/assets/files/html/1.4/vic_vsphere_admin/vch_proxy.html
https://vmware.github.io/vic-product/assets/files/html/1.5/vic_vsphere_admin/vch_proxy.html

However, the proxy is also used when customers connect to the private registry harbor via

[2019-01-28 23:21] hickeng commented on #1184
There was a reason the OVA was marked as managed by - I don't recall precisely what that was. It may have been to allow the UI plugin to discover the OVA due to not having access to the tag API.
Noted here because simply removing the managedBy reference may not be viable as an isolated piece of work.

[2019-01-28 23:31] hickeng commented on #1254
The endpointVM checks all deployed OVAs and, if it finds itself in a project, links itself to that project.
This is part of the `content trust` implementation.

vic-machine should look for the dynamic config that is persisted when linked, rather than trying to query the OVA directly - this prevents the user from needed to specify additional certificate thumbprints, etc.

[2019-01-28 23:31] zjs commented on #1287
The process has been significantly improved. Additional improvements can be tracked separately.

[2019-01-28 23:31] #1287 closed

[2019-01-28 23:31] #1290 closed

[2019-01-28 23:32] zjs commented on #1319
Related: #1172.

[2019-01-28 23:38] hickeng commented on #1334
guide is https://github.com/vmware/vic-product/blob/master/installer/docs/SUPPORT.md

[2019-01-28 23:39] #1343 closed

[2019-01-28 23:40] hickeng commented on #1350
Re-open if still a problem - 1.5.0 made significant changes to the way the images are authored when support for custom ISOs was added.

[2019-01-28 23:41] zjs commented on #1353
@lgayatri, is this issue still relevant?

[2019-01-28 23:41] zjs commented on #1364
It's not clear what this issue tracks.

[2019-01-28 23:42] zjs commented on #1366
It's not clear what this issue tracks.

[2019-01-28 23:42] #1366 closed

[2019-01-28 23:42] zjs commented on #1364
It's not clear what this issue tracks.

[2019-01-28 23:42] #1364 closed

[2019-01-28 23:42] zjs commented on #1367
It's not clear what this issue tracks.

[2019-01-28 23:42] #1367 closed

[2019-01-28 23:42] #1369 closed

[2019-01-28 23:43] zjs commented on #1373
It's not clear what this issue tracks.

[2019-01-28 23:43] #1373 closed

[2019-01-28 23:43] hickeng commented on #1374
Completed by @yuyangbj - I do not recall the PR or issue.

[2019-01-28 23:43] #1374 closed

[2019-01-28 23:44] zjs commented on #1377
It's not clear what this epic tracks.

[2019-01-28 23:44] #1377 closed

[2019-01-28 23:45] zjs commented on #1396
No longer seeing these network reliability issues.

[2019-01-28 23:45] #1396 closed

[2019-01-28 23:46] zjs commented on #1398
This has been improved. If further improvements are needed, they should be tracked as new issues.

[2019-01-28 23:46] #1398 closed

[2019-01-28 23:47] zjs commented on #1399
Closing as all child issues have closed. (Note: This does not mean that CI is stable; additional issues exist in other epics.)

[2019-01-28 23:47] #1399 closed

[2019-01-28 23:47] zjs commented on #1411
Closing as it is not clear that this is needed given the current product direction. This can be reopened if needed.

[2019-01-28 23:47] #1411 closed

[2019-01-28 23:49] zjs commented on #1412
Closing as it is not clear that this is needed given the current product direction. This can be reopened if needed.

[2019-01-28 23:49] #1412 closed

[2019-01-28 23:49] zjs commented on #1413
Closing as it is not clear that this is needed given the current product direction. This can be reopened if needed.

[2019-01-28 23:49] #1413 closed

[2019-01-28 23:57] hickeng commented on #1506
Closing. Current team can decide how they wish to enhance CI infrastructure.

[2019-01-28 23:57] #1506 closed

[2019-01-28 23:58] zjs commented on #1507
It would be best to track work like this elsewhere.

[2019-01-28 23:58] #1507 closed

[2019-01-29 00:01] zjs commented on #1532
This would make it easier to grow the disks and filesystem to, e.g., provide more disk space to Harbor without needing to interrupt service. (However, it does increase the complexity of backup/restore.)

[2019-01-29 00:08] zjs commented on #1585
This is either done or no longer relevant.

[2019-01-29 00:08] #1585 closed

[2019-01-29 00:10] #1643 closed

[2019-01-29 00:13] zjs commented on #1670
We should also ensure that the OVA's own hostname is put in the hosts file, to avoid depending on DNS to resolve it.

[2019-01-29 00:16] zjs commented on #1707
@reasonerjt, has this been fixed?

[2019-01-29 00:32] #1837 closed

[2019-01-29 00:34] hickeng commented on #1845
Suggest converting all checks like this to a keyword that gets it correct. We found multiple instances where this flawed logic (the IP address can have `200` in it as can various other portions of the curl output)

[2019-01-29 00:38] hickeng commented on #1929
This should be checked to see if H5 still shows the behaviour and fixed for 1.5.1. We should not be forcing use of the flex client to deploy OVAs.

[2019-01-29 00:44] hickeng commented on #2073
This approach of retrying tests and masking failures is _going_ to result in escapes eventually. If this is still an issue then more effort needs to be invested in improving the stability of individual tests and test steps.

[2019-01-29 00:48] zjs commented on #2119
Closing due to lack of activity.

[2019-01-29 00:48] #2119 closed

[2019-01-29 00:50] zjs commented on #2137
@lazarin: Is this still a problem or can this issue be closed?

[2019-01-29 00:53] #2138 closed

[2019-01-29 00:53] zjs commented on #2138
Issue moved to [vmware/vic #8456](https://github.com/vmware/vic/issues/8456) via [**ZenHub**](https://www.zenhub.com/)

[2019-01-29 10:25] reasonerjt commented on #1707
@zjs  given we don't see permission issue in VIC 1.5 I believe this has been fixed.  Closing.

[2019-01-29 10:25] #1707 closed

[2019-01-30 08:16] lazarin commented on #2137
@zjs we'll check it and work on if still reproducible

[2019-01-30 10:52] stuclem opened #2321 "docker run --label supported?"
@malikkal commented on [Fri Dec 14 2018](https://github.com/vmware/vic/issues/8412)

As per documentation [here](https://vmware.github.io/vic-product/assets/files/html/1.4/vic_app_dev/container_operations.html), it seems docker run --label is not supported. However, in practice it does seem to work. Please see below.

`docker run -itd --net=blah01 --label="traefik.enable=true" --label="traefik.fro

[2019-01-31 14:46] #2321 closed

[2019-02-01 21:00] schindlerd opened #2323 "vSphere Integrated Container Appliance Proxy Configuration"
#### Summary

Add proxy configuration support for VIC appliance.

#### User statement(s)

It would be great to have some proxy configuration support for VIC appliance itself so that for example Clair can sync its vulnerability database over the proxy and without direct firewall access to the different URLs.

#### Details

We would like to prevent allowing direct firewall access for VIC appliance t

[2019-02-05 07:08] lazarin commented on #2137
with latest vic-dev image that's fixed, @AleksandrovaP has pushed a fix

[2019-02-06 13:21] tschwaller opened #2324 "[Feature Request] Add Harbor external storage configuration in VIC appliance"
As an administrator I would like to configure external storage for the Harbor registry when deploying the VIC OVA (e.g. NFS Server, AWS S3, etc.), similar to how this is done with the Harbor Tile for VMware PKS. External  storage gives the administrator better management capabilities.

![image](https://user-images.githubusercontent.com/6458940/52344012-ef5e6280-2a19-11e9-9815-7ea12c5fa72e.png)

If

[2019-02-07 09:36] Jurgen-Allewijn opened #2325 "DNS port requirements"
#### Summary

DNS requirements is missing under Ports and Protocols in Deployment requirements

#### Details

DNS ports also need to be opened for the installation of the appliance to work.

##### Section reference(s)

https://vmware.github.io/vic-product/assets/files/html/1.5/vic_vsphere_admin/network_reqs.html#ports
##### Product version(s)
I missed it version 1.5 but I didn't see it in older ve

[2019-02-12 06:50] DanielXiao opened #2326 "There are unused files in cache folder"
#### Summary

Before exporting disks of OVA, below files under /etc/cache should be cleaned up to release disk space.
harbor-offline-installer-vx.x.x-build.xxxx.tgz
vic_xxxxx.tar.gz
vic_ui_xxxx.tar.gz

##### VIC Appliance version

1.5.0

##### Expected behavior

Remove them to reduce disk space for OVA.

[2019-02-12 07:54] #2286 closed

[2019-02-12 23:08] #2137 closed

[2019-02-12 23:15] zjs commented on #2178
This must have been done; closing.

[2019-02-12 23:15] #2178 closed

[2019-02-12 23:19] #2197 closed

[2019-02-12 23:19] zjs commented on #2197
Issue moved to [vmware/vic #8464](https://github.com/vmware/vic/issues/8464) via [**ZenHub**](https://www.zenhub.com/)

[2019-02-12 23:23] zjs commented on #2248
Note: https://github.com/vmware/vic-ui/issues/652#issuecomment-450800619 suggests that support will be included in 1.5.1, not 1.5.0.

[2019-02-12 23:31] zjs commented on #2278
@renmaosheng: It looks like this issue from a month ago has not yet been triaged.

[2019-02-12 23:34] zjs commented on #2316
Related: #2132

[2019-02-12 23:36] zjs commented on #2317
@renmaosheng: It looks like this issue from last month has not been triaged.

[2019-02-12 23:36] zjs commented on #2323
@renmaosheng: It looks like this issue from Feb 1 has not been triaged.

[2019-02-12 23:38] zjs commented on #2324
@renmaosheng: It looks like this issue has not been triaged. It may be related to or a duplicate of #1879.

[2019-02-12 23:38] zjs commented on #2325
@renmaosheng: It looks like this issue has not been triaged.

[2019-02-12 23:45] zjs commented on #510
Perhaps this would be more appropriate for a KB (or iKB) as there's no user-friendly container debug logging.

[2019-02-12 23:45] #1350 closed

[2019-02-13 08:58] stuclem commented on #2317
Thanks @dukesrg and @renmaosheng. I'll look into this.

[2019-02-13 09:00] stuclem commented on #2325
Thanks @Jurgen-Allewijn and @renmaosheng. I'll look into this.

[2019-02-13 09:02] stuclem commented on #1587
@vidya-v can you please take a look at this one? Thanks!

[2019-02-13 09:04] stuclem commented on #1827
@vidya-v can you please take a look at this one? Details are in https://github.com/vmware/vic/issues/8015#issuecomment-395522974. Thanks!

[2019-02-13 09:08] stuclem commented on #2118
@vidya-v can you please take a look at this one? Thanks!

[2019-02-13 09:09] stuclem commented on #928
@vidya-v can you please take a look? This is quite a big one...

[2019-02-13 13:19] #2326 closed

[2019-02-14 02:47] luwang-vmware opened #2328 "Nightly cases got failure due to Disk quota exceeded"
We hit env setup failure in our vic-product nightly run. The failure is due to Disk quota exceeded.  We need to enhance our case to delete the build folder on the nimbus after each case run.

[2019-02-14 10:08] #2328 closed

[2019-02-14 13:46] schindlerd commented on #2323
The internally configured Clair update interval seems pretty high...

When the firewall is not opened we see about 100.000 denies per hour where it tries to access http://static.nvd.nist.gov! The other URLs (Oracle, Debian, Red Hat, etc.) are not queried that often.

When I look at https://github.com/coreos/clair/blob/master/config.yaml.sample the interval should be configurable. Is there a Clair

[2019-02-15 03:09] DanielXiao commented on #2079
This issue occurs frequently, should take a look at it. Docker daemon was not up on DCH:
[ova_integration_logs_6973_8323483dbf5f95713ac18601439c3308b0d666eb.zip](https://github.com/vmware/vic-product/files/2867679/ova_integration_logs_6973_8323483dbf5f95713ac18601439c3308b0d666eb.zip)

[code]

[2019-02-15 09:28] vidya-v commented on #2118
Documented in PR 2332

[2019-02-15 09:28] #2118 closed

[2019-02-18 05:21] #2079 closed

[2019-02-19 08:58] jitinkumar2018 opened #2340 "VCH deletion fails because it cannot find VCH vm"
**Bug Report Basic Information**
**REQUIRED**:

vCenter Server version: 6.7 U1
Embedded or external PSC: No
Filename of the OVA you deployed: vic-v1.5.1-6995-a6158aac.ova
How was the OVA deployed? ovftool
Does the VIC appliance recieve configuration by DHCP? No
What stage of the Appliance Lifecycle is the VIC appliance in? Application
Appliance Logs :
[vic_appliance_logs_2019-02-19-08-44-13.tar.gz

[2019-02-19 11:35] jitinkumar2018 commented on #2340
@renmaosheng @luwang-vmware

[2019-02-20 06:24] luwang-vmware opened #2342 "Add a new case of upgrading from vic-product 1.5.0 to 1.5.1"

[2019-02-22 06:30] luwang-vmware opened #2346 "Add new test scenario of using VC embeded linked mode in nightly run"
From 65U2 and 67 release, vsphere supports Embeded Linked mode. We need to add such scenario in our nightly run.

[2019-02-25 01:50] renmaosheng commented on #2120
@grekier please reopen if you still have issues. thanks.

[2019-02-25 01:50] #2120 closed

[2019-02-25 08:58] #2342 closed

[2019-02-26 06:43] vidya-v commented on #1587
Documented - PR [2334](https://github.com/vmware/vic-product/pull/2334)

[2019-02-26 06:43] #1587 closed

[2019-02-27 07:48] wjun commented on #2340
@jitinkumar2018 -f parameter will ignore container deletion failures and continue to delete VCH vm. You may not use -f option next time, and the vic-machine-linux command will stop when there is any error during container deletion. You can post vic-machine.log for that failed command to better understand why container deletion fails.

[2019-02-27 09:49] jitinkumar2018 commented on #2340
Thanks for the clarification @wjun.

[2019-03-01 06:47] jitinkumar2018 opened #2360 "Manual upgrade from 1.5.0 to 1.5.2 failed during Harbor Upgrade"
**Bug Report Basic Information**
**REQUIRED**:

vCenter Server version: 6.7 U1
Embedded or external PSC: No
Filename of the OVA you deployed: vic-dev-v1.5.2-rc1-7059-ac1d9122.ova
How was the OVA deployed? ovftool
Does the VIC appliance recieve configuration by DHCP? No
What stage of the Appliance Lifecycle is the VIC appliance in? Application
Appliance Logs :
[vic_appliance_logs_2019-03-01-06-40-2

[2019-03-01 07:54] DanielXiao commented on #2360
It seems the new appliance was registered to PSC, see `journalctl -u fileserver.service`
[code]

Harbor was stopped at  06:27:10, see upgrade.log
[code]
But it started again at 06:28:41:
[code]

[2019-03-01 08:06] #2257 closed

[2019-03-01 08:25] #2319 closed

[2019-03-01 10:16] jitinkumar2018 commented on #2360
Upgrade from 1.5.0 to 1.5.2 worked when I tried again with the same steps. Not sure what caused it to fail the first time.

[2019-03-05 09:35] vidya-v commented on #1827
Documented - [vmware/vic-product#2341](https://github.com/vmware/vic-product/pull/2341)

[2019-03-05 09:35] #1827 closed

[2019-03-05 09:59] stuclem opened #2365 "Document that changing the client network gateway is optional in UI"
Per https://github.com/vmware/vic-ui/pull/655.

[2019-03-05 10:02] stuclem opened #2366 "Document support for pkcs1 format private key in ui wizard"
Per https://github.com/vmware/vic-ui/pull/657

[2019-03-05 10:04] stuclem opened #2367 "Document that you can configure bridge network range smaller than /16"
Per https://github.com/vmware/vic/issues/3771 and https://github.com/vmware/vic/issues/3943.

[2019-03-05 10:05] stuclem opened #2368 "Document that you can set an absolute cVM limit per VCH"
Per https://github.com/vmware/vic/issues/6529

[2019-03-05 10:19] stuclem opened #2369 "Documentation: check doc impact of shared image store fix"
Check that the fix for https://github.com/vmware/vic/issues/8455 doesn't affect the docs on sharing the image store.

[2019-03-05 12:06] stuclem commented on #2369
Here's what we currently document about sharing an image store between VCHs:

---

By specifying a datastore folder, you can designate the same datastore folder as the image store for multiple VCHs. Only one VIC folder is created in the datastore, but it contains one vch_uuid/images folder for each VCH that you deploy. By creating one vch_uuid/images folder for each VCH, vSphere Integrated Contain

[2019-03-05 12:53] stuclem commented on #2366
@zhoumeina and @wjun, is this limited to the UI change in https://github.com/vmware/vic-ui/pull/657, or is there a change in the underlying implementation?

I ask because in the topic on VCH certificate requirements, we currently state that private keys should be in  PKCS#8 format if you use custom PKCS#1 server certificates for VCHs:

https://vmware.github.io/vic-product/assets/files/html/1.5/vic

[2019-03-06 09:46] luwang-vmware opened #2372 "Add a new check point in the OVA appliance upgrade"
The current OVA appliance upgrade case is doing upgrade.sh when the new OVA appliance is ssh-able. The automation need to wait till the service landing_server.service is in dead state.

root@localhost [ /etc/vmware/upgrade ]# systemctl status landing_server.service
● landing_server.service - VIC Appliance Landing Page Server
   Loaded: loaded (/lib/systemd/system/landing_server.service; enabled; v

[2019-03-06 11:21] #2368 closed

[2019-03-06 13:01] DanielXiao commented on #2369
@wjun @luwang-vmware I did the bug triage and didn't verify it, can you confirm the documentation?

[2019-03-06 13:03] #2360 closed

[2019-03-07 02:30] wjun commented on #2369
@stuclem Yes, I confirmed the fix does not affect this documentation.

[2019-03-07 07:51] stuclem commented on #2369
Thanks @wjun ! Closing this one.

[2019-03-07 07:51] #2369 closed

[2019-03-07 12:06] jitinkumar2018 opened #2375 "Containers will not get ip from NSX-T Logical switch to which DHCP server is attached to, if DNS is not specified in the DHCP server (although it's optional)"
@stuclem

#### Summary
While deploying containers by specifying the DHCP network in the docker run command (--network dhcpNetwork ) , containers will not receive DHCP ip and the command will time out if no DNS server is specified in the NSXT DHCP server.

#### Details

In NSXT (2.3.1) Manager, DHCP server is created with ip, subnet mask, default gateway and ip pool but DNS server is not specified

[2019-03-07 12:12] jitinkumar2018 commented on #2375
Thanks to @yuyangbj for pointing out the solution

[2019-03-07 14:25] stuclem commented on #2375
Thanks @jitinkumar2018 and @yuyangbj

[2019-03-08 02:27] wjun commented on #2366
I saw PKCS#1 is listed in the document link above already. Is this another document you mean? Basically, the underlying implementation does not change, and UI fixed to support PKCS#1 private keys which are supported from vic-machine command line already.

[2019-03-08 08:20] #2365 closed

[2019-03-11 08:00] #2367 closed

[2019-03-11 08:13] renmaosheng commented on #998
won't fix this one.

[2019-03-11 08:13] #998 closed

[2019-03-11 08:15] renmaosheng commented on #1929
we can deploy using html5. closing this.

[2019-03-11 08:15] #1929 closed

[2019-03-11 08:18] #2110 closed

[2019-03-11 08:34] renmaosheng commented on #2073
we have fixed the vic-product failure recently.

[2019-03-11 08:34] #2073 closed

[2019-03-11 08:36] renmaosheng commented on #2153
please close if this is already fixed. thanks.

[2019-03-11 09:39] stuclem commented on #2366
Thanks @wjun. In that case I don't think that we need any doc changes. Closing.

[2019-03-11 09:39] #2366 closed

[2019-03-12 02:47] renmaosheng commented on #2179
I will drive this in the bugzilla for Harbor. closing the github ticket.

[2019-03-12 02:47] #2179 closed

[2019-03-12 02:57] renmaosheng commented on #1810
@ading007 @luwang-vmware let's test this in 1.5.3 if there is any issue found, let's fix it.

[2019-03-12 03:01] renmaosheng commented on #1714
Lu, has we covered this in nsx-t scenario? thanks.

[2019-03-12 03:27] #1010 closed

[2019-03-13 02:09] #877 closed

[2019-03-13 02:37] luwang-vmware opened #2384 "Admiral web link does not show correctly after the OVA appliance gets a new DHCP address"
The issue is found in vic 1.5.1.

Steps:
1. Deploy a OVA appliance and power it on, which gets DHCP address, e.g. DCHP_IP1. Visit web page https://DHCP_IP1:9443 everything goes well, and admiral page can be showed expected after click 'Go to the vSphere Integrated Containers Management Portal'.

2.  OVA appliance is powered off for a few days.

3. Power the OVA appliance on and it gets a new DHCP

[2019-03-13 13:15] grekier commented on #2120
@renmaosheng Just to confirm that the above method works for me as well. Sorry about the late response.

[2019-03-18 02:20] DanielXiao opened #2390 "Remove staging and release stages in CI pipeline"
#### Summary

Staging and release make no difference with tagging build. Remove them from pipeline CI and generate release build by tagging.

[2019-03-18 03:11] wjun commented on #2340
It is consistent with current design.

[2019-03-18 03:11] #2340 closed

[2019-03-18 03:22] wjun commented on #2384
This is expected. Re-initialize from OVA VM's web page will resolve it.

[2019-03-18 03:22] #2384 closed

[2019-03-18 03:41] wjun commented on #2323
@reasonerjt Any possibility to set the Clair update interval? @schindlerd proxy configuration has been added since VIC 1.5.0.

[2019-03-18 03:51] DanielXiao opened #2391 "Allow user to add customized configuration for Admiral"
#### Summary

The custom.conf is overwritten each time the configure_admiral.sh script runs.

#### User statement(s)
As an Admiral user I want to add customized configurations and make them persistent.

[2019-03-18 11:43] schindlerd commented on #2323
@wjun Where can I configure such global proxy setting? I see that proxy setting scan be configured for VCHs but how would I configure it for the VIC appliance?

[2019-03-18 18:45] evilhamsterman commented on #2173
As an update I think I may have found part of the problem. The certificate was issued by our Active Directory CA and exported on a Windows system so the certificate had Windows line endings (\r\n vs just \n). It seems the Flash interface strips all the line endings but the HTML5 one does not and whatever scripts your using to process the certificates somehow convert he extra \r into whitespace. I

[2019-03-18 20:25] evilhamsterman commented on #2173
Disregard I tried again with cert files I ran through the `dos2unix` command and got the same result. Extra whitespaces added to the certificates this time causing my upgrade from 1.4.4 to 1.5.1 to fail

[2019-03-19 04:04] wjun commented on #2323
@schindlerd When you deploy ovf template from vsphere web client, you can fill http(s) proxy:
![image](https://user-images.githubusercontent.com/1091832/54579587-16f41200-4a3f-11e9-9c96-a7b90c23937b.png)

[2019-03-19 09:57] #2208 closed

[2019-03-19 17:55] schindlerd commented on #2323
Thanks @wjun our vSphere admins must have overlooked that - or may be because we started with VIC 1.4

[2019-03-20 03:52] luwang-vmware commented on #2173
The reason is that there is space in every 64 char in the certs/keys content which shows in appliance vApp options.

If there shows any space in the certs/key content, then Change the L43 in /etc/vmware/vic-appliance-tls.sh with   ****echo "$content" | sed -r 's/(-{5}BEGIN [A-Z ]+-{5})/&\n/g; s/(-{5}END [A-Z ]+-{5})/\n&\n/g' | sed 2's/ //g' | sed -r 's/.{64}/&\n/g; /^\s*$/d' | sed -r     '/^$/d' >

[2019-03-20 06:07] reasonerjt commented on #2323
@wjun there is a configuration in `harbor.cfg` to set the interval of the updaters in Clair:
https://github.com/goharbor/harbor/blob/master/make/harbor.cfg#L177

[2019-03-20 06:53] wjun commented on #2323
@schindlerd May I close this issue and use Clair to track that issue?

[2019-03-20 07:42] renmaosheng commented on #2372
the code is merged. please add the pull request then close.

[2019-03-20 08:55] luwang-vmware commented on #2372
PR is https://github.com/vmware/vic-product/pull/2362, the code change is in tests/resources/OVA-Util.robot.

[2019-03-20 08:55] #2372 closed

[2019-03-20 08:58] schindlerd commented on #2323
@wjun Please feel free to close this issue. Thanks a lot for your feedback guys!

[2019-03-20 10:18] #2323 closed

[2019-03-21 10:51] stuclem opened #2398 "Document how to upgrade appliance when using custom certs"
We need to update the upgrade procedures to make it clear that users must fill in the cert fields with the same cert info when they deploy the new appliance, before running the script.

We should also add a troubleshooting topic to instruct users who upgraded but did not fill in the cert fields that they need to edit the vApp settings.

Per email thread with @luwang-vmware.

[2019-03-21 10:55] stuclem opened #2399 "Document vic-machine configure --rollback"
Per https://github.com/vmware/vic/issues/8437.

[2019-03-21 10:59] stuclem opened #2400 "Document that appliance IP address in Summary tab is a clickable link"
Per PR https://github.com/vmware/vic-ui/pull/668#event-2218916985, which fixes https://github.com/vmware/vic-ui/issues/661.

[2019-03-21 11:01] stuclem commented on #2400
See also PR https://github.com/vmware/vic-ui/pull/667

[2019-03-22 07:18] #2346 closed

[2019-03-26 08:37] stuclem opened #2410 "Clarify doc about how to mount NFS shared volumes"
Per email thread with @dbarkelew @tschwaller and others, there is some confusion about how to mount an NFS share:

-----

it is confusing why we have two ways documented for providing an NFS Volume Store in VIC.

1)	[Mount an NFS Share Point in the VCH Endpoint VM](https://vmware.github.io/vic-product/assets/files/html/1.5/vic_vsphere_admin/vch_mount_nfsshare.html) Is this option maybe just for te

[2019-03-29 08:00] stuclem commented on #2399
From a comment by @wjun in PR https://github.com/vmware/vic/pull/8518#issuecomment-477843581:

@stuclem After this commit, we will update the documentation of https://vmware.github.io/vic-product/assets/files/html/1.5/vic_vsphere_admin/upgrade_vch_options.html related to "--rollback" part as something like below:
"Rolls a VCH back to its previous version, for example if upgrade failed. Before star

[2019-04-01 22:23] dnoliver opened #2413 "Cannot add host to Project: Error 500"
#### Summary
After following the documentation in https://vmware.github.io/vic-product/assets/files/html/1.5, I cannot add a host to a project.

Admiral cannot communicate with the VCH instance
VCH instance logs show errors while trying to stat datastore

#### Environment information
vSphere 6.7
Single ESXi host 6.7
vCenter Server appliance with embedded Platform controller 6.7
VIC 1.5
VCH deploye

[2019-04-02 17:36] dnoliver commented on #2413
This looks like a similar https://vmware.github.io/vic-product/assets/files/html/1.5/vic_vsphere_admin/ts_imagestore_error.html error. But in this case, the error message is different, and I did not assigned any container to run yet.

[2019-04-02 17:40] dnoliver commented on #2413
Nothing in the KB articles https://kb.vmware.com/s/global-search/%40uri#q=Error%20getting%20image%20store&t=Knowledge&sort=relevancy&f:@commonproduct=[vSphere%20Integrated%20Containers]

[2019-04-02 18:02] dnoliver commented on #2413
I have manually browser to the datastore1 folder, and created the images folder in there. At that point, the Docker Personality log reported success

[code]
But then I restarted the host, and my images folder previously created was removed again. Apparently, that folder is managed by the VCH host, and will run into the same problem after every reboot

[2019-04-02 18:11] dnoliver commented on #2413
After this workaround, I was able to add the host to the project! :)

[2019-04-02 18:27] dnoliver commented on #2413
But I am still having storage related problems. Trying to deploy a container in fails with the following error:

[code]

[2019-04-02 20:40] dnoliver commented on #2413
Tried destroying the VCH host created, and create a new one. I run into the same issue. I cannot add the host to a project because of the same error, and after applying the workaround it allows me to do it. But then, I cannot run a container into the host because of the same error in https://github.com/vmware/vic-product/issues/2413#issuecomment-479134653

[2019-04-03 03:32] wjun commented on #2413
@dnoliver We met the similar issues before when the VC user or the opsuser you use to create VCH do not have the privilege to create the datastore folder. Is that your case?

[2019-04-03 09:59] stuclem opened #2415 "Document that users can add customized configuration for Admiral"
Per https://github.com/vmware/vic-product/issues/2391.

[2019-04-03 10:01] stuclem opened #2416 "Document that 1.5.3 supports NSX-T 2.4"
Per https://github.com/vmware/vic/issues/8508

[2019-04-03 10:04] stuclem opened #2417 "Document support for Storage DRS clusters"
Per https://github.com/vmware/vic/issues/2729

[2019-04-03 10:04] stuclem commented on #1042
Looks like https://github.com/vmware/vic/issues/6675 is in 1.5.3

[2019-04-03 10:06] stuclem opened #2418 "Document support for completion sub-command"
Per https://github.com/vmware/vic/issues/8379.

[2019-04-03 10:07] stuclem commented on #938
https://github.com/vmware/vic-product/issues/667 is in 1.5.3.

[2019-04-03 10:12] stuclem opened #2419 "Check whether we documented that datacenter path cannot include &"
This is being fixed in 1.5.3 (in https://github.com/vmware/vic/issues/6203). Check whether we mention this issue anywhere in the docs.

[2019-04-03 10:13] stuclem opened #2420 "Document how to update container network via vic-machine configure"
Per https://github.com/vmware/vic/issues/6674

[2019-04-03 10:14] stuclem opened #2421 "Document support for proxy authentication"
Per https://github.com/vmware/vic/issues/7592

[2019-04-03 10:15] stuclem opened #2422 "Document that ugrade script now supports appliance FQDN"
Per https://github.com/vmware/vic-product/issues/1731

[2019-04-03 10:17] stuclem opened #2423 "Document the improved appliance backup procedure"
Back procedure will be improved in 1.5.3, per https://github.com/vmware/vic-product/issues/2108.

[2019-04-03 10:18] stuclem commented on #2423
This issue does not replace https://github.com/vmware/vic-product/issues/1896, which relates to improving the backup procedures for older releases.

[2019-04-03 10:22] stuclem opened #2424 "Document how to replace appliance certificates after deployment"
Per https://github.com/vmware/vic-product/issues/1810.

[2019-04-03 10:22] stuclem commented on #2424
Could be handled at the same time as https://github.com/vmware/vic-product/issues/2398

[2019-04-03 10:23] stuclem opened #2425 "Document that VIC appliance includes VMware CA"
Per https://github.com/vmware/vic-product/issues/2304. Might or might not require documentation.

[2019-04-03 10:26] stuclem opened #2426 "Document how to configure bridge network width"
Per https://github.com/vmware/vic/issues/8195. Not sure if this was covered in https://github.com/vmware/vic-product/issues/2367.

[2019-04-03 10:28] stuclem opened #2427 "Document that you can forward logs to syslog servers"
Per https://github.com/vmware/vic-product/issues/2208

[2019-04-03 10:29] stuclem opened #2428 "Document that vic-machine configure registry-ca replaces instead of adds certs"
Per https://github.com/vmware/vic/issues/8176

[2019-04-03 10:39] stuclem commented on #195
@renmaosheng is there any possibility that this might happen, or should we close this one?

[2019-04-03 10:47] stuclem commented on #2163
Looks like https://github.com/vmware/vic-ui/issues/506 is fixed.

[2019-04-03 10:48] stuclem commented on #1896
@renmaosheng do we still need to update the backup docs for 1.4.x releases, or has everyone upgraded to 1.5.x by now?

[2019-04-03 10:50] stuclem commented on #423
Looks like there's a gitbook plugin that could remedy this:
https://www.npmjs.com/package/gitbook-plugin-page-numbering

[2019-04-03 10:51] stuclem commented on #499
Looks like storage quotas for volume stores is coming in a future release. This issue is still valid.

[2019-04-03 10:52] stuclem commented on #80
Not in 1.5.x, but this issue is still valid.

[2019-04-03 10:53] stuclem commented on #90
Not in 1.5.x, but this issue is still valid.

[2019-04-03 10:54] stuclem commented on #98
Doesn't look like we're ever going to implement this. Closing. @renmaosheng please reopen if I'm wrong.

[2019-04-03 10:54] #98 closed

[2019-04-03 10:55] stuclem commented on #99
We already have a doc issue for potential improvements to `--force`. Closing this one.

[2019-04-03 10:55] #99 closed

[2019-04-03 10:56] stuclem commented on #197
This issue replaces https://github.com/vmware/vic-product/issues/99.

[2019-04-03 10:57] stuclem commented on #100
Not in 1.5.x but still valid.

[2019-04-03 10:58] stuclem commented on #131
Not in 1.5.x, but still valid.

[2019-04-03 10:58] stuclem commented on #222
Not in 1.5.x, but still valid.

[2019-04-03 11:02] stuclem commented on #332
Not in 1.5.x, but still valid.

[2019-04-03 11:03] stuclem commented on #297
@renmaosheng will this ever be implemented?

[2019-04-03 11:03] stuclem commented on #315
https://github.com/vmware/vic/issues/4744# is closed as will not fix. Closing.

[2019-04-03 11:03] #315 closed

[2019-04-03 11:04] stuclem commented on #506
Not in 1.5.x, but still valid.

[2019-04-03 11:10] stuclem commented on #327
@renmaosheng will this ever be implemented?

[2019-04-03 11:11] stuclem commented on #108
https://github.com/vmware/vic/issues/3490 is closed as invalid. Closing.

[2019-04-03 11:11] #108 closed

[2019-04-03 12:51] stuclem commented on #207
Not in 1.5.x, but still valid.

[2019-04-03 12:52] stuclem commented on #115
Not in 1.5.x, but still valid.

[2019-04-03 12:53] stuclem commented on #101
Not in 1.5.x, but still valid.

[2019-04-03 12:53] stuclem commented on #284
Not in 1.5.x, but still valid.

[2019-04-03 12:54] stuclem commented on #1009
Not in 1.5.x, but still valid.

[2019-04-03 12:55] stuclem commented on #331
Not in 1.5.x, but still valid.

[2019-04-03 12:55] stuclem commented on #86
@renmaosheng will this ever be implemented?

[2019-04-03 12:56] stuclem commented on #936
@renmaosheng will this ever be implemented?

[2019-04-03 12:58] stuclem commented on #1557
Not in 1.5.x, but still valid.

[2019-04-03 12:59] stuclem commented on #1558
Not in 1.5.x, but still valid.

[2019-04-03 13:00] stuclem commented on #1211
Not in 1.5.x, but still valid. To be revisited if/when we migrate the docs to docs.vmware.com

[2019-04-03 13:01] stuclem commented on #1556
Not in 1.5.x, but still valid.

[2019-04-03 13:01] stuclem commented on #930
@renmaosheng will this ever be implemented?

[2019-04-03 13:03] stuclem commented on #197
https://github.com/vmware/vic/issues/3118 is marked as will not fix. Closing.

[2019-04-03 13:03] #197 closed

[2019-04-03 13:04] stuclem commented on #2161
Not in 1.5.x, but still valid.

[2019-04-03 13:06] stuclem commented on #2166
This was fixed in https://github.com/vmware/vic-product/pull/2374.

[2019-04-03 13:06] #2166 closed

[2019-04-03 13:07] stuclem commented on #1946
https://github.com/vmware/vic/issues/3044 is closed as won't fix. Closing this one.

[2019-04-03 13:07] #1946 closed

[2019-04-03 13:08] stuclem commented on #93
Not in 1.5.x, but still valid.

[2019-04-03 13:09] stuclem commented on #2223
Not in 1.5.x, but still valid.

[2019-04-03 16:11] dnoliver commented on #2413
I followed this guide to create the vic-ops user https://vmware.github.io/vic-product/assets/files/html/1.5/vic_vsphere_admin/create_ops_user.html

In the https://vmware.github.io/vic-product/assets/files/html/1.5/vic_vsphere_admin/set_up_ops_user.html docs, I saw:

The operations user account must exist before you create a VCH. If you are deploying the VCH to a cluster, vSphere Integrated Contain

[2019-04-03 18:16] dnoliver commented on #2413
I have definitively a datastore permissions problem for my vic-ops user :) thank you for the hint @wjun

1. I am not using a cluster, deploying directly to a host. So VCH deployment do not help me with permissions
2. I went trough the manual permissions docs. I cannot guarantee that I did it correctly, given that there are several clicks to be done. in several places. Custom permissions applied to

[2019-04-03 21:28] dnoliver commented on #2413
I did the same deployment, but now using a cluster, and the problem is still there. I have to manually create the `images` folder to make the VCH host work for the first time, and I need to add administrative role to vic-user on the datastore to make a successful container deployment. So this permission problem happens regardless of doing a cluster or standalone host deployment

[2019-04-05 13:57] kkuphal commented on #2321
Is it possible set the label during provisioning in the VIC GUI or is this only supported from docker run?

[2019-04-08 06:41] wjun commented on #2413
I tried VCH create from CLI, and it works. Please note --user is an admin user. --ops-user must be combined with --ops-grant-perms so VCH can assign related permissions to this ops-user automatically.

[2019-04-08 06:48] wjun commented on #2321
@kkuphal No this (labels) is currently not supported in the VIC GUI, and only supported from docker run CLI.

[2019-04-08 09:50] stuclem opened #2429 "Document that Flex client plugin is not shipped with 1.5.2"
Per https://github.com/vmware/vic-product/pull/2330. Confirmed by @wjun (and seen by myself in the Flex client) that from 1.5.2 we no longer ship the Flex client plugin.

[2019-04-08 09:53] stuclem commented on #510
Moving this into the KB bucket.

[2019-04-08 09:54] renmaosheng commented on #1896
Hi Stuart, customers won't upgrade so aggressively, we still have 1.4.x customers. let's enhance our documents. thanks.

[2019-04-08 09:57] stuclem commented on #1896
@renmaosheng confirmed by Slack that we do need to make this update.

[2019-04-08 10:00] stuclem commented on #1896
This update has been made in the 1.5.x docs in https://github.com/vmware/vic-product/pull/2361. We need to port these changes into 1.4.x.

[2019-04-08 10:01] stuclem commented on #2051
No one else has asked for this.

[2019-04-08 10:01] #2051 closed

[2019-04-08 10:11] stuclem commented on #67
It doesn't look like specifying an inventory folder for a VCH is supported yet. Definitely not in the UI, and doesn't seem possible in `vic-machine`. Moving to Not Ready.

[2019-04-08 10:12] stuclem commented on #512
Not clear what this issue is about. Closing.

[2019-04-08 10:12] #512 closed

[2019-04-08 10:24] stuclem commented on #2163
Upped the severity as this is newly confirmed functionality.

[2019-04-08 10:25] stuclem commented on #2399
New feature in 1.5.3. Setting to severity 1.

[2019-04-08 10:25] stuclem commented on #2400
New functionality in 1.5.3. Setting to severity 1.

[2019-04-08 10:26] stuclem commented on #2410
Doc is currently misleading. Setting to severity 1.

[2019-04-08 10:27] stuclem commented on #2415
New functionality in 1.5.3. Setting to severity 1.

[2019-04-08 10:27] stuclem commented on #2416
New functionality in 1.5.3. Setting to severity 1.

[2019-04-08 10:28] stuclem commented on #2417
New functionality in 1.5.3. Setting to severity 1.

[2019-04-08 10:28] stuclem commented on #1042
New functionality in 1.5.3. Setting to severity 1.

[2019-04-08 10:29] stuclem commented on #2418
New functionality in 1.5.3. Setting to severity 1.

[2019-04-08 10:30] stuclem commented on #2419
Doesn't look like the docs mentioned that you can't include &, so probably not required.

[2019-04-08 10:30] #2419 closed

[2019-04-08 10:31] stuclem commented on #2420
New functionality in 1.5.3. Setting to severity 1.

[2019-04-08 10:31] stuclem commented on #2421
New functionality in 1.5.3. Setting to severity 1.

[2019-04-08 10:31] stuclem commented on #2422
New functionality in 1.5.3. Setting to severity 1.

[2019-04-08 10:32] stuclem commented on #2423
New functionality in 1.5.3. Setting to severity 1.

[2019-04-08 10:32] stuclem commented on #2424
New functionality in 1.5.3. Setting to severity 1.

[2019-04-08 10:33] stuclem commented on #2425
New functionality in 1.5.3. Setting to severity 1, but remains TBD whether we actually need to document this.

[2019-04-08 10:34] stuclem commented on #2426
Covered by https://github.com/vmware/vic-product/issues/2367.

[2019-04-08 10:34] #2426 closed

[2019-04-08 10:34] stuclem commented on #2428
New functionality in 1.5.3. Setting to severity 1.

[2019-04-08 10:35] stuclem commented on #2427
New functionality in 1.5.3. Setting to severity 1.

[2019-04-08 10:37] stuclem commented on #2161
Removing severity as this is not yet in a release.

[2019-04-08 10:38] stuclem commented on #2223
Removing severity as this is not yet in a release.

[2019-04-08 11:04] stuclem commented on #2248
This update needs to go into the 1.4.x docs, not in 1.5.x.

[2019-04-08 12:53] stuclem commented on #423
The plug-in above does not fix the issue with the TOC numbering. It seems that this is a well-known issue with Gitbook. Solution is not straightforward. No one else has complained. Closing.

[2019-04-08 12:53] #423 closed

[2019-04-08 16:30] dnoliver commented on #2413
Great @wjun, I have only tested this with the UI Wizard, where I think the `--user administrator@vsphere.local` is implicit (that is the user I use for log in into vCenter Server). I will give a shot to the CLI command to validate. Thanks!

[2019-04-08 20:57] dnoliver commented on #2413
@wjun I have validated the API approach, and I run into the same issue again.

The command used to deploy this VCH was

[code]

The command execution log is below:

[code]

At least this time I have an error! and not the silent error that the UI Wizard run. In the Docker personality log, I can see the same issue as before:

[code]

And I am sure the workaround still apply. If I create the `/images

[2019-04-09 00:02] cmbits commented on #2173
I ran into the same issue with vCenter 6.7.0.1150 build 9433921 and VIC version 1.5.2-7206.  I tried 20 deployments of the ova using different certificate formats through the HTML5 vcenter interface and I would typically get the following error; "java.lang.IllegalArgumentException: Illegal base64 character 20".  After reading this I tried the vCenter flex interface and the deployment worked just f

[2019-04-09 03:19] wjun commented on #2413
@dnoliver  I tried various combinations of ops-user and datastores, and cannot reproduce in my local env. Could you post your portlayer.log as well where there should be error messages related to images directory creation failure? Another option is to remove --ops-user and --ops-grant-perms during VCH create first.

[2019-04-09 16:35] dnoliver commented on #2413
Ok, will try to share the portlayer.log file.

The only special thing about my installation is that it is using VM Encryption. I have a KMS, and encryption storage policy, and a couple of encrypted VMs running in the same host. Is that something relevant to this issue?

[2019-04-11 03:03] #2153 closed

[2019-04-11 05:40] #2173 closed

[2019-04-11 08:20] #2249 closed

[2019-04-15 07:49] stuclem opened #2436 "Additional information for the upgrade docs"
From an internal Bugzilla bug (2326316):

---

I am currently taking the VIC training, and noticed that our documentation is fairly nebulous when discussing the readiness of a newly deployed appliance when upgrading.  I believe the proposed documentation changes would make it easier for customers to validate when the new appliance is ready to begin the upgrade process.

Link: https://vmware.github

[2019-04-15 09:08] #928 closed

[2019-04-15 09:44] stuclem commented on #2248
Fixed in https://github.com/vmware/vic-product/pull/2430

[2019-04-15 13:47] stuclem commented on #1896
Updated 1.4 docs are live: https://vmware.github.io/vic-product/assets/files/html/1.4/vic_vsphere_admin/backup_vic_appliance.html

[2019-04-15 13:47] #1896 closed

[2019-04-15 20:58] wjun opened #2443 "OVA deploy wizard allows for passwords longer than the 30 character limit of the plugin installer which causes the installer to fail"
The OVA allows and instructions say passwords of a length 128 characters can be used. However this then fails to install the plugin due to 30 character limit.

Bugzilla#2327306

[2019-04-15 23:38] #2443 closed

[2019-04-15 23:42] wjun commented on #2443
@stuclem The bugzilla#2327306 found OVA intallers allows the password to be 128 at maximum, so we need to update the ova-product's initialization web page to support 128 at maximum as well. Thanks.

[2019-04-16 07:31] stuclem opened #2447 "Document that appliance password can be 128 characters"
Per https://github.com/vmware/vic-product/issues/2443. This applies to https://vmware.github.io/vic-product/assets/files/html/latest/vic_vsphere_admin/deploy_vic_appliance.html, in 1.5.3 onwards.

[2019-04-16 07:32] stuclem commented on #2443
Thanks @wjun. I opened https://github.com/vmware/vic-product/issues/2447 for the doc update.

[2019-04-16 09:00] #2429 closed

[2019-04-16 11:38] rborhara commented on #1328
Im seeing "Installation failed: Failed to register with PSC. Please check the PSC settings provided and try again"this error but im running vCenter 6.0 U3 ,

there is no external PSC on my install its still on windows

[2019-04-16 12:24] kkuphal opened #2448 "Bridge network DNS resolution is slow"
#### Summary
Bridge network using VCH in resolv.conf is slow.  In particular, this was evident using maridb/mysql with phpmyadmin.  phpmyadmin is severely degraded performing operations over the bridge network by hostname.

#### Environment information

##### vSphere and vCenter Server version
vCenter 6.5.0.23000
vSphere 6.5.0, 11925212

##### VIC Appliance version
vic-v1.5.2-7206-92ebfaf5

#####

[2019-04-17 10:55] luwang-vmware commented on #1810
We manually tested in internally already and it works as expected.

[2019-04-17 10:59] #1810 closed

[2019-04-23 13:47] #2398 closed

[2019-04-23 13:51] stuclem commented on #2436
Fixed in https://github.com/vmware/vic-product/pull/2441

[2019-04-23 13:51] #2436 closed

[2019-04-24 08:39] stuclem commented on #2163
Per conversation with @luwang-vmware, this is for 1.5.3.

[2019-04-25 10:19] stuclem commented on #2163
Actually, @luwang-vmware says that this is for 1.5.4.

[2019-04-25 10:21] stuclem commented on #2375
@vidya-v can you please take a look at this one?

[2019-04-25 12:28] stuclem commented on #2410
@vidya-v I believe that @lgayatri worked on the NFS implementation. Can you please look into this one with her and @jitinkumar2018 ?

[2019-04-25 12:29] stuclem commented on #987
I think that this is something that we definitely help from dev on. @yuyangbj can you please provide the information requested in https://github.com/vmware/vic-product/issues/987#issuecomment-456616708 above? Thanks!

[2019-04-25 12:36] stuclem commented on #2317
@renmaosheng can you please confirm whether the following statement is accurate?

"The network diagram in Ports and Protocols section
https://vmware.github.io/vic-product/assets/files/html/1.5/vic_vsphere_admin/network_reqs.html#ports-and-protocols-
contains wrong network path from vCenter to vIC: vIC Plugin actually runs in client browser, so arrow with https (tcp:8443) must be originated from th

[2019-04-25 12:38] stuclem commented on #2325
@renmaosheng can you please confirm that the following statement is accurate?

"DNS requirements is missing under Ports and Protocols in Deployment requirements. DNS ports also need to be opened for the installation of the appliance to work."

[2019-04-25 12:39] stuclem commented on #432
@vidya-v I think that we have the required information for this one. Can you please take a look?

[2019-04-25 12:43] dukesrg commented on #2317
@stuclem All of my statements above was checked on the working configuration with network isolation - I can definitely see what really happens in NSX DFW logs.

[2019-04-25 13:08] stuclem commented on #2317
Thanks for confirming @dukesrg. The cloud admin and the vSphere admin are not necessarily the same person, though. So, do you think that we need a new box for connections to the appliance from the vSphere Client?

[2019-04-25 14:36] dukesrg commented on #2317
@stuclem Yes it looks like admin and developer access arrows should be explicitly split with client apps.

[2019-04-26 05:43] jitinkumar2018 commented on #2410
As of now, we have only tested specifying the volume store during VCH creation in the following manner:
--volume-store CPBU_2TB_02/vchvolumes/:backed-up-encrypted ,
where CPBU_2TB_02 is the name of the NFS datastore that is mounted on all the ESXi hosts in the cluster.

We have not tried mounting the NFS Volume Store using :
" --volume-store nfs://nfs_server/path_to_share_point:default"

In order

[2019-04-26 10:33] jitinkumar2018 opened #2454 "Automatic Upgrade fails from 1.5.0 to 1.5.2 if you specify the parameters in the command line options"
Bug Report Basic Information
REQUIRED:

vCenter Server version: 6.7 U2  (Might be interop bug)
Embedded or external PSC: Embedded
Filename of the OVA you deployed: vic-v1.5.2-7206-92ebfaf5.ova
How was the OVA deployed? ovftool
Does the VIC appliance recieve configuration by DHCP? No
What stage of the Appliance Lifecycle is the VIC appliance in? Upgrade

Bug Report Detailed Information
What operati

[2019-04-29 04:52] jitinkumar2018 commented on #2454
@DanielXiao @luwang-vmware

[2019-04-29 11:27] jitinkumar2018 commented on #2410
Hi @stuclem @vidya-v,
I verified the two steps mentioned in the docs about

1) Mount an NFS Share Point in the VCH Endpoint VM
2)Specify Volume Datastores

The First step is used to check if the VCH vm (NFS client) can use/communicate with the NFS server.
If this step is successful, then the VCH can be configured to create a volume store backed up by this NFS server by specifying the NFS share poi

[2019-04-29 11:40] jitinkumar2018 opened #2455 "Mount command used to mount an NFS share point from within VCH vm is incorrect"
Section : Mount an NFS Share Point in the VCH Endpoint VM (https://vmware.github.io/vic-product/assets/files/html/1.5/vic_vsphere_admin/vch_mount_nfsshare.html)

In the Procedure section, the final command which is used to mount the NFS share point should be:
mount.nfs nfs_sharepoint_url -o vers=3
instead of
mount -t nfs nfs_sharepoint_url -o vers=3

[2019-04-29 11:53] jitinkumar2018 commented on #2455
@stuclem @vidya-v

[2019-04-29 12:04] stuclem commented on #2410
Related: https://github.com/vmware/vic-product/issues/2455

These two can be addressed at the same time.

[2019-05-05 09:57] wjun commented on #2454
Please try --upgrade-ui-plugin without "n"

[2019-05-06 06:56] renmaosheng commented on #2317
Yes, the VIC ui plugin is part of vCenter, it will call the APIs of VIC appliance to manipulate VCHs

[2019-05-06 06:58] jitinkumar2018 commented on #2454
It worked when i removed the n. But that means the upgrade script will upgrade the UI plugin right?

[2019-05-06 07:21] stuclem opened #2456 "Add missing OS download links"
@alexrjs commented on [Fri Apr 26 2019](https://github.com/vmware/vic/issues/8540)

#### Question
Is it possible that some of the links on https://vmware.github.io/vic-product/assets/files/html/1.5/vic_vsphere_admin/download_vic.html are outdated?

I found these outdated links

- https://console.cloud.google.com/storage/browser/vic-engine-builds,
- https://console.cloud.google.com/storage/browser/

[2019-05-06 08:26] YanzhaoLi commented on #2455
@jitinkumar2018  The `mount` manual doc says `mount -t nfs` will call `mount.nfs`.

[2019-05-06 08:51] jitinkumar2018 commented on #2455
root@ [ ~ ]# mount -t nfs
-bash: mount: command not found
root@ [ ~ ]# mount.nfs
mount.nfs: no mount point provided
usage: mount.nfs remotetarget dir [-rvVwfnsh] [-o nfsoptions]
options:
        -r              Mount file system readonly
        -v              Verbose
        -V              Print version
        -w              Mount file system read-write
        -f              Fake mount, do

[2019-05-07 06:22] luwang-vmware opened #2457 "update vic-product upgrade scripts to support update path from 1.5.2 to 1.5.3"
Need to update vic-product scripts to support upgrade path from 1.5.2 to 1.5.3. And also add new case in vic-product scenario testing.

[2019-05-08 05:41] wjun commented on #2454
Yes, in the script mode.

[2019-05-08 05:41] #2454 closed

[2019-05-09 09:21] stuclem opened #2460 "Corrections required in Certificate Requirements doc"
Per internal VMware bug 2339700.

[2019-05-10 07:19] #2375 closed

[2019-05-10 07:20] #941 closed

[2019-05-10 09:15] #432 closed

[2019-05-14 07:46] reasonerjt commented on #1863
@vidya
AFAIK there's no restriction one project cannot **store** the signed and unsigned images.
The only restriction is that if project admin enables the "content trust" policy, only signed image can be pulled.

[2019-05-14 08:00] lazarin opened #2465 "Document improvement for deleting application"
#### Summary

Last week Jonathan reached out to me with question about deleting application through management console. The behaviour is that when an external volume is attached to the application then upon application delete the volume is preserved and not deleted. If the template creates new volume, then this volume is deleted together with the whole application.
He was not able to find it and w

[2019-05-14 15:46] #2455 closed

[2019-05-14 21:24] stuclem opened #2468 "Document how to expose ports on container networks"
Per internal bug 2343112, from @dbarkelew:

The documentation is not clear on how to open ports on container networks when using published firewall policy. Would be an improvement to mention to use the expose option with docker compose. I believe the docker client has expose as well but did not have a chance to test if that is needed like with docker compose.

Documentation link.
https://vmware.gi

[2019-05-15 08:48] vidya-v commented on #1863
Thanks @reasonerjt , I have updated the document (PR: vmware/vic-product#2467)

[2019-05-16 01:59] #2457 closed

[2019-05-16 07:05] #2447 closed

[2019-05-16 07:06] #1863 closed

[2019-05-17 04:59] vidya-v commented on #2410
Documented  and merged https://github.com/vmware/vic-product/pull/2462

[2019-05-17 04:59] #2410 closed

[2019-05-23 08:07] stuclem opened #2472 "Document vic-machine configure --tls-ca"
Per https://github.com/vmware/vic/pull/8535

`vic-machine configure` now includes a `--tls-ca` option. We need to remove the note from https://vmware.github.io/vic-product/assets/files/html/1.5/vic_vsphere_admin/configure_vch.html#update-security-configuration-- that states that this option doesn't exist, describe it (works the same as its `vic-machine create` equivalent), and add it to the exampl

[2019-05-27 08:23] stuclem commented on #2423
Not in 1.5.3

[2019-05-28 03:59] #2422 closed

[2019-05-28 04:07] #2428 closed

[2019-05-28 07:46] renmaosheng commented on #2126
please let us know if you still hit the issue.

[2019-05-28 07:46] #2126 closed

[2019-05-28 07:48] renmaosheng commented on #2108
we have already updated the back/restore document in 1.5.1, please reopen if the newer version doesn't work.

[2019-05-28 07:48] #2108 closed

[2019-05-28 07:52] renmaosheng commented on #1731
Stuart, we don't plan to fix this.  @stuclem

[2019-05-29 09:22] jitinkumar2018 opened #2477 "Admiral fails to load after successful upgrade from 1.4.4 to 1.5.3 RC1"
Bug Report Basic Information
REQUIRED:
vCenter Server version: 6.5p03
Embedded or external PSC: No
Filename of the OVA you deployed:
1)vic-v1.4.4-6375-0a6da3d4
2)vic-dev-v1.5.3-rc1-7401-2e3e0b5d

How was the OVA deployed? ovftool
Does the VIC appliance recieve configuration by DHCP? No
What stage of the Appliance Lifecycle is the VIC appliance in? Application

Bug Report Detailed Information
After

[2019-05-29 10:39] stuclem commented on #2472
@vidya-v this is definitely in 1.5.3.

[2019-05-29 10:40] stuclem commented on #2427
@vidya-v this is definitely in 1.5.3.

[2019-05-29 10:41] stuclem commented on #2425
This has been pushed to 1.5.4.

[2019-05-29 10:41] stuclem commented on #2424
@vidya-v this is definitely in 1.5.3.

[2019-05-29 10:42] stuclem commented on #2421
Pushed out to 1.5.4.

[2019-05-29 10:43] stuclem commented on #2420
Not in 1.5.3.

[2019-05-29 10:43] stuclem commented on #2418
Pushed out to 1.5.4

[2019-05-29 10:44] stuclem commented on #2417
Pushed to 1.5.4.

[2019-05-29 10:44] stuclem commented on #2416
@vidya-v this is definitely in 1.5.3.

[2019-05-29 10:45] stuclem commented on #2415
Pushed out to 1.5.4

[2019-05-29 10:46] stuclem commented on #2399
@vidya-v this is definitely in 1.5.3.

[2019-05-29 10:47] stuclem commented on #2165
@vidya-v it looks like this is still in 1.5.3, but should be confirmed.

[2019-05-29 10:48] stuclem commented on #1042
Not in 1.5.3

[2019-05-29 10:49] stuclem commented on #938
Pushed out to 1.5.4.

[2019-05-29 10:53] stuclem commented on #2248
Actually, this needs to be updated to state that only 1.5.3 supports vSphere 6.7u2.

[2019-05-30 10:13] #2400 closed

[2019-05-30 10:59] jitinkumar2018 opened #2480 "Docker stats showing incomplete results when executed from docker client"
Bug Report Basic Information
REQUIRED:
vCenter Server version: 6.5p03
Embedded or external PSC: No
Filename of the OVA you deployed:
vic-dev-v1.5.3-rc1-7401-2e3e0b5d

How was the OVA deployed? ovftool
Does the VIC appliance receive configuration by DHCP? No
What stage of the Appliance Lifecycle is the VIC appliance in? Application

Bug Report Detailed Information
While executing docker -H <vch-ip>

[2019-05-30 11:07] jitinkumar2018 commented on #2480
@wjun @lgayatri

[2019-05-31 07:06] jitinkumar2018 commented on #2480
Was using a higher version of the docker client than supported. Closing bug

[2019-05-31 07:06] #2480 closed

[2019-06-03 08:20] jitinkumar2018 commented on #2477
Closing. Unable to reproduce the bug

[2019-06-03 08:20] #2477 closed

[2019-06-04 05:58] renmaosheng commented on #2315
we are depending on patches from photon os, moving to next version to fix.

[2019-06-06 06:20] #2399 closed

[2019-06-06 08:47] #2416 closed

[2019-06-11 06:04] #2427 closed

[2019-06-11 06:45] #2248 closed

[2019-06-11 07:33] #2472 closed

[2019-06-11 08:19] #2424 closed

[2019-06-17 15:18] stuclem opened #2492 "Document that vic-machine must have access to client network"
From internal email exchange:

This issue is due to 2 problems : 1 in the code, 1 in the documentation.
- The code fix is explained in PR 2364361 #1, in order to fix the naming of the Management interface. Without this, the Management interface is not correctly configured, and cannot be used as such, and the Communication with the vSphere environment is done using the Client interface.
- The docum

[2019-06-18 06:28] jitinkumar2018 opened #2495 "Upgrade from VIC 1.5.2 to 1.5.3 RC3 fails during registration of appliance with VC"
Bug Report Basic Information
REQUIRED:

vCenter Server version: 6.7 U2
Embedded or external PSC: Embedded
Filename of the OVA you deployed: vic-v1.5.3-rc3-7486-30200689.ova
How was the OVA deployed? ovftool
Does the VIC appliance recieve configuration by DHCP? No
What stage of the Appliance Lifecycle is the VIC appliance in? Upgrade

Bug Report Detailed Information
What operation was being perform

[2019-06-19 03:42] DanielXiao commented on #2495
Error logs:
[code]

[2019-06-19 03:48] DanielXiao commented on #2495
@jitinkumar2018 please check if time is synched between VC and VIC appliance.

[2019-06-19 10:47] jitinkumar2018 commented on #2495
Upgrade worked after redeploying scale and verifying whether VIC appliance time is synced with the VC before running upgrade. Thanks @DanielXiao. (Reason: NTP service had stopped on the ESXi on which VC was running on)

[2019-06-19 10:47] #2495 closed

[2019-06-27 08:33] #2492 closed

[2019-07-30 09:45] renmaosheng commented on #2390
we have a steady process to generating the rc, ga build now. closing this.

[2019-07-30 09:45] #2390 closed

[2019-07-30 09:46] renmaosheng commented on #2315
this is a tracking PR, we will update photon os package before each of release.

[2019-07-30 09:50] renmaosheng commented on #810
we are not going to upgrade the vic-engine version, but we may bump up the DCN version due to some security requirement, keep this bug open for tracking purpose on 1.5.4.

[2019-07-30 09:53] renmaosheng commented on #667
Hi Stuart, we don't plans to fix this in 1.5.4 and future release as it has a workaround available.

[2019-08-13 20:29] dbarkelew commented on #2108
@renmaosheng I don't see that improvements have been implemented particularly around backing up and restoring the ovfenv values to the VIC Appliance VM. Should this still be open for that?

[2019-08-22 09:24] stuclem commented on #938
According to @renmaosheng in https://github.com/vmware/vic-product/issues/667#issuecomment-516350869 this won't be fixed, but there is a workaround that requires documentation.

[2019-08-22 09:31] stuclem commented on #195
Beijing team has been good at adding the `impact/doc/user` flag to issues, so I think that this is now unnecessary.

[2019-08-22 09:31] #195 closed

[2019-08-22 09:33] stuclem commented on #2418
Per @renmaosheng in https://github.com/vmware/vic/issues/8379#issuecomment-516352585, this will not be fixed.

[2019-08-22 09:33] #2418 closed

[2019-08-22 09:35] stuclem commented on #2417
Not in 1.5.4

[2019-08-22 09:41] stuclem commented on #2165
Not in 1.5.4 so moving to Backlog.

[2019-08-22 09:42] stuclem commented on #2213
Looks like

[2019-08-22 09:43] stuclem commented on #2213
https://github.com/vmware/vic-planning/issues/115 is not in 1.5.4, so moving this to Backlog.

[2019-08-22 09:44] stuclem commented on #987
@renmaosheng do we need to address this in 1.5.4?

[2019-08-22 09:45] stuclem commented on #2317
Thanks @renmaosheng. Closing per comment above.

[2019-08-22 09:45] #2317 closed

[2019-08-22 09:46] stuclem commented on #2325
@renmaosheng can you please confirm ^^^ ?

[2019-08-22 09:51] stuclem commented on #2460
Info is in the internal bug. TBD in 1.5.4.

[2019-08-22 09:52] stuclem commented on #2468
TBD in 1.5.4

[2019-08-22 09:56] stuclem commented on #869
@renmaosheng should we address this in 1.5.4?

[2019-08-22 10:53] stuclem commented on #2163
@luwang-vmware is VC HA supported in 1.5.4? Thanks!

[2019-08-23 01:56] luwang-vmware commented on #2163
@stuclem This item is in our queue. I will update once we finish validation.

[2019-08-23 12:14] stuclem commented on #2163
OK, thanks @luwang-vmware

[2019-08-23 12:41] stuclem opened #2504 "Document that both http_proxy and https_proxy should be set to make sure Clair updater works"
Per internal bug 2397571

[2019-08-28 06:27] luwang-vmware commented on #2163
@stuclem  We have validated it with 67U3 with our incoming VIC1.5.4 bits.

[2019-08-28 07:02] stuclem commented on #2163
Thanks @luwang-vmware, I have added it to the 1.5.4 doc release.

[2019-09-03 06:47] DanielXiao commented on #2391
It is already fixed in https://github.com/vmware/vic-product/pull/2478

[2019-09-03 06:47] #2391 closed

[2019-09-03 09:47] yuyangbj commented on #987
@stuclem based on current VIC customers usage, they do not complain this problem and it is just missing a summary in table format, so we will not fix it in VIC. My recommendation is close it.

[2019-09-03 10:25] renmaosheng commented on #2304
Hi Stuart，
      we don't plan to fix it, as there is no customer complained such issue, there is no functional impact. we don't need to document it either. thanks.

[2019-09-03 10:25] #2304 closed

[2019-09-03 10:37] stuclem commented on #987
OK, thanks @yuyangbj

[2019-09-03 10:37] #987 closed

[2019-09-03 15:14] stuclem opened #2506 "Document that 1.5.4 supports vsphere 6.7 U3"

[2019-09-05 06:46] luwang-vmware commented on #1714
@renmaosheng  Our nsxt-t scenario is not private-network. We leverage hack-nimbus to deploy private network and succeed to deploy VIC OVA, install VIC UI plugin and deploy VCH. Close it now.

[2019-09-05 06:46] #1714 closed

[2019-09-13 11:36] stuclem commented on #2506
Actually, this information goes in the [VMware Product Interoperability Matrices](https://partnerweb.vmware.com/comp_guide2/sim/interop_matrix.php#interop&149=&0=), which from the looks of things hasn't been updated since 1.5.0.

[2019-09-13 11:40] stuclem commented on #2506
@renmaosheng who is responsible for updating the interop matrix?

[2019-09-13 11:53] stuclem commented on #2425
Closing per https://github.com/vmware/vic-product/issues/2304.

[2019-09-13 12:32] stuclem commented on #2415
Actually, looking at https://github.com/vmware/vic-product/pull/2478, I'm not sure that there is a doc impact here. @DanielXiao do we need to document anything in relation to https://github.com/vmware/vic-product/pull/2478 and https://github.com/vmware/vic-product/issues/2391? Thanks!

[2019-09-13 13:03] stuclem commented on #2421
https://github.com/vmware/vic/issues/7592 is still open. @renmaosheng will proxy authentication be implemented in 1.5.4?

[2019-09-13 14:38] stuclem commented on #938
https://kb.vmware.com/s/article/56445 is publicly available, so I consider this fixed.

[2019-09-13 14:38] #938 closed

[2019-09-16 08:59] #2456 closed

[2019-09-16 13:37] #2504 closed

[2019-09-16 15:18] stuclem commented on #869
Not for 1.5.4.

[2019-09-16 15:18] stuclem commented on #2421
Not for 1.5.4.

[2019-09-16 23:46] DanielXiao commented on #2415
/storage/data/admiral/custom.conf is used for customized configuration, but it is flushed out every time admiral restart. Fix in #2478 is to persist this file and combine with automatically generated configurations.

[2019-09-18 06:56] #2468 closed

[2019-09-18 06:57] #2460 closed

[2019-09-18 07:10] #2163 closed

[2019-09-18 07:12] stuclem commented on #2506
Covered by release notes and interop matrix.

[2019-09-18 07:12] #2506 closed

[2019-09-18 07:14] stuclem commented on #2415
OK, thank you @DanielXiao. I think that this is a release note issue.

[2019-10-11 09:19] Journey-x commented on #2315
How to verify the existence of this vulnerability CVE-2018-15919?

[2019-11-08 10:52] stuclem opened #2528 "Document to include full path if cluster is in a folder"
Per internal bug, any `vic-machine` command with the `--compute-resource` parameter requires the full path to the cluster if the cluster is under a folder. For example

[code]

This requires an update in https://vmware.github.io/vic-product/assets/files/html/1.5/vic_vsphere_admin/vch_compute.html. We already mention to do this if the cluster is in a resource pool, but we don't mention folders.

[2019-12-06 13:35] stuclem opened #2530 "Minor modif in certs doc"
Per Slack comment from @YanzhaoLi:

Could you help modify the vic doc:  https://vmware.github.io/vic-product/assets/files/html/1.5/vic_vsphere_admin/vch_cert_options.html#auto-server ?
As customer says, we should point out that the server-crt.pem is self-signed, so that using the Server certificate  for docker --tlscacert= which is the parameter referring to the CA certificate . I think we should

[2019-12-14 02:27] bobbywaz commented on #1308
WHY IS THIS STILL A PROBLEM?! this was TWO YEARS AGO and the OVF still doesn't deploy right.

[2020-01-20 10:19] stuclem commented on #2528
@VinodJIsaac can you please take a look at this one?

[2020-01-20 10:20] stuclem commented on #2530
@VinodJIsaac can you please take a look at this one? Thanks!

[2020-01-20 10:21] stuclem commented on #2415
@VinodJIsaac can you please check with @DanielXiao if there is indeed a doc update to make here? Thanks!

[2020-01-20 10:22] stuclem commented on #2325
@VinodJIsaac can you please check with @renmaosheng that the ports docs are complete?

[2020-01-20 10:29] stuclem opened #2538 "Document support for vSphere 7"
This requires an update in https://vmware.github.io/vic-product/assets/files/html/1.5/vic_vsphere_admin/vi_reqs.html. With the additon of 7, we should hopefully drop some of the older versions.

There are some purely vSphere Client based operations that need to be checked against vSphere 7. For example:

- https://vmware.github.io/vic-product/assets/files/html/1.5/vic_vsphere_admin/reconfigure_app

[2020-01-20 10:30] stuclem commented on #2325
Ports are also listed here: https://vmware.github.io/vic-product/assets/files/html/1.5/vic_vsphere_admin/security_reference.html

[2020-01-20 10:34] stuclem commented on #2165
@renmaosheng are we going to address this in 1.5.5?

[2020-02-03 07:21] renmaosheng commented on #2165
No, we will not address this in 1.5.5, let's keep the current status. thanks.

[2020-02-04 22:00] BurningTheSky opened #2540 "Installation failed: Failed to register with PSC."
#### Summary
I have deployed v1.5.4 but when I go to register the VIC with my VCSA I get the error "Installation failed: Failed to register with PSC. Please check the PSC settings provided and try again". I have tried multiple times and I have also tried with the curl json method but get the same result. I'm not using an external PSC and the VIC VM can ping the vCenter. I have tried the FQDN and I

[2020-02-05 16:25] lazarin commented on #2540
Hi @BurningTheSky,

Can you setup time synchronization on both vic appliance and vsphere machines? Seems there's a time drift.
See point 3. in https://vmware.github.io/vic-product/assets/files/html/1.5/vic_vsphere_admin/ts_appliance_running_errors.html

[2020-02-05 18:33] BurningTheSky commented on #2540
Perfect! Thanks, I didn;t realise I was having NTP issues!

[2020-02-05 18:33] #2540 closed

[2020-02-12 04:57] ading007 opened #2541 "VIC appliance VM IP can not show in the vm summary page for the vsphere7.0"
Deploy vic appliance using https://storage.googleapis.com/vic-product-ova-releases/vic-v1.5.4-7589-e70af4fe.ova, can get ip normally, but can not show in the vm summary page, as follows:
VC_build: 15610183
esx_build: 15525992

![image](https://user-images.githubusercontent.com/19757922/74303843-2508fa80-4d96-11ea-81ce-7bfab8c65f55.png)

Deploy VM using other .ova file can show ip normally, for exa

[2020-02-12 06:12] DanielXiao commented on #2541
We use [https://github.com/vmware/govmomi/tree/master/toolbox](toolbox) as guest tool. How can we pin it to the latest version? @wjun

[2020-02-12 08:04] stuclem opened #2542 "UDP port expose cannot be configured from VIC HTTP interface."
@Hedgehog57 commented on [Tue Oct 01 2019](https://github.com/vmware/vic/issues/8594)

#### Summary

UDP port expose cannot be configured from VIC HTTP interface.

#### Environment information

##### vSphere and vCenter Server version

VSphere 6.7U3
ESXi 6.7U3
VCenter VCSA 6.7U3
##### VIC version

1.5.4
##### VCH configuration

vic-machine-windows.exe create --target vcenter --user username@domain

[2020-02-12 08:05] stuclem commented on #2542
Moved to the `vic-product` repo for doc.

[2020-02-13 04:40] dougm commented on #2541
It works as expected for me with build number 33262262 using https://github.com/vmware/govmomi/tree/master/toolbox#testing

Seems the UI difference is newer vCenter uses the VirtualMachine `guest.net` property here, but older vCenter UI used the `guest.ipAddress` field + `guest.net`.  The toolbox populates both fields, however `guest.net` requires a fork of the xdr package: https://github.com/vmwa

[2020-02-14 09:05] #2541 closed

[2020-02-18 07:59] jitinkumar2018 opened #2548 "VIC appliance upgrade from VIC 1.5.4 to VIC 1.5.5 fails with error: "Detected old appliance's version as unknown""
Bug Report Basic Information

vCenter Server version: 6.7 U3 14368073
Embedded or external PSC: Embedded
Old Vic Build: v1.5.4-7589-e70af4fe.ova
New Vic Build: https://storage.googleapis.com/vic-product-ova-builds/vic-v1.5.5-rc1-7671-2bda6c64.ova
How was the OVA deployed? ovftool
Does the VIC appliance recieve configuration by DHCP? No
What stage of the Appliance Lifecycle is the VIC appliance in?

[2020-02-18 09:37] jitinkumar2018 commented on #2548
@renmaosheng @luwang-vmware

[2020-02-19 18:58] jitinkumar2018 opened #2550 "Unable to Register VIC appliance to 7.0 VC via API"
Bug Report Basic Information

VC Build:  https://buildweb.eng.vmware.com/ob/15610183/
ESX Build: https://buildweb.eng.vmware.com/ob/15525992/
Embedded or external PSC: Embedded
Vic Builds used: v1.5.4-7589-e70af4fe.ova, vic-dev-v1.5.5-rc1-7701-fb00e93c.ova
How was the OVA deployed? ovftool
Does the VIC appliance recieve configuration by DHCP? No
What stage of the Appliance Lifecycle is the VIC app

[2020-02-19 18:58] jitinkumar2018 commented on #2550
@renmaosheng @luwang-vmware

[2020-02-19 19:00] jitinkumar2018 commented on #2548
Verified that upgrade was successful from VIC 1.5.4 to VIC 1.5.5 with new builds provided by @luwang-vmware
new VIC Build: https://storage.googleapis.com/vic-product-ova-builds/vic-dev-v1.5.5-rc1-7701-fb00e93c.ova
Hence closing this issue

[2020-02-19 19:00] #2548 closed

[2020-02-19 19:14] jitinkumar2018 commented on #2550
Closing bug as there was a time skew between VC and VIC appliances. NTP server wasnt running on the ESX. After fixing time skew, was able to register appliance to VC

[2020-02-19 19:14] #2550 closed

[2020-02-20 12:33] jitinkumar2018 opened #2551 "Container VMs do not get DHCP IP"
Bug Report Basic Information

VC Build: https://buildweb.eng.vmware.com/ob/15610183/
ESX Build: https://buildweb.eng.vmware.com/ob/15525992/
NSXT Build: https://buildweb.eng.vmware.com/ob/15314292/

Embedded or external PSC: Embedded
Vic Builds used: vic-dev-v1.5.5-rc1-7701-fb00e93c.ova
How was the OVA deployed? ovftool
Does the VIC appliance recieve configuration by DHCP? No
What stage of the App

[2020-02-22 13:07] BurningTheSky opened #2552 "Size of volumes for containers"
#### Question
I'm looking for help with working out how to size volumes, I created them using the docker volume create command but it has only created 1gb volumes. How do I make them at a bigger size? All the information I can find on docker references files which don't appear to exist for me.

#### See also
root@18b01f72f791:/# df -h
Filesystem                           Size  Used Avail Use% Moun

[2020-02-22 14:15] YanzhaoLi commented on #2552
Did you create volume-store when you created your VCH?  If yes, you can see your volumes with `docker volume ls`.
Here is the doc: https://vmware.github.io/vic-product/assets/files/html/1.5/vic_vsphere_admin/backup_volumes.html

[2020-02-22 17:38] BurningTheSky commented on #2552
I did, that article is exactly what I couldn't find! --opt Capacity=5G solved all my issues, thank you!

[2020-02-22 17:38] #2552 closed

[2020-02-25 11:49] yuyangbj commented on #2551
I checked your environment, the dhcp server does not configure the default gateway. VIC assumes the default gateway information will be returned from DHCP reply packet.

[2020-02-25 12:20] jitinkumar2018 commented on #2551
Thanks @yuyangbj.  As of now in NSXT grindcore, there is a NSXT Manager UI issue wrt configuring default gateway  for DHCP server. Will work with NSBU team on this

[2020-03-03 06:57] jitinkumar2018 commented on #2551
After configuring gateway CIDR in the segment attached to the local DHCP server, container VMs started getting DHCP IP.
![image](https://user-images.githubusercontent.com/42163572/75750511-354b3000-5cd9-11ea-99dd-25bd453a853d.png)

[2020-03-03 06:57] #2551 closed

[2020-04-13 08:34] stuclem commented on #2538
Fixed

[2020-04-13 08:34] #2538 closed

[2020-04-13 08:35] stuclem commented on #2415
Fixed in https://github.com/vmware/admiral/releases/tag/vic_v1.5.5#resolvedissues

[2020-04-13 08:35] #2415 closed

[2020-08-23 15:24] bohica70 opened #2576 "Password Expired"
I just rebooted my VCH and am prompted that the root password has expired. After changing it, I am able to login. Running chage on any of the account shows the paswords expired July 9th 2020. After a reboot, I am once again prompted to change the root password.

[2020-08-23 18:18] bohica70 commented on #2576
I brought my system down yesterday and when I powered everything back up the VCH console showed this. Docker never started on the host. Once I changed the password and was able to get to a command prompt, every account on the appliance expired on 7-09-20. I downloaded the OVA again, uninstalled and redeployed VIC, but still have the same issue with a new VCH deployment. Any ideas?

![image](https:

[2020-08-23 19:37] bohica70 commented on #2576
Never mind.. this was a red-herring.. I changed the vcsa certificate and the port-layer log showed it couldn't connect.

[2020-08-23 19:37] #2576 closed

[2020-08-24 20:09] vitaprimo opened #2578 "VIC Management randomly failed to start. It won't recover."
#### Summary

After authentication, vSphere Integrated Containers Management fails to load with error `{"message":"Service not found: https://127.0.0.1:8282/","statusCode":404,"documentKind":"com:vmware:xenon:common:ServiceErrorResponse","errorCode":-2147483648}`.

Restarting individual services fails, `systemctl reset-failed` appears to work, `systemctl is-system-running` will show `running` but

[2020-08-24 20:32] vitaprimo commented on #2578
Again, not a programmer here, but `RDSEED` and `RDRAND` sound like CPU related, I remember the last one from VPNs, so I killed the appliance and changed **CPU/MMU Virtualization** from Automatic to **Hardware CPU and MMU** booted the thing up, rushed to the portal and I got the same JSON with something about not yet ready. Eventually it redirected me to SSO and after authenticating it worked again

[2020-08-27 05:22] jitinkumar2018 opened #2579 "VIC appliance upgrade from VIC 1.5.5 to VIC 1.5.6 fails with error: "Detected old appliance's version as unknown""
Bug Report Basic Information

vCenter Server version: ob-16130882
Embedded or external PSC: Embedded
Old Vic Build: v1.5.5-7767-a7161963.ova
New Vic Build: https://storage.googleapis.com/vic-product-ova-builds/vic-v1.5.6-rc1-7812-b20709b8.ova
How was the OVA deployed? ovftool
Does the VIC appliance recieve configuration by DHCP? No
What stage of the Appliance Lifecycle is the VIC appliance in? Upg

[2020-08-27 07:15] #2579 closed

[2020-09-01 23:47] Shogun8 commented on #2448
I have a similar issue. Using the same setup, my containers cannot resolve each others hostnames over the user-defined bridge network; it attempts to resolve the hostnames using the DNS server that was configured during the creation of the VCH. My guess would be that all the containers on the bridge network are attempting to resolve on an external DNS server first, then falling back to the interna

[2020-10-01 15:13] fabiogermann commented on #2542
Just FYI - there is a workaround for anyone that is looking for this. Create a template in VIC (in library/templates), export it as docker compose and change the section:

[code]
to:
[code]
and re-import the template. The UDP port will be saved in the template and you can use it.

[2021-03-10 03:08] hdytc opened #2594 "After VIC Appliance v1.5.6 is deployed, Harbor failed to start."
#### Summary

After VIC Appliance v1.5.6 is deployed, some container will not work.
![image](https://user-images.githubusercontent.com/25548735/110568713-67b22780-818e-11eb-8b4c-488ac2326ae2.png)
It looks like the root password in the container has expired.
![image](https://user-images.githubusercontent.com/25548735/110570103-61bd4600-8190-11eb-8205-d7bfe9a884e9.png)

#### Environment information

[2021-03-27 16:25] chb88 commented on #2594
See this issue:

https://github.com/vmware/vic/issues/8651

[2021-03-30 14:15] Zanathoz opened #2596 "VIC and VCH TDNF Repositories pointing to old Photon OS Repositories"
I had to follow this guide to update the repositories on my VIC and VCH deployments:

https://kb.vmware.com/s/article/81304?lang=en_US

[2021-04-28 04:20] #2594 closed

[2022-01-19 16:05] gitloy opened #2611 "Failed to register with PSC - OVA 1.5.8"
#### Summary
Installation failed: Failed to register with PSC. Please check the PSC settings provided and try again

#### Environment information

##### vSphere and vCenter Server version
vSphere:  VMware ESXi, 6.7.0, 15160138
vCenter:  Server 6.7.0.48000

##### VIC Appliance version
vic-v1.5.8-7942-4cc5e276.ova

##### Configuration

- EmbeddedPSC:
- How was the OVA deployed? HTML5
- Does the VIC

[2022-01-19 16:18] gitloy commented on #2611
I will add that I can ssh into the appliance and from there I can successfully ping both the FQDN and IP address of our vcenter/psc

[2022-01-25 10:33] AlchemicalChef commented on #2611
I'm having the same issue here as well, none of the previous troubleshooting steps have worked.

[2022-01-25 11:45] gitloy commented on #2611
@AlchemicalChef  From what I've seen on the vmware subreddit I'm pretty sure no one is working this project anymore.

[2022-01-26 05:38] AlchemicalChef commented on #2611
Yeah they want you to use Tanzu instead, but it's way more effort than I want to put in.

[2022-01-26 09:19] lazarin commented on #2611
Seems like both error logs reveal different problems,
@AlchemicalChef can you try to sync the clock on all machines, probably there's some time lag between them
@gitloy not sure in that case, just seeing that there's `Unexpected status code: 404` in library which is trying to connect to the psc :(

[2022-05-23 20:46] bosco777 commented on #2413
I hate to comment on an old thread, but I have vSAN encryption with vCenter KMS, and experienced the same problem with the 'grant all permissions needed' option, and needing to create the images folder manually for this to work.  So this still seems to be an issue.